[2011-10-28 02:15] kostikvento commented on #266
Well, I found it myself :) it is "erl -noshell -pa /home/user/full/path/to/ai_folder -s my_bot start -s init stop".

[2011-10-29 00:54] McLeopold opened #340 "put game_settings.php in footer"
put game_settings.php in footer

[2011-10-29 02:32] Storyyeller opened #341 "playgame.py incorrectly handles working directories and commands"
When passed a command invoking an executable in a different directory, playgame.py incorrectly splits the path and attempts to use the executable name relative to the detected working directory. But according to the official documentation of Subprocess, this is incorrect.

[quote]If cwd is not None, the child’s current directory will be changed to cwd before it is executed. Note that this director

[2011-10-29 05:42] Zannick commented on #341
That will work for executables, but not for any languages where the executable is not the compiled binary, eg. Java.

When the executable is 'java', then the argument passed to it can be relative to the cwd, eg. 'MyBot.jar' in 'java -jar MyBot.jar'. When the executable is the binary, then yes, we need to pass the original path to subprocess, if that's how we're launching.

Unfortunately, while I c

[2011-10-29 05:53] amstan opened #342 "Work on more permanent urls"
With our archival efforts, I also want to make sure that external links to the current contest will remain working.

A bad example I saw just today is http://quotenil.com/Planet-Wars-Post-Mortem.html, he's linking at the rankings page, but his name is not at the top anymore, in fact it's the wrong contest he links at.

The idea is to keep each contest on its own subdomain. Subdomains will be named

[2011-10-29 05:56] amstan commented on #342
How easy is it to change the urls from the replays? I think they all go to aichallenge.org now.

[2011-10-29 06:07] Zannick commented on #341
Fixed with 86d12b32a2.

[2011-10-29 06:07] #341 closed, assigned to Zannick

[2011-10-29 07:47] Janzert opened #344 "Update contest rules"
The current rules are essentially unchanged from the last few contests. There's probably more but a couple that I'm looking at right now that really need updating are:
- You may not write to files. You may however read from files within your submission directory, which will be the current directory.
- Use of multiple processes or OS threads are prohibited.

Neither of these are things we actually

[2011-10-29 09:32] ghost commented on #309
But you can send your make files... so where is the problem?

[2011-10-29 10:08] McLeopold commented on #326
It's in the wiki, we just need to update the website.

[2011-10-29 10:08] #326 closed, assigned to nobody

[2011-10-29 10:09] #294 closed, assigned to nobody

[2011-10-29 10:09] McLeopold commented on #294
Mostly done.

[2011-10-29 12:18] AlvinMinring commented on #309
Makefiles are not used - take a look at the server's source code, or _try_ things before assuming them to be true.

[2011-10-29 12:48] gattschardo commented on #266
Glad you found that so quick. If there's anything you don't like about the package (or even bugs), please let me know!

Btw, you can leave out the "start", since erl will call this by default when no function is given, so

[code]

[2011-10-29 13:57] kostikvento commented on #266
Thanks for your reply. So far, your starter package is doing good :)

I am kind of newbie in Erlang, so my questions may look naïve.
The next one is: what files should the submission package contain? Source files only (i.e. *.erl, *.hrl and the like) or compiled *.beam files, too? What is the AI Challenge compiling procedure for Erlang-driven bots?

[2011-10-29 15:59] Storyyeller commented on #309
This feature would be extremely helpful. Decltype/Auto alone is a lifesaver.

[2011-10-29 19:15] ghost commented on #309
I took this from starter package README.txt
"If you add any additional .cc files to your bot, you will need to alter the Makefile to include them. If you submit your bot with the Makefile included, the server will attempt to use this when compiling your bot, otherwise it will revert back to the auto compile script that is available on the contests github site."

[2011-10-29 19:27] Storyyeller commented on #309
I submitted a makefile with -std=c++0x enabled, but it gave compiler errors. So something is wrong, and it would appear to be the readme.

[2011-10-29 21:43] j-h-a commented on #336
I forked the repo to work on this feature here: https://github.com/j-h-a/aichallenge

[2011-10-30 10:27] ghost commented on #309
Wich version of gcc do you use? Because 4.6 have much wider support of c++11

[2011-10-30 16:14] Storyyeller commented on #309
I was using auto, which is supported even in gcc 4.4, and the server uses 4.5, so that's not the problem. The readme is clearly wrong here.

[2011-10-30 17:51] avdg opened #345 "Server error while trying to view more submission pages"
This page gives me a 500 error http://aichallenge.org/profile_submissions.php?user=1737&page=1

To get to this page, go to a user profile with more than 10 submissions like http://aichallenge.org/profile.php?user=1737 and click on "View more" at the bottom of the page.

I don't know yet if this is a bug, or (a not implemented) feature.

[2011-10-30 20:05] Janzert commented on #345
Sorry, I broke it earlier. Should be fixed now.

[2011-10-30 20:05] #345 closed, assigned to nobody

[2011-10-30 20:30] ypb commented on #345
nah, it still looks broken. besides not showing any sort of table or other content (i don't know how it's supposed to have looked) it's not even displaying user_id in the href.

perhaps variable dereference inside quoted quotes isn't such an echoic idea?!?

[2011-10-30 21:13] Janzert commented on #345
Maybe try refreshing/clearing your browser cache? The page is loading fine for me.

[2011-10-30 21:18] Janzert commented on #345
Ahh, ypb I think I see what you're talking about now. It's not the original bug reported here about a server 500 error. But an incomplete page for users other than the logged in user.

[2011-10-30 21:20] ypb commented on #345
heh, i'd ask you to do the same thing. i tried browsing several other contestants with more than 10 submissions in another browser that did not see those pages for sure before and behavior is as i described it: zilch, not even a user number in the user profile href. but that would indicate that user_id is not NULL and the code enters the if...

i know, weird. perhaps server side is doing some cach

[2011-10-30 21:26] Janzert commented on #345
Ok, found the cause of your report as well ypb. It was a completely unrelated problem caused by recent persistent login changes. Should also be fixed now.

[2011-10-30 21:30] ypb commented on #345
yup, works, now. over and out.

[2011-10-30 22:22] McLeopold commented on #344
+1

[2011-10-30 22:22] amstan commented on #344
Sounds good.

[2011-10-30 22:27] Janzert commented on #342
I like the overall scheme. Given that we're now in the middle of the ants contest I'd rather not make the change to ants.aichallenge.org until after the contest is over. An alias of ants.aichallenge.org would be fine immediately though.

[2011-10-30 22:39] Janzert commented on #198
Amstan, they were all updated manually and shouldn't be changing (or only quite rarely, manually and exceptionally) for the remainder of the contest.

[2011-10-30 22:51] Janzert commented on #340
Added to menu

[2011-10-30 22:51] #340 closed, assigned to nobody

[2011-10-31 00:34] amstan commented on #342
I disagree. We should be getting the change now. Or else everyone who links to the current contest will have their links broken when it's over.

[2011-10-31 13:23] kostikvento commented on #266
Well, I found the answer again :) A link to compile.py was posted in the challenge forum, so it is clear now that *.erl files suffice.

[2011-10-31 13:39] DanielVF commented on #342
+1

A subdomain per contest is the way to go. Allows you to make a static version of the site later on, and put it up on S3 for long term archiving.

[2011-10-31 15:49] tdrgabi opened #346 "activated submissions"
On a sandbox install of aichallenge, why do I see two buttons activate/deactivate on my user page and what can I do with it?

The second version is compiled and waiting to be used (just 2 players online) but it's never picked up. Only 1 game and that's all.

[2011-10-31 18:25] McLeopold commented on #346
check the forums

[2011-10-31 18:25] #346 closed, assigned to nobody

[2011-11-01 07:23] ZacVawter opened #349 "C++ compiler flag: -I."
This will allow C++ users to upload code that uses #include <....> notation.  In the case of the boost libraries it is almost impossible to use any piece of it because of the lacking -I.  All of the boost source would have to be modified, and its no trivial task.

Alternatively boost could be installed as a library.

[2011-11-01 08:22] mleise commented on #344
+1, but let me give a real answer. I think details on how large the written files may become don't need to be in the rules. There is simply no point in writing to files. They are not preserved and we grant way more RAM than what 10 MB slow swap would represent. Maybe put it in parenthesis after a simple one-liner, for those that uploaded a bot that writes a log and wonder if it will be disqualifie

[2011-11-04 11:45] johshoff opened #352 "Documentation: spawnradius2 is used instead of attackradius2"
For specifying battle rules, the following pseudo-code is used:

[code]

On pages http://aichallenge.org/specification.php and http://aichallenge.org/specification_battle.php .

It should read `attackradius2`, not `spawnradius2`. The python code is correct.

(Another detail is that it is slightly confusing that it says "the ant dies" while traversing the ants. It does not die immediately, but only

[2011-11-04 11:52] Janzert commented on #352
Thanks, should be fixed now.

[2011-11-04 11:52] #352 closed, assigned to nobody

[2011-11-04 11:56] johshoff commented on #352
Thanks for the quick response! Confirmed fixed.

[2011-11-04 20:40] Storyyeller commented on #309
By the way, this was added under the filename cpp, so the issue can be closed.

[2011-11-04 20:41] Storyyeller commented on #349
I think providing a boost installation would be a better option since it saves on submitted filesize and bandwidth. Of course providing boost and -I is even better!

[2011-11-07 06:25] wfi commented on #12
PurplePanda's AuntHillary seems to have disappeared.  I am intending to write a starter package for Racket unless someone points me to a finished or nearly finished alternative.  Thanks!

[2011-11-09 00:06] Janzert commented on #344
Some concrete rewrites then

Prohibited actions:
-  Entries which are deemed to violate the spirit of fair and sportsmanlike competition will be disqualified without any opportunity for appeal. In particular, memory scanning, intentionally losing games, and behavior conditional on the opponent's identity are prohibited.

To:
-  Entries which are deemed to violate the spirit of fair and sportsmanli

[2011-11-09 19:37] avdg opened #360 "Annoying prompt window shows up when typing "i" in search user box"
Steps to reproduce

1) Go to a page with a game visualizer (for example http://aichallenge.org/visualizer.php?game=77823 )
2) Focus the user search box under the navigation column on the right of the page
3) Type an "i"

This should pop up a prompt window from the game.

Note (bit irrelevant for this issue): Are these shortcuts btw documented?

[2011-11-12 01:13] bjj commented on #344
I suggest you simply use ulimit to enforce the file size you are concerned with.

Regarding threads I would suggest an overhaul of the time limit and thread/processor rules entirely:

Allow some reasonable number of threads (enough for Java, Mono, etc) and let anyone use them with any language.  Remove the wall clock time limitation and instead enforce a CPU time limitation via getrusage().  Bots

[2011-11-12 01:21] Janzert commented on #344
Thanks for the comments. We're too far into this contest to switch to cpu time at this point but it would be nice to switch to some sort of combination cpu/wall time measurement for the next contest.

These new rules are now in place so I'm closing this issue. Any discussion on means of enforcing them should be separate issues.

[2011-11-12 01:21] #344 closed, assigned to nobody

[2011-11-13 04:44] ChrisHines opened #366 "Hover text on game times not accurate."
The hover text for game times on user profile pages (and maybe elsewhere) does not match the difference between the game time and the "page refreshed at" time displayed at the top of the profile page for a logged in user.

Janzert suspects the hover text is being cached and not recomputed, causing it to be inaccurate.

[2011-11-13 20:43] Zannick commented on #309
FYI the starter readme is not correct regarding the Makefile: the compiler script on the contest server does not use it at all.

Closed as we have C++11 support now for bots submitted with MyBot.cpp.

[2011-11-13 20:43] #309 closed, assigned to nobody

[2011-11-13 20:54] Zannick commented on #237
The metadata folder ends up being a problem because it contains files with the same extension as code files for your bot, so the script tries to compile them, too. Perhaps for the next contest we should ignore anything in folders that start with "__" or put some warning somewhere about trying to use the native Mac zipper.

[2011-11-13 21:07] Zannick commented on #16
We still want to detect what language it is, for multiple reasons aside from the display: whether to run a build system at all, and to know what to expect as a result from the build system.

For example, we don't need to compile scripting languages, and we need to know whether we should be running MyBot, an interpreter, or the java VM.

Unless you're suggesting we ask contestants to include a comp

[2011-11-13 21:16] Zannick commented on #128
http://aichallenge.org/country_profile.php
http://aichallenge.org/language_profile.php
http://aichallenge.org/organization_profile.php

are all extremely similar to

http://aichallenge.org/rankings.php

We should move their functionality (limiting the ranking results) into rankings.php. I'll note that this will allow us to see rankings like "C++ users from the United States".

[2011-11-13 21:22] Zannick commented on #360
I guess the problem is that the visualizer is grabbing keyboard input even when it doesn't have focus.

[2011-11-16 02:56] jackpal opened #369 "dart starter pack "turn 0 bot 0 crashed""
Now when I upload my dart starter pack it is recognized as a Dart bot. (Hurray!) But I get this error message:

Test Error: compiled, but failed test cases
turn    0 bot 0 crashed

Is there any way I can reproduce this locally (maybe in a VM) to see what's going wrong?

[2011-11-16 13:37] amstan commented on #369
./test_bot.sh in the tools package.

[2011-11-16 13:45] amstan commented on #320
This should be closed.

[2011-11-16 13:45] #320 closed, assigned to nobody

[2011-11-16 13:46] amstan commented on #228
You should really send a pull request if you want this fixed.

[2011-11-16 13:46] #228 closed, assigned to nobody

[2011-11-16 13:47] amstan commented on #311
Fixed.

[2011-11-16 13:47] #311 closed, assigned to nobody

[2011-11-16 13:49] amstan commented on #310
What if you want to compile on windows?

Can you submit a pull request for this?

[2011-11-16 13:49] amstan commented on #152
Isn't this done?

[2011-11-16 13:52] amstan opened #370 "Bot errors on the visualizer page are wonky"
A few issues with the visualizer.php page:
- As an admin, it says my name instead of the bot that crashed.
- The actual bot owner can't even see the error.
- There's also tabs in that file(visualizer.php).

I would fix this but i don't know what the intended behavoir is.

[2011-11-16 14:04] jackpal commented on #369
Thanks!

I think I figured out the problem -- the dart language support package dart-frogsh-r1499.tgz was missing some needed library files. Shoddy testing on my part.

I have published a new version of that package, dart-frogsh-r1499-2.tgz, that has the missing files, and I have submitted a pull request https://github.com/aichallenge/aichallenge/pull/371

[2011-11-16 14:59] #369 closed, assigned to nobody

[2011-11-16 15:03] VictorNicollet commented on #310
`-lib unix` is supported on Windows (actually, only a subset is), and if it wasn't, then the package wouldn't work on Windows anyway. From what I recall, the only pieces of `Unix` used are `Unix.gettimeofday ()` which should work cross-platform.

As for the pull request, I would, if I could find the aforementioned README.md in the source tree...

[2011-11-16 15:11] #310 closed, assigned to nobody

[2011-11-16 15:23] McLeopold commented on #152
Janzert is against selecting old version because we don't know how it would affect ratings.  We can currently deactivate the latest submission or reactivate it.

[2011-11-16 15:23] #152 closed, assigned to nobody

[2011-11-16 15:27] McLeopold commented on #366
That is exactly what is happening.  I could probably inject a time_generated into the html and have javascript keep it up to date.

[2011-11-18 06:15] Janzert commented on #366
Simpler might be to just exclude "time ago" from the memcached data and let the php code regenerate it on each request.

[2011-11-18 10:02] Janzert commented on #370
Fixed

[2011-11-18 10:02] #370 closed, assigned to nobody

[2011-11-19 06:59] jackpal opened #375 "Tutorial script may need to add --viewradius2 55"
Something funny is going on for me in the tutorial: When I run the tutorial on my machine, against my bot, the viewradius2 setting is 77. But I checked the data files for the recorded battles on the web site, and they have a viewradius2 of 55.

That makes a difference because it means my bots see things at different times than the recorded battles do, leading to different behavior.

I find that if

[2011-11-20 05:52] McLeopold commented on #375
The tutorial was made when we were not sure of the view radius.  It is now set at 77 for the official site and should have been updated in all tools.

I will add a note to the tutorial pages explaining the difference.

[2011-11-20 05:52] #375 closed, assigned to nobody

[2011-11-21 00:53] CircuitGuy opened #377 "Replay: Game where 2/3 bots crashed on setup"
http://aichallenge.org/visualizer.php?game=110604

Server glitch?

[2011-11-21 03:23] Janzert commented on #377
It's a map that is very common for bots to time out on the first move because of the large amount of input they receive. My understanding is also that the input parsing as written in the Java starter is especially slow and prone to this.

[2011-11-21 03:23] #377 closed, assigned to nobody

[2011-11-21 20:46] voxpelli commented on #286
Odd version numbers of NodeJS are the unstable ones so if one only wants to support stable versions then 0.4 was the right one until the release of 0.6. Now that 0.6 is released though an update would be nice.

[2011-11-25 01:07] amstan opened #379 "Error when changing user profile as admin."
Steps to reproduce:
- Go to a random profile
- Attempt changing the bio
- Blank screen with: "Bad update key found."
- Bio does not get changed

[2011-11-30 12:48] jbrooksuk opened #382 "PHP MyHills"
How do we get "my_hills" from the PHP pack?

Does `passable` do the same thing?

[2011-11-30 16:02] avdg opened #383 "Broken path in visualizer"
After running my games from a relative path, I found an empty window.
This is caused by 1 missing character in the path (see pastebin).

../../../ichallenge must be ../../../aichallenge

Paste bin: https://gist.github.com/1409587
Tested commit: 535b4a83fd7ca1370b573de728ec6ee0c8fe1174

[2011-12-02 01:25] amstan opened #384 "Map games pagination is broken"
Attempting to go to [http://aichallenge.org/map.php?map=9&**page=2**](http://aichallenge.org/map.php?map=9&page=2) yields page 1 instead

[2011-12-02 22:09] jcdny opened #385 "Player_seed returned by visualizer for bot input is incorrect"
Sometimes anyway.

For example in game 95405 http://aichallenge.org/visualizer.php?game=95405, the json file has
player_seed: -3494269252759342425,
and in the generated input it has
player_seed -3494269252759342600.

Probably not that easy to fix unless you carry the seed around as a string since you can't represent int64 as a javascript numeric.

[2011-12-05 13:11] #12 closed, assigned to n-ham

[2011-12-05 13:12] amstan commented on #12
Racket Starter package now available.

[2011-12-05 18:53] McLeopold commented on #384
It wasn't broken.  I was never built!

[2011-12-05 18:53] #384 closed, assigned to nobody

[2011-12-05 18:56] McLeopold commented on #385
maybe we should limit the seed amounts to 32bits?

[2011-12-05 19:02] McLeopold commented on #321
Another contestant recently had issues with this.  They would have liked to see more warnings.  In the future, I'd like to capture as much error and warning data as possible to display to the user, but allow the bot to compile and compete regardless.

[2011-12-05 19:06] McLeopold commented on #383
it's probably in visualize_locally around lines 16-23.  I'd need more info to reproduce your issue.  What is your tree structure and what was the command you used to play the game?

[2011-12-05 19:27] jcdny commented on #385
what I do in my own code is take (seed >> 16) ^ (hill_loc \* 1337) and use that which avoids the problem and if I run my bot against itself each one gets a deterministic seed but one that differs based on initial hill location.  I know js numerics are
supposed to be good for 15 dec digits so seed >> 16 should be safe from truncation.

If someone is testing with a replay and does not know about thi

[2011-12-05 21:05] avdg commented on #383
Path of my code (executable of bot and custom script): /Users/anthonyvandegejuchte/Documents/source/antsBot/cpp
Path of aichallenge checkout: /Users/anthonyvandegejuchte/Documents/source/aichallenge/aichallenge

I execute the script from the path I code my executable (first path).

[2011-12-06 04:40] NalaGinrut opened #387 "Add GNU/Guile starter package"
Hi, I've written a starter package for Guilers.
And I sent a pull request. Anyone interested on it?

[2011-12-16 18:54] Janzert opened #388 "Add countdown timer to front page"
It would be great if the front page could get a countdown timer for submissions closing. I added a simple javascript one for planetwars but no longer remember the one I ended up using.

[2011-12-18 00:40] codetiger opened #389 "Timer does not work as expected on Safari"
Please see the timer in safari browser. It just shows the numbers.

[2011-12-18 22:55] McLeopold commented on #389
Works for me!

[2011-12-18 22:55] #389 closed, assigned to nobody

[2011-12-18 22:55] McLeopold commented on #388
Done.

[2011-12-18 22:55] #388 closed, assigned to nobody

[2011-12-20 17:57] #360 closed, assigned to nobody

[2012-01-05 19:47] amstan commented on #11
Well.. this is done. Except for RPS.

[2012-01-05 19:47] #11 closed, assigned to j3camero

[2012-01-05 19:49] amstan commented on #387
Please continue discussions in the pull request.
Perhaps integrate this in zeta.

[2012-01-05 19:49] #387 closed, assigned to nobody

[2012-01-05 19:54] #149 closed, assigned to McLeopold

[2012-01-05 19:54] #108 closed, assigned to McLeopold

[2012-01-05 19:56] #286 closed, assigned to nobody

[2012-01-05 19:58] #128 closed, assigned to McLeopold

[2012-01-05 19:59] #36 closed, assigned to n-ham

[2012-01-05 19:59] #382 closed, assigned to nobody

[2012-01-05 20:00] #162 closed, assigned to amstan

[2012-01-05 20:00] #73 closed, assigned to nobody

[2012-01-05 20:00] #110 closed, assigned to nobody

[2012-01-05 20:00] #366 closed, assigned to nobody

[2012-01-05 20:00] #379 closed, assigned to nobody

[2012-01-05 20:00] #383 closed, assigned to nobody

[2012-01-05 20:00] #385 closed, assigned to nobody

[2012-01-05 20:01] amstan commented on #321
Build systems will take care of this in zeta.

[2012-01-05 20:01] #321 closed, assigned to nobody

[2012-01-05 20:01] #160 closed, assigned to McLeopold

[2012-01-05 20:01] #165 closed, assigned to nobody

[2012-01-05 20:01] #188 closed, assigned to nobody

[2012-01-05 20:01] #96 closed, assigned to nobody

[2012-01-05 20:01] #349 closed, assigned to nobody

[2012-01-05 20:02] amstan commented on #336
@j-h-a: Good job

[2012-01-05 20:02] #336 closed, assigned to nobody

[2012-01-05 20:02] #237 closed, assigned to nobody

[2012-01-05 20:02] #151 closed, assigned to nobody

[2012-01-05 20:03] #229 closed, assigned to nobody

[2012-01-05 20:03] #131 closed, assigned to nobody

[2012-01-05 20:05] amstan commented on #342
The archive servers are all at $contestname.aichallenge.org.
The main page needs to contain info about the contest in general and links to the current and past contests. TODO

[2012-01-05 20:05] #342 closed, assigned to nobody

[2012-01-06 07:44] NalaGinrut commented on #387
So, should I send a pull request for zeta?
I found zeta branch don't have starter_package directory yet.

[2012-01-06 08:11] McLeopold commented on #387
We are between contests.  I'm thinking that we don't really need this for ants, since it is over.  When we get around to the next contest and zeta is actually being worked on, then this might be useful.

[2013-02-16 21:25] jav commented on #276
I'd like to fork and use (personally and professionally) this code. But I can't tell which license it is under.
Is there any possibility for a licence to be chosen this week?

[2016-01-06 15:48] braingineer opened #393 "Releasing code from other years"
Hello!

I would like to use your competition server/code in a course I will be teaching.  The one I am most interested in is the Tron competition.  The code on the forums is unavailable, and I'm having trouble finding a point of contact.

Thank you for your time,
Brian McMahan

[2016-01-06 17:37] 3DClayman commented on #393
Brian,

I don’t have any code posted on GitHub

Are you trying to get in touch with someone at Sine Nomine Associates?  If so please use the contact us form at http://www.sinenomine.net/contact-us  and one of our engineers will respond.

Can you be a bit more specific as to the code you want to use?

Sincerely

Clayton A. Hollister
Senior Design Engineer
Physical – Data Center- Enterprise Command

[2016-01-06 18:07] DanielVF commented on #393
Tron was before my time. Good luck though!

[2016-01-06 18:09] amstan commented on #393
Hello Brian,

I guess i'm the volunteer long term maintainer for this stuff, you can talk to me.

Unfortunately the tron server code hasn't been used in 5 years. While I could look through the archived website(tron.aichallenge.org) for some of the code, i don't think it would be much use to start a new contest.
That code slowly got morphed into the planetwars code, then the ants codebase(epsilon),

[2016-01-06 18:14] Janzert commented on #393
It was mostly before my time but here is my understanding. The Tron and RPS contests were created and run solely by University of Waterloo CS Club members all of which, as you'd expect, have now moved on. To my knowledge the only extant code is embodied in the archived website at http://aichallenge.org/ and I see Amstan has replied above regarding that. I agree with him that the server code is pro

[2016-01-06 18:29] braingineer commented on #393
Hi all,

thanks for your responses!

The tron engine in the forums is a dead link now.   (edit: since I had the tab up anyway: [here is the link to the exact thread](http://forums.aichallenge.org/viewtopic.php?f=10&t=13&start=30))

Looking at the starter code to see the API is a good idea and I will do that.  I'm sure the rest of it can't be horrible to build.  My class isn't too big so I don't ne

[2016-01-06 21:22] Janzert commented on #393
I took a look through my old files when participating in the tron contest and I have a python engine and some maps laying around there. I'm not sure where the engine originated, I don't think it was an official release from the contest but rather was made by one of the other participants. And the old forums aren't loading for me at the moment so it may or may not be what you were linking to above.

[2016-01-06 22:23] n-ham commented on #393
I am still hoping to find some time this year to set up a new tcp server
and site, the first game I intend to implement will be multiplayer tron
with wrapped edges. I don't want to commit and say it will happen, but I'm
pretty keen for it to happen and am starting to think I will have some time
to at least try and make it happen.. Probably wont be useful in time for
what you want to do now, but ma

[2016-01-15 06:57] smiley1983 commented on #393
Hi Brian,

Some time ago I added a Tron game to my fork of the TCP server code, found here:

https://github.com/smiley1983/ants-tcp

You may find something useful in there (though it doesn't attempt to replicate the original Tron AI challenge game, the TCP server does provide a viable means of running the games and printing a nice ranking table).

[2016-01-18 20:55] braingineer commented on #393
Hi all,

Sorry for the late reply, but thanks for all of your replies!  Also, congrats @n-ham  =).  I'm counting down the days....

The TCP serve and tron source look great!  Conditioned on ambition, I will hopefully get a python3 port working for hosting AI games.  I'll definitely ping back with any code.

 Also, in the mean time, I  implemented a [Snake/Tron type game](https://github.com/braingi

[2016-02-17 15:29] smiley1983 commented on #393
People looking at this thread may also be interested in this, which I've been working on over the past few weeks:

https://github.com/smiley1983/aiweb

Currently it runs games of Ants and Tron. Still a work in progress. Suggestions are welcome. I'll probably set up a testing server in the next few days. I'd like to get PlanetWars and RPS running as well.

@n-ham: I think that if I remove the multi

[2016-03-18 20:47] lachiemurray opened #394 "Deployment instructions"
Would love to be able to deploy a local version of the ants AI challenge (http://ants.aichallenge.org/) for a private competition. Would this be possible? And are there any instructions (further to INSTALL.md) on how to do so?

Thanks!

[2016-03-20 07:00] smiley1983 commented on #394
Hi!

Getting this code to run on current linux systems would require quite a bit of effort. I was looking at this problem a few months ago and put together a basic Django site with enough "glue" to get the aichallenge games running again:

https://github.com/smiley1983/aiweb

You can see a live version of the site here:

http://frogherd.com/aiweb/

If you have any questions, I would be happy to he

[2016-03-21 18:49] lachiemurray commented on #394
Cool thanks for the tip @smiley1983 I'll take a look!

[2016-08-08 15:16] truell20 opened #395 "Questions"
My name is Michael Truell. I am part of a team that has developed an internal programming competition for Two Sigma, a large quantitative hedge fund. We are looking to open up the competition to the greater public. The competition was originally inspired by the Ants, and we have been in contact with UWaterloo about making it a part of the AI Challenge series. We are wondering if anyone on the Ants

[2016-08-08 22:21] DanielVF commented on #395
Just as a note, I had a good phone conversation with Michael about the Planet Wars era lessons learned.

[2016-08-08 22:23] DanielVF commented on #395
You can see a visualization of Michael and Co's game here: http://halite.io/website/game.php?replay=1470694919-3628009908.hlt

[2016-08-09 00:04] Janzert commented on #395
I'm sure no one is saying or acting with any ill intent but I just wanted to note that almost certainly UWaterloo is the wrong entity to be talking with in order to get permission to run something under the AI Challenge name. The contest's that were run under any affiliation with UWaterloo were actually run under another name. Unfortunately the correct contact for permission isn't actually entirel

[2016-08-09 00:46] truell20 commented on #395
@Janzert Did you guys end up using multiple SQL servers?

[2016-08-09 20:06] truell20 commented on #276
+1. Would like to know the license on the autocompile script.

[2016-08-15 15:28] smiley1983 commented on #276
The Zeta branch was mostly written by Zannick, and the compile script there works well. I talked to him on IRC some time ago and he was broadly in favour of an open source license being applied. I'm hoping to get his agreement to officially apply a license to the compile script, I just haven't asked yet (we were talking about the difficulty getting the whole repo licensed). If that part has an ope

[2016-08-31 17:55] Janzert commented on #395
Sorry, got busy and didn't get back to this.

Web server, sql server, worker management, etc. were all done from a single server. Each bottleneck was resolved as we ran up against it by modifying what or how we were doing things. The only part moved out to multiple servers were the actual games being played.

[2016-08-31 22:17] truell20 commented on #395
@Janzert Thank you for the response!

Is there any chance of licencing the auto compile script within about a month? We use a modified version of it in our project and will have to rewrite it from scratch if no license is applied.

[2016-08-31 22:40] Janzert commented on #276
I'm not sure which script you're referring to specifically. My best guess is worker/compiler.py in the epsilon branch. Unfortunately there are at least 16 contributors (15 in the commit history and Jeff Cameron as the initial author) to that file. Each of them need to be contacted and give permission to license it under a specific license. Even then the legal situation may not be completely clear

[2016-08-31 22:41] Janzert commented on #395
See my answer on issue #276

[2016-08-31 23:14] truell20 commented on #395
@Janzert Did you guys have any security issues?

[2016-09-01 00:59] Janzert commented on #395
Since I knew our sandbox for running programs had holes in it this was a concern throughout the contest. Fortunately we never had any issues materialize.

[2016-09-01 18:05] mleise commented on #276
I feel that the challenge was always in the spirit of an open license. You have permission to license my contributions under MIT, Boost, Apache, BSD or even public domain. :+1:

[2016-11-20 11:25] npthao1312 commented on #394
@smiley1983 Hello there, I am very interested in your work. Can you instruct me how to deploy your work manually, please? Thank you.

[2016-11-20 13:41] smiley1983 commented on #394
@dracarys1312 Hello, thank you for your interest. :)

The instructions in the readme should work on current Ubuntu systems, starting with setup.sh - it requires python3 and pip3 to be installed already. Possibly some other things as well.

[https://github.com/smiley1983/aiweb/blob/master/README.md](https://github.com/smiley1983/aiweb/blob/master/README.md)

I should mention that I stopped work on

[2017-05-04 13:16] IdanDor commented on #276
Has there been any update about this situation?

[2017-05-04 13:36] DanielVF commented on #276
No. But I think you are welcome to use this code.

And for clarity, I also release my contributions under MIT.

Halite.io ran a very successful challenge built on top of reworked AI challenge code. https://github.com/HaliteChallenge/Halite You could look at their code as well as a starting point if you are making a new challenge.

[2017-05-15 01:27] Zannick commented on #276
I have been meaning to push an actual license for my contributions to the autocompiler script. I have the ability to license it however anyone likes. But if you want one LICENSE file for the whole thing you'll need everyone.

[2017-05-15 04:54] Janzert commented on #276
Since it hasn't been mentioned here previously. The [Halite competition](https://github.com/HaliteChallenge/Halite) has a clear MIT license on the repository and they were able to get @j3camero to submit a version of the [compiler script](https://github.com/HaliteChallenge/Halite/blob/master/worker/compiler.py) that presumably was authored solely by him.

[2017-05-15 13:38] truell20 commented on #276
Here it is: https://github.com/HaliteChallenge/Halite/blob/master/worker/compiler.py

[2019-10-07 12:22] unlut opened #397 "Can project still be deployed?"
Hello, I know this is an old project but I wonder if its still possible to run it on a server. I tried changing dependencies until I encountered a missing java package:

and I don't know how to replace this one. I wonder if someone has newer/running version of the project. Saw a similar issue from 2016 but github repo link given there is also gone.

Thanks.

[2019-10-07 15:53] DanielVF commented on #397
Glad you want to play with it. If you find out, make a PR!

[2019-10-07 15:55] DanielVF commented on #395
@truell20 and friends did an amazing job with the Halite Challenges https://halite.io/

Definitely worth checking out if you love the genre.

[2019-10-07 15:55] #395 closed, assigned to nobody

[2019-10-07 18:10] Janzert commented on #397
I'm sure it would take some work to get it running on a modern system. Also I suspect a lot of the bot language installation packages have probably disappeared (although modern equivalents could probably be found).

If you're just trying to recreate the ants challenge it can probably be done with a moderate amount of work (particularly if you drop many of the more uncommon languages that are suppo

[2019-10-07 18:17] n-ham commented on #397
I was working on some n player tron contests (demo site at https://tron.ai-bots.net, check the leaderboard, duckbot profile page, and match log to access the game viewer) though have been more focused on my website generator Nift (https://nift.cc) recently, it can be up to 15 times faster than the old world's fastest website generator Hugo (the ai-bots websites are made with Nift using the html5 u

[2019-10-08 08:14] unlut commented on #397
@Janzert, I specifically wanted to run ants challenge, I guess I will dig the code/dependencies some more and see what I can do. I will definitely consider your advice on Halite in case I consider different challenges. Thank you.
 @n-ham It is good to see people working on these stuff. Hope it will be continued.

[2019-10-08 08:58] smiley1983 commented on #397
I also created an application for running AI games like aichallenge. It was
running Ants, PlanetWars, Tron and Ultimate Tic Tac Toe:

https://gitlab.com/smiley1983/aiweb/tree/master/web/aiweb_tools/games

I haven't run the project in some time, but I had it running successfully
on a linode for a few months. I may be able to help if you try it out and
run into difficulties.

On Tue, Oct 8, 2019 at

[2019-10-09 15:56] unlut commented on #397
@smiley1983 That looks very promising, I will try it out in a few days. How can I contact you?

[2019-10-09 22:35] smiley1983 commented on #397
@unlut I can be contacted by email here: smiley7c0 at gmail dot ...

[2021-03-25 07:07] maxwellmckinnon opened #399 "Are there more challenges like this in 2021?"
I had a great time doing this back in the day. Any like it going on now or communities that I can participate in. Kaggle has been my fix, but something more adversarially competitive like this ants game would be great!

[2021-03-25 08:54] smiley1983 commented on #399
You might enjoy [codingame.com](https://www.codingame.com/). They add new challenges frequently and you can continue participating in some of the old ones.

[2021-03-25 12:16] n-ham commented on #399
coding game just doesn't have the adversarially competitive nature that the ai challenges did. Going toe to toe with people made them extremely addictive. I am surprised we haven't held another one, any interest in that folks?

I make a website generator these days which is way faster than even Hugo and has way more like it's own in-built shell extension (flashell) that can use my own implementati

[2021-03-27 21:37] Janzert commented on #399
The closest I'm aware of at the moment is https://www.lux-ai.org/ but it's still a couple of months out from release on June 14th.

[2021-06-01 02:48] maxwellmckinnon commented on #399
@Janzert Amazing! Just signed up! :D