[2011-02-07 05:17] amstan opened #1 "Organize epsilon folder structure"
- Delete old games
- Untangle website, backend from planet wars
- Delete planet wars
- Organize by website, backend, worker folder structure

[2011-02-25 03:48] amstan opened #3 "Ants starter packages"
We need as many starter packages as possible.
## Documentation

Some sample bots can be found in the [repo](https://github.com/aichallenge/aichallenge/tree/epsilon/ants/bots).

There should be valid documentation in the [wiki](https://github.com/aichallenge/aichallenge/wiki/Ants-Game-Specification).
## Versions

Regarding Compiler/Interpreter/Runtime versions, the first available should be preferr

[2011-02-25 03:49] amstan opened #4 "Ants visualizer"
Assigned to Frontier.
Help from amstan and McLeopold.

[2011-02-25 03:49] amstan opened #5 "Website"
Repurpose the planet_wars website for epsilon/ants launch.

amstan is doing this.

In progress... Need content.

[2011-02-25 03:50] amstan opened #6 "Organization handling"
Make it easier for new users to add their organization. It cannot be processed by a human.

[2011-02-27 02:19] amstan opened #7 "Multi Opponent Rankings & Matchings"
Since now we have used bayeselo for rankings. But bayeselo can only handle 1v1 games with a binary state(win/loss) at the end. In order to have a 4 player game another rankings mechanism must be found.

[Forums Topic](http://ai-contest.com/forum/viewtopic.php?f=21&t=1234)

[2011-02-28 17:46] mleise opened #8 "Internet Explorer compatibility for the canvas visualizers"
I ignorantly assumed that IE 8 has <i>some kind</i> of canvas support, but when I checked yesterday I realized it doesn't. How are these IE users supposed to view the replays? It would be possible to write a Java applet from scratch, give them a hint to use a different browser or use Google's excanvas which generates vml (vector markup language) elements for every draw command, effectively emulati

[2011-03-01 00:52] amstan commented on #7
"&lt;j3camero&gt; I have just been chatting with dmj by email. He's got some delicious TrueSkill code for us. https://github.com/dmj111/trueskill"

I added his work as a submodule in the main repository.
Matching still have to be decided.

[2011-03-01 02:52] amstan commented on #1
This seems to be done, woot!

[2011-03-01 02:52] #1 closed, assigned to nobody

[2011-03-01 03:48] amstan opened #9 "Manager + Worker"
Repurpose the planet_wars old code.
The code is organized, there should be no useless files anymore.

Whoever does this could also become the next sys-admin.

[2011-03-01 03:51] amstan opened #10 "Getting Money"
j3camero is responsible for this. He will go around shaking his tin cup with potential sponsors, with right of first refusal going to our generous sponsor from past contests, Google. He also has to perhaps register us as a non-profit corporation so that he does not incur personal income tax liability when sponsors give him money.

[2011-03-01 03:57] jeremyroman commented on #10
Be aware that there is a lot of complexity associated with incorporation (even not-for-profit).
http://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs03440.html

Requires at least three directors, all of whom are 18 years of ago (and in Canada, I think), requires annual meetings

And of course, the corporation name should not include any registered trademarks (most notably Google's).

There may be a path

[2011-03-01 04:10] amstan commented on #6
I'm thinking to change the dropdown to a text box that suggests other entries. If the entry does not exist, it gets created.

[2011-03-01 10:43] ZogStriP commented on #3
I can do the .Net (C#/VB) starter packages if interested.

[2011-03-01 18:21] amstan commented on #3
Sure, check the OP again, I gave you some links to the docs and some already finished bots.
If you're doing C#, you could start from the java ones, since they're closest.

[2011-03-01 19:57] amstan opened #11 "Archiving old contests"
I would like to make sure the old contests remain uploaded and all the info from them accessible. Ideally in a ai-contest.com subdomain.

How should this be done? A static html copy of everything? A read only php thing with everything disabled(that still uses the mysql database)?

[2011-03-01 20:03] jeremyroman commented on #11
I like the idea of a plain static copy – it means that we don't have to maintain software or keep old databases operational.

[2011-03-01 20:05] amstan commented on #11
How do you propose we make such a static copy? I haven't had good experiences with wget on this.
Also.. will wget go and get the api call for the visualizers? It would be nice to have the visualizers operational too.

[2011-03-01 20:07] jeremyroman commented on #11
Visualizers might require more thought, depending on how they fetch their data. I know that there exist static archival tools. If it proves too difficult, a dynamic archive would of course be the fallback.

[2011-03-02 01:39] j3camero commented on #10
Awesome thanks Jeremy. I will try to set us up some corporate goodness.

We need three officers in Canada you say? We should invent three ridiculous titles for fun.

[2011-03-02 02:13] DanielVF commented on #11
+1 for static.

We could strip down the templates a little before archiving. Slap the static copy up on Amazon S3 and be done with it till the end of time.

[2011-03-02 02:29] jeremyroman commented on #10
At least three directors. The directors may or may not be officers. There's a number of things you have to define about corporate structure if you want to do this.

If lazy, you can go with the Corporations Canada model by-laws, which includes provisions for:
- elected board of directors
- appointed members
- 4+ officers (President, Vice-President, Secretary, Treasurer, and optionally more) who ma

[2011-03-02 04:14] DanielCollins opened #12 "Scheme Starter Package"
Implement support for the scheme programming language. An incomplete  list of scheme implementations may be found on this page: http://community.schemewiki.org/?scheme-faq-standards. The author personally recommends, in descending order, ikarus, MIT/GNU scheme or plt-r6rs (part of racket) as having the best combination of useful features and performance, but you will probably find that scheme prog

[2011-03-02 04:17] DanielCollins commented on #12
Should someone either implement the above request, or come to a final and guaranteed decision regarding its implementation, I would be happy to implement a scheme "starter package". GitHub mail 'PurplePanda' or talk to 'pyro-' on irc.freenode.net if you want.

[2011-03-02 05:26] amstan commented on #11
j3camero: I hope you still have the db for this site: http://csclub.uwaterloo.ca/~j3camero/contest/fall2009/results.php

It used to work for a while.

[2011-03-02 06:40] amstan opened #13 "Sandbox Issues"
"[01:37] &lt;@janzert&gt; amstan: the biggest first thing is that it leaves stuff in the jail user home directory from previous bot runs (any .dot files/directories), but overall it works on a blacklist principle of trying to block all the bad stuff instead of a whitelist of things the bot is allowed to access/do"

[2011-03-02 08:43] mleise opened #14 "McLeopold's checklist: worker/engine -> visualizer"
Here are some points you and I should finalize so that we can start to watch replays:
- Drop the full state information for food.
- Decide on wether to drop the full state information for ants (usually 50% of file size; not a blocker, but don't forget :) )
- Player colors set by the replay.
- Give information on when a bot crashed. (playerNcrash <turn>?)
- Update the specs page where neccesary.

[2011-03-02 09:04] aerique commented on #3
I can do the Common Lisp starter package.

[2011-03-02 17:17] lavalamp commented on #3
I can do a golang starter package.

[2011-03-03 02:30] flagcapper commented on #8
I'm not sure people will agree with me on this, but it's probably not necessary to support a browser that a relatively small number of programmers actually use. If it's really an issue, we can tell them that they need to install something like Google Chrome Frame:

http://code.google.com/chrome/chromeframe/

[2011-03-03 02:42] amstan commented on #4
Issues related to the visualizer:
- [Canvas on IE](https://github.com/aichallenge/aichallenge/issues#issue/8)
- [Interface with the engine](https://github.com/aichallenge/aichallenge/issues#issue/14)

[2011-03-03 19:23] McLeopold commented on #14
I've been thinking about the replay files.  Originally I wanted the replays to be able to be run through a bot.  Given the fact that each bot gets different info because of fog of war, I've given up on this idea.  That left us with changing the bot input spec slightly to make it usable as a replay spec.  The latest big change is dropping food and putting in a 'D' line when it disappears.  Since we

[2011-03-04 01:29] amstan opened #15 "Sandboxed compilation"
Compilation should be sandboxes.
I have heard of a few loopholes during the last contest: some compilers allow code execution at compile time.

jmcarthur has successfully proven this with haskell.
Even though we patched that haskell problem, I heard that this is also possible with CL.

They might be possible with others as well. Instead of risking it, I propose to sandbox the compilation step as w

[2011-03-04 01:36] amstan opened #16 "Supporting build systems"
I think `compile_anything.py` is really inflexible and makes it hard for some users to make their bots to use libraries.

The main reason we have to use `compile_anything.py` is because compilation is not sandboxed right now. But since this [has to be solved either way](https://github.com/aichallenge/aichallenge/issues#issue/15), why not deprecate this script.

I propose a system in which we let u

[2011-03-04 01:42] amstan commented on #16
Some have suggested having a `build_everything.py` script to detect what build system is in use. That way there's no need for a compile.sh file.

Pros:
- Makes the starter packages cleaner
- Makes sure failures are detected, in some cases `compile.sh` could exit successfully even though compilation failed

Cons:
- `build_everything.py` must be updated whenever there's a new build system installed

[2011-03-04 01:44] amstan commented on #16
Such a build system will also allow binary submissions.
Just make `compile.sh` do nothing, and `run.sh` execute the executable.

[2011-03-04 01:50] amstan commented on #12
As j3camero said the other day:
- We can have multiple scheme implementations(mit-scheme, racket)
- We should have racket available

So I suggest making both of them(racket and mit-scheme), if you want.

Do not worry, your work will not go wasted.

[2011-03-04 01:53] jmcarthur commented on #16
Other benefits include:
- Projects can be structured however the developer wants.
- Bots can be built with whatever build flags they want.
- `run.sh` would allow for runtime flags to be passed to the bot, including things like GC settings.

[2011-03-04 16:37] McLeopold commented on #16
How would we detect the language that is used for the leaderboard display?

[2011-03-04 16:41] jmcarthur commented on #16
Well, there's always the hackish way: use something like sloccount and display the language that has the most lines reported in the result.

Or maybe it could be self-declared...

[2011-03-04 18:15] amstan commented on #16
Self declared could be fine.

[2011-03-04 20:11] lavalamp commented on #3
Question, how advanced should starter packages be? For example, would it be frowned upon if I added logging/replay features to my package? Is the point of the starter package to just get people started or to make some base code that's as useful as possible? The existing ones are pretty basic, but I'm not sure if that's intentional or just because there is limited time to do things in.

(I mostly c

[2011-03-04 21:02] amstan commented on #3
Reply to lavalamp

It doesn't matter how advanced it is, just make sure stuff works, and it's easy for beginners to use or ignore the particular feature.

We'll pull everything when it's ready.

[2011-03-05 05:07] amstan opened #17 "Secure password storage"
I was shunned last year from #mysql because I told them we don't hash passwords.

We should get better password systems:
- _Bad_: unhashed, stored plain text
- _Good_: simple hashed with md5 or sha1 << Epsilon does this currently
- _Better_: md5/sha1+per user salt << Zeta: Django does this by default
- _Best_: crypt with a high workload + salt. md5/sha1 was designed so it's fast as possible. We do

[2011-03-05 13:01] jeremyroman commented on #17
Wait, WHAT? Salted hashes are the correct way to go. And don't worry about your "Best" option, because fast is fine for hashes. It's not practical to make rainbow tables for salted hashes, only for relatively short passwords.

[2011-03-05 15:11] stephen-smith commented on #17
Agreed, salted MD5 is still safe even though MD5 has a number of attacks and salted SHA-1 is still safe even though SHA-1 is showing its age.  The solution labeled "Better" is actually the best, until SHA-3 is released or we are forced to move to SHA-2 because SHA-1 is broken.

I think is issue is closable.

[2011-03-05 21:07] stephen-smith commented on #7
McLeopold has imported the delicious trueskill code into the epsilon-new-schema branch and I'm working on providing some code to generate matches based on [TrueSkill Matchmaking](https://github.com/aichallenge/aichallenge/wiki/TrueSkill-Matchmaking).

[2011-03-05 23:46] mleise commented on #8
I am now writing a Java wrapper that exports the HTML canvas interface into JavaScript.

[2011-03-05 23:46] #8 closed, assigned to mleise

[2011-03-07 04:09] Janzert opened #19 "Functional testing of submissions"
After submissions pass through compilation they should be tested for basic functionality before being entered into the contest.

[2011-03-07 04:22] amstan commented on #19
Anyone do this, please explore the integration_testing folder.

[2011-03-10 11:21] VagabondEx commented on #3
Please, with the starter packs, also specify the language versions which are used in the executing environment. With the compiled languages it is apparent when it doesn't compile because you used some new language construct, but it can cause very mysterious problem with script languages, such as, in my case, Python.

[2011-03-10 17:42] amstan commented on #3
VagabondEx: I updated the OP, please refer to the _Versions_ section.

[2011-03-10 21:21] VagabondEx commented on #3
Thanks!

[2011-03-10 23:44] Naktibalda commented on #3
I can do a PHP starter package

[2011-03-14 16:28] amstan commented on #7
stephen-smith: I see you added the matchmaking stuff in the manager/ folder. How finished is this?
Can you replace https://github.com/aichallenge/aichallenge/blame/epsilon/manager/trueskill_matchups.pywith https://github.com/aichallenge/aichallenge/blame/epsilon/manager/trueskill_matchups.py ?

[2011-03-14 16:35] amstan opened #23 "Get rid of simple-json"
simple-json is a json library for python, in latest versions it can be replaced with the built in json library.

The only reason this exists is because planet-wars was running on an ancient python.

Please replace simple-json with json wherever you see it.

[2011-03-14 16:43] amstan opened #24 "Merge epsilon-new-schema -> epsilon"
I noticed that there's a few changes to epsilon-new-schema that are not actually related to the new schema, so that branch's scope is rather fuzzy.

There's a few of us that are confused in which branch to commit changes now.

None of the branches are functional either.

I propose that we merge epsilon-new-schema back into epsilon regardless how how much the new schema is done.

[2011-03-14 16:50] Janzert commented on #24
neither branch works end to end, new-schema introduces a fair number of structural changes, all future development needs to be done in the context of those changes.

+1 for an immediate merge.

[2011-03-14 16:54] amstan commented on #7
stephen-smith: I see you also have a branch with some matchmaking changes. Is that to be merged?

[2011-03-14 17:31] stephen-smith commented on #7
The stuff in my branch should be working, test in a toy database locally before I push.  But, it is does not yet implement the Future Plans on the wiki.  I believe my earlier work was merge and is what is in the tree already.  I plan on opening a new merge request when I've covered everything in the Future Plans on the wiki.

Tonight, I'll check for merge conflicts with aichallenge/epsilon-new-sch

[2011-03-14 19:57] amstan opened #25 "More install scripts"
There's a few places where stuff has to be compiled.

We should go through them and make python install scripts for them.

Places of the top of my head:
- Sample Bots Packaging
- Visualizer
  - Javascript minification
  - Java visualizer compiling

[2011-03-15 17:44] mleise commented on #16
Would the language become free form text then? There might be people who set the language to 'C#' and others set it to 'c-sharp'. On the other hand if the list of languages is set in stone people who want to submit a binary because their language isn't supported could use 'other' as a choice. (Although our list of supported languages is pretty complete now if we ignore joke languages.)
With binary

[2011-03-16 02:14] Synesso commented on #3
First cut of Scala package done. Pull request issued. Looks shiny but is probably broken. Adding some tests shortly.

[2011-03-16 04:22] amstan commented on #24
Done

[2011-03-16 04:22] #24 closed, assigned to nobody

[2011-03-16 04:46] McLeopold commented on #23
The worker.py script will replace the tournament_manager.py.  ec2-check.py has been updated as well.  The install script will not pull the dependency now.

[2011-03-16 04:46] #23 closed, assigned to nobody

[2011-03-16 04:50] amstan commented on #9
This is such a broad issue that it's not even worth to have a specific issue for it.

[2011-03-16 04:50] #9 closed, assigned to nobody

[2011-03-16 04:52] amstan commented on #4
Is this done? Can I close this issue?

[2011-03-16 06:41] McLeopold commented on #17
For epsilon, we are using the php crypt function with random salt using sha2 and enough rounds to use about 50ms which is all stored in the database as one string.

[2011-03-16 06:41] #17 closed, assigned to nobody

[2011-03-16 06:45] McLeopold commented on #14
Mostly fixed by sigh.  Additional problems should be new issues.

[2011-03-16 06:45] #14 closed, assigned to nobody

[2011-03-18 04:50] TJC commented on #3
I'm just coding up a Perl starter package now.

[2011-03-21 00:59] amstan opened #32 "LabVIEW starter package"
[CPeng](https://github.com/CPeng) said about 2 hours ago:

Is there a simple, and free way to run this under our linux setup?

Ideally we want a small program that we give the source file to, and it executes it for us. We're not going to be running IDEs for each bot. Our server's don't even have graphical interfaces.

[2011-03-21 01:04] McLeopold commented on #32
This may be helpful.
http://joule.ni.com/nidu/cds/view/p/id/1020/lang/en

[2011-03-21 08:44] tessprime opened #33 "Comment is wrong"
From [ants.py](https://github.com/aichallenge/aichallenge/blob/epsilon/ants/ants.py)

[code]

Either the comment or the implementation is wrong. Emphasis on '>' vs '>='.

[2011-03-21 09:21] sigh commented on #33
Yeah, code is right damage of 1 should kill. Fixed.

[2011-03-21 09:21] #33 closed, assigned to nobody

[2011-03-21 13:12] edusahione opened #35 "F# Starter Package"
I recommend F# support to be implemented in this iteration of the contest. A complete implementation process for installing F# on linux with Mono may be found here: http://2sharp4u.wordpress.com/2010/09/03/installing-f-2-0-on-monolinux/.
I will start working on a starter package this week to help this come to fruition.

[2011-03-21 16:33] amstan commented on #35
Cool, follow the guidelines from the [Starter Package Issue](https://github.com/aichallenge/aichallenge/issues#issue/3). Including the part with `setup_worker.py` and `compiler.py`.

[2011-03-21 21:16] i0cus opened #36 "Clojure Starter Package."
### I would try and make Clojure work in this edition.

While I'm tinkering with Starting Package I'd need to determine the environment setup possibilities. This is actually associated with https://github.com/aichallenge/aichallenge/issues#issue/16 -- can we use a build like leiningen or is setup to be done by hand? There are two ways we can go here.
#### 1. Leiningen -- managed project building,

[2011-03-21 23:05] amstan commented on #12
How's the scheme starter package going?

[2011-03-22 01:49] CPeng commented on #32
Thanks for the help guys. LabVIEW is a bit different from the other imperative languages used here but I hope we can work it in.

I've created an application that can read uncompiled LabVIEW source files and run them. It's a 30k DLL linked to from a C file. I guess the next step is to test it on the server.

I would use the newest runtime which is here:
http://joule.ni.com/nidu/cds/view/p/id/2143/

[2011-03-22 02:04] amstan commented on #32
If it's a DLL it will most probably not work under linux. DLLs are windows only, no other platform uses it.

All we need is a linux compiler, we already have the runtime(from that it seems from that link).

You might also want to look into licensing. If we're allowed to freely run this without breaking any copyrights. All compiler/runtime that we used till(including the C#(we used mono instead of

[2011-03-22 11:08] DanielCollins commented on #12
oh right i was going to make one of those :D i haven't been watching your competition at all since i don't intend to compete anymore. is it open soon? but i recall i had it almost usable when i last left off so i could probably finish it and upload it to my account here reasonably soonish if you want it

[2011-03-23 12:08] Synesso opened #38 "play_one_game.sh has non-zero exit code"
Not a big issue, but play_one_game.sh has non-zero exit code (1) even though it runs without error.

[2011-03-23 16:01] amstan commented on #38
How's this? https://github.com/aichallenge/aichallenge/tree/fix-playgame-exit-status

[2011-03-23 18:00] amstan opened #40 "Visualizer should allow dragging of maps"
I noticed that the maps that antimatroid makes are pretty wrapable, and they look the same regardless of where the wrap line is.

I'm thinking from the point of view of the player. If your bot starts at the middle of the map, you're all good. But if your bot spawns at the side, your ants will wrap a lot and will be rather annoying to track where they are visually.

I propose having a way to scroll

[2011-03-23 18:32] mleise commented on #40
It is on the todo list.

[2011-03-23 20:10] McLeopold opened #41 "C Starter Pack has a sample bot"
The wallBot should be moved to the sample_bots folder and not included with the starter pack.  Given this is a submodule in git, I don't know the best way to go about doing this.

[2011-03-24 01:33] amstan opened #42 "Fix /README.md Documentation"
The installation instructions in README.md is outdated.
It should be written to reflect the new setup scripts.

[2011-03-24 12:00] Synesso commented on #38
Brilli-ant

[2011-03-24 12:00] #38 closed, assigned to nobody

[2011-03-24 20:24] kenorb opened #43 "verbose is always"
[code]

returns always TRUE in engine.py, even if you run without -v, it's printing ignoring the argument

[2011-03-25 13:03] sigh commented on #43
A few of the other boolean options had this issue too. Fixed now.

[2011-03-25 13:03] #43 closed, assigned to nobody

[2011-03-27 08:35] DanielCollins commented on #12
well i've coded one up git clone git://github.com/PurplePanda/AuntHillary.git . Making it 'good' is a work in progress, i hope i get some free time but it should already be protocol correct. i must figure out how to test it with the actual engine to confirm that.

[2011-03-30 00:33] McLeopold commented on #3
It would be nice to have a "getting started" section for each language at some point with instructions on setting up a basic programming environment.  Some starter bots include more than the standard packages (or whatever the language's terminology is) and might be confusing for someone just starting out.  _cough_ common lisp _cough_

Also, _please_ dumb down the starter packages to the appropriat

[2011-03-30 09:35] aerique commented on #3
I've trimmed the _cough_ Common Lisp _cough_ starter package.

[2011-03-30 11:15] Synesso commented on #3
Happy to write the getting started bit for the Scala bot. It will be quite simple. Where do you envisage this going? Wiki or readme in source?

[2011-03-30 15:33] amstan commented on #3
I would recommend you stick with readme.md in your starter bot folder.

[2011-03-31 12:04] Synesso commented on #3
Done. I copied the most excellent common lisp one. Pull requested.

[2011-04-01 22:12] Synesso opened #47 "JSON feed of game results"
Create a JSON feed of game results. This will allow the wider community to create interesting ways to visualise & analyse game results.

Parameterise the feed such that it can be limited to the results from a subset of bots or languages.

An example JSON feed (flickr) is http://api.flickr.com/services/feeds/photos_public.gne?id=36998705@N00&lang=en-us&format=json

PHP seems to have a JSON module @

[2011-04-03 08:31] mleise commented on #47
Hi Synesso,
I can see the need to download replays of a certain opponent or your own bot's replays and we are on the way to have 100% json replay files while keeping the file size small. From what I can see the json feeds aren't supported by browsers(?) and don't share a common format, but are useful as a machine readable format (especially cross-site references are possible). The name 'feed' coul

[2011-04-03 11:52] Synesso commented on #47
Hi mleise. I like all that you have to say on the matter. I agree on separating the meta data and the game results into different resource. I also think the continue from would be useful - and could be date based.
Thanks.

[2011-04-03 20:44] Synesso commented on #47
That's what I thought we were saying. One url for a set of games data (which
is most likely defined by range and filtered by bot), and a subsequent call
to get the data for any specific game. Does that align with your thoughts?

[2011-04-06 21:17] McLeopold opened #50 "python starter bot has bad vision code"
Need to use the naive vision code for the starter packs.

[2011-04-06 21:18] McLeopold opened #51 "python starter bot needs to deal with dead ants properly"
As sigh reported, the dead ants info could overwrite the food info from the same turn.  This needs to be dealt with correctly.

[2011-04-06 21:22] McLeopold opened #52 "need trueskill update code to run after game results reported by worker"
Get a trueskill script to read a game from the database and update the mu/sigma of the game and the submission.  After the worker reports a game, there will be a game record and a list of game_players for that game.  The game players will only have the old mu/sigma.  The code needs to find the game by game_id, pull the old mu/sigma, and update the database with the new mu/sigma.  The code then nee

[2011-04-06 21:24] McLeopold opened #53 "add uncertainty to trueskill sigma values at regular intervals and update leaderboards."
Get a submission to add a counter to the database, every so often increment all the sigma's by the counter \* some appropriate value.  This is similar to the recommended method where you add some uncertainty before updating skills.  Since the bots are static, they will not tend to learn or improve so we can use this method for a little speed gain.  Bot will only climb or fall in the ranks as new s

[2011-04-06 21:29] McLeopold opened #54 "map fairness testing"
create system for testing fairness of maps and discarding unfair maps
not a priority for launch, just hand pick maps for now

[2011-04-06 21:33] McLeopold opened #55 "create awesome ranking pages for organizations, languages and countries"
create awesome ranking pages for organizations, languages and countries

[2011-04-06 21:33] McLeopold opened #56 "create awesome foe tracking for users, organizations, languages and countries and call it "foe-lios""
create awesome foe tracking for users, organizations, languages and countries and call it "foe-lios"
HunterBot will be a default
How awesome will it be to pit python against lisp, or MIT against Waterloo?

[2011-04-06 21:33] McLeopold opened #57 "get jail users hooked up with chroot (worker/sandbox.py)"
get jail users hooked up with chroot (worker/sandbox.py)

[2011-04-06 21:35] mleise commented on #4
This is done now with the last piece of work being the replays in json format.

[2011-04-06 21:35] #4 closed, assigned to mleise

[2011-04-06 21:35] McLeopold opened #58 "make engine do sequential bots using signals"
sequential bots using signals

[2011-04-06 21:55] McLeopold opened #59 "engine needs to attempt to read all bot input before timing check, but not too much"
In the last contest there was an infinite loop checking for bot input and the current time as much as possible.  I changed this to sleep a little before checking for bot input.  Then because the engine only tried to read 1 line at a time, bots were timing out.  So I changed this to read all bot input available during 1 iteration.

This would allow a misbehaving bot to fill up the pipe and cause th

[2011-04-06 22:01] mleise commented on #59
The pipe wont have a buffer of several megabytes. On my system it seems to be 64k. So there is no risk of a bot writing more than 64k in one iteration and Python can easily handle that.

[2011-04-06 22:02] mleise commented on #40
And it is done. Today seems to be my 'close-open-issues' day.

[2011-04-06 22:02] #40 closed, assigned to mleise

[2011-04-06 22:06] amstan commented on #55
Don't we have these?

[2011-04-06 22:34] McLeopold commented on #55
You can see the top individual bots for all python entries, but you can't see an aggregate of all python bots against all php bots.

[2011-04-06 22:37] McLeopold commented on #59
But, a bot could write continuously without ever sending a go, so we want to limit the engines memory as well.

[2011-04-07 04:40] McLeopold commented on #19
I would think the sandbox.py should take care of forkbomb by reporting a timeout to the engine.  I also think this issue can be closed, but would like someone to review it.

[2011-04-07 05:43] McLeopold opened #60 "prepare for leap seconds"
In case a leap second is declared and the ntp updates during a game, a bot may get extra time to process moves giving them an unfair advantage.  The engine should be updated to account for this.

[2011-04-07 07:34] sigh commented on #60
Does this really warrant development effort?

There have been like 24 leap seconds in the ~30 years since their introduction. Further, leap seconds occur on Dec 31 and Jun 30, and a June leap second would have been announced by now. Regardless, leap seconds are usually announced months in advance which allows plenty of time to implement something in the event of an announcement.

There is also the

[2011-04-07 08:04] sigh commented on #59
Now engine reads up to 100 lines per iteration.

[2011-04-07 08:04] #59 closed, assigned to nobody

[2011-04-07 14:27] aerique commented on #60
Agreed with sigh.  This sounds like over-engineering.

Save it for a quiet time between two contests.

[2011-04-07 15:46] amstan commented on #60
I agree with closing this.
One second for a few bots shouldn't matter that much.

[2011-04-08 07:06] sigh commented on #60
I'm closing this as wontfix.

[2011-04-08 07:06] #60 closed, assigned to nobody

[2011-04-08 13:41] mleise commented on #59
What does limiting the number lines help then if the continuous stream of data doesn't contain a \n?

[2011-04-08 15:26] sigh commented on #59
Well worker/engine.py doesn't even see the output until an entire line available, so if there is a problem it is isolated to worker/sandbox.py. I don't think sandbox.py ever blocks on reading so it doesn't seem to be an issue... but reading the code I'm not exactly sure about what it _does_ do. I will talk to McLeopold/janzert about it later.

[2011-04-08 16:05] mleise commented on #59
Just slightly related, but since I talked with you sigh and McLeopold about it I'll link this article I found through stackoverflow.com: http://home.gna.org/pysfst/tests/pipe-limit.html
In short: Since kernel 2.6.11 the kernel can allocate up to 16 pages (4k) of memory to a pipe. I/O-operations are only guaranteed to be atomic if they are <= 4k. So if someone writes 8k, the data may end up in the

[2011-04-08 16:50] McLeopold commented on #7
The database schema has been changed to use TrueSkill.  Even though there are still issues with ranking, I'm closing this and suggesting specific issues/bugs be opened as new issues with more detail.

[2011-04-08 16:50] #7 closed, assigned to nobody

[2011-04-08 22:30] amstan opened #61 "Content from the Website"
I have to move over the stuff from the wiki written by antimatroid to the website using a markdown to html program.

[2011-04-08 22:31] amstan commented on #5
Migrating to https://github.com/aichallenge/aichallenge/issues/labels/launch#issue/61
Closing this.

[2011-04-08 22:31] #5 closed, assigned to nobody

[2011-04-08 22:53] McLeopold commented on #61
It would be nice if the process was repeatable so that we could update the wiki, then push/pull the results to the website when desired.

[2011-04-08 22:55] amstan commented on #61
Working on that now.
sudo apt-get install markdown seems to do exactly what i want.
Making a makefile for it.

Alexandru Stan

On Fri, Apr 8, 2011 at 6:53 PM, McLeopold <
reply@reply.github.com>wrote:

[2011-04-09 01:26] ahmedhelal commented on #11
I have found a method to download all the data from the old website including visualizers, already mentioned it on the irc, and will post the results once am done.

[2011-04-09 03:00] amstan commented on #11
You haven't told us what you're using yet. Have you went around the duplication of all the css files and js files?

[2011-04-11 02:37] mleise commented on #47
Whoever tagged this one 'visualizer': This is about listing game replays in a news feed and automated downloads according to filter settings. It has nothing to do with the visualizer.

[2011-04-11 11:58] sigh commented on #58
I've implemented this as best I could in the seq branch. What I did was add the ability to pause and resume bots. Then I only allow the bots to run during the time we are listening for moves.

Not sure if this is what you had in mind. Please review, and if it is alright I will merge into epsilon.

[2011-04-13 23:37] McLeopold opened #62 "update website to use new trueskill database schema"
All php pages that pull information from the leaderboard tables need to be updated.

[2011-04-14 02:37] amstan opened #63 "Leader board php to use the new schema."
Ask McLeopold for more details about this.

[2011-04-14 02:45] #63 closed, assigned to amstan

[2011-04-14 02:46] McLeopold opened #64 "nightly build system"
Setup nightly builds to ensure code checked in is function.  Preferably make it setup a running instance of the contest.  Maybe buildbot? http://trac.buildbot.net/

[2011-04-14 03:56] McLeopold opened #65 "check food bonus logic"
Ensure the food bonus logic is this:

If the game has 1 bot left and is therefore declared over, the 1 bot should have the following added to its score:
- 1 point for every ant left on the map ( includes both friendly and enemy ants left )
- 1 point for every food left on the map
- 1 point for every food that would be spawned in the future

[2011-04-14 14:07] levand commented on #36
I'm definitely interested this and would be willing to help out in any way you need to make this happen. I know [something about clojure](http://www.amazon.com/Practical-Clojure-Experts-Voice-Source/dp/1430272317) and would be excited to have Clojure as a part of the challenge.

[2011-04-14 15:53] amstan opened #66 "Haskell Starter Pack"
@jmcarthur has been working on a starter pack at http://darcsden.com/jmcarthur/ants-bot, but unfortunatelly he cannot continue working on it anymore.

Anyone wanting a haskell pack could continue working on that code, or use it for inspiration for a rewrite(according to @jmcarthur it's over-engineered).

[2011-04-14 16:12] amstan commented on #66
@shangaslammi I noticed you have a haskell starter pack in progress, would you be interested in submitting it?

[2011-04-14 16:54] shangaslammi commented on #66
@amstan: I'll gladly contribute my Haskell starter pack, but it should probably be reviewed by someone with more Haskell experience. I'm pretty new to Haskell myself, so I'm not sure about the code quality.

[2011-04-14 21:36] i0cus commented on #36
Thanks, levand. The code itself shall not be a problem -- I've actually prepared a rough prototype before creating this issue -- will try to refresh it a little and put on GitHub during the weekend. The deployment, on the other hand, is something to worry about, as outlined above. Nevertheless I think we need to ask the Clojure community for some advice here.

[2011-04-15 12:16] jaycobcoleman commented on #50
It appears that as a result of a copy-paste mistake, input parsed by the setup function in the python starter_pack ants.py for "viewradius2" "attackradius2" and "spawnradius2" are all being assigned to and overwriting loadtime.
                elif key == 'loadtime':
                    self.loadtime = int(tokens[1])
                elif key == 'viewradius2':
                    self.loadtime = in

[2011-04-15 22:45] hbhasker opened #69 "ants.py has a bug with score distribution"
This code doesn't check if enemies is empty before calling Fraction(). It
throws a DivideByZero exception.
Commit id: 508db7cb0ec8153321a4186f64b2d583396ee810
-        # distribute score for ants which died from collisions
-        for ant in colliding_ants:
-            # find living nearby enemies
-            enemies = self.nearby_ants(ant.loc, self.attackradius, ant.owner)
-            # in ad

[2011-04-15 23:13] sigh commented on #69
Thanks, fixed now.

[2011-04-15 23:13] #69 closed, assigned to nobody

[2011-04-16 00:28] hbhasker opened #70 "ants.py engine must read bots stderr output"
Ants.py doesn't read the bots stderr, so if the bots writes logs out to stderr the write to stderr
will eventually block causing the bot to time out.

[2011-04-18 04:02] ihodes commented on #36
I do think that Leiningen, if at all possible, is the way to go. Correct me if I'm wrong, but it should be sandboxable if the submitters submit the required libraries (might require some tinkering with the .sh, but I think it's doable.

Additionally, a major problem for this contest has been the startup time in the past. I suggested a solution:

GAME_MASTER: READY
PLAYER1: READY
PLAYER2: READY

So

[2011-04-18 20:01] Naktibalda commented on #6
It's done in my fork

[2011-04-19 08:34] sigh commented on #65
Done.

[2011-04-19 08:34] #65 closed, assigned to sigh

[2011-04-19 13:00] Synesso commented on #47
I'm writing a client to visualise games using this proposed interface. Is the replay format locked down? What I see from running play_one_game.sh is markedly different from https://github.com/aichallenge/aichallenge/wiki/Ants-replay-format

[2011-04-20 06:19] mleise commented on #47
You are right, Synesso. I updated the wiki now with information on the JSON format. I don't think anyone will miss the previous format specification, but it can be looked up in the page history.

[2011-04-21 08:57] Naktibalda commented on #62
I can do this and other ranking tasks, but I need a dump of live database with game results and other necessary data for testing.

[2011-04-22 19:19] #50 closed, assigned to McLeopold

[2011-04-22 19:19] #51 closed, assigned to McLeopold

[2011-04-22 21:04] amstan opened #73 "Setup does not set a password for a new installation of mysql"
Setup does not set a password for a new installation of mysql.
The installer quits with:
    Setting up unzip (6.0-4ubuntu1) ...
    Processing triggers for python-support ...

[code]

[2011-04-22 21:05] amstan opened #74 "Email sending from the website causes a require() error"
Having a real email in server_info.php causes:
    PHP Fatal error:  require_once(): Failed opening required 'phpmailer/class.phpmailer.php' (include_path='.:/usr/share/php:/usr/share/pear') in /home/contest/aichallenge/website/gmail.php on line 3, referer: http://hypertriangle.com:13080/register.php

Changing it to `donotsend` inhibits the problem.

[2011-04-22 23:48] #74 closed, assigned to nobody

[2011-04-23 00:14] amstan opened #75 "Files in a folder limit for submissions"
The submissions need to be organized in subfolders.
If submission id is `n`, the submission should be stored in `$submissiondir/(n%1000)/n`

Examples:
- id=1: submissions/0/1
- id=999: submissions/0/999
- id=1000: submissions/1/1000
- id=42021: submissions/42/42021

Both the main server and the worker have to do this.

[2011-04-23 00:53] #75 closed, assigned to McLeopold

[2011-04-23 01:23] amstan commented on #64
I setup a dedicated server for testing the contest: http://hypertriangle.com:13080/
Contact me if you need an account.

Actually making a buildbot would require me to get something like an uninstall script. Buildbot also needs tests, and that also requires time(which could be better spent in fixing bugs).

Reopen it if you really want more.

[2011-04-23 01:25] #64 closed, assigned to amstan

[2011-04-23 01:29] amstan commented on #41
We're actually using a version that predates the sample bot. I'll talk to flag about integrating his repo into ours and then we can move stuff easily.

[2011-04-23 01:29] #41 closed, assigned to nobody

[2011-04-23 01:59] Janzert opened #76 "Setup email sending"
Server setup scripts should configure the server to send email. Ec2 instances should be configured to use Amazon simple email service.

[2011-04-23 02:57] amstan commented on #61
I finished making the script to add the stuff automatically from the wiki(with a little help).
You can review it at the test server: http://hypertriangle.com:13080/problem_description.php

[2011-04-23 02:57] #61 closed, assigned to n-ham

[2011-04-23 03:28] amstan commented on #42
Done

[2011-04-23 03:28] #42 closed, assigned to Janzert

[2011-04-23 03:52] amstan commented on #3
I'm going to be closing the issue for statistic's sake as we have a ton of starters already. Feel free to continue submitting them.

[2011-04-23 03:52] #3 closed, assigned to amstan

[2011-04-24 04:41] n-ham opened #77 "Fix the font for the specifications page so characters have constant width"
The current font makes examples unreadable.

[2011-04-24 04:43] amstan commented on #77
Visible on this page: http://hypertriangle.com:13080/specification.php
I need to fix the code/pre tags to have a monospaced font.

[2011-04-24 04:44] amstan commented on #25
I should really split this in 2 issues.

[2011-04-24 04:55] amstan opened #78 "Integrate ants visualizer into the website"
Integrate ants @mleise's visualizer into the website.
Make sure it's easy to use as a widget, so it can be embedded in index.php.

[2011-04-24 04:58] amstan opened #79 "Touchup the css"
I still have to complete the table and the ul styling of the css of the new website design(http://hypertriangle.com:13080/)
And I still have no idea how the leader boards look either.

[2011-04-24 05:18] amstan opened #80 "IE support for the website"
I still have to check how IE and Opera handle the new website design.

[2011-04-25 16:09] #77 closed, assigned to amstan

[2011-04-25 16:53] amstan commented on #80
Opera's good now.
IE has big problems, i need someone with a windows comp to help me on this one.

[2011-04-25 21:31] mleise commented on #78
A browser detection is required to load either the applet or the html canvas visualizer. Other than that it should be ready to use on any page in any quantity.

[2011-04-26 02:15] amstan commented on #78
Seems to work pretty well: http://hypertriangle.com:13080/visualizer.php?game_id=1
I'm going to work on a widget now.

[2011-04-26 02:58] #78 closed, assigned to amstan

[2011-04-26 10:33] sigh commented on #58
Janzert reviewed this and gave his OK, so I've merged it into epsilon.

[2011-04-26 10:33] #58 closed, assigned to sigh

[2011-05-01 19:27] i0cus commented on #36
I have created a pull request with initial Leiningen support for Clojure and a simple started package.

https://github.com/aichallenge/aichallenge/pull/94

[2011-05-01 22:22] sigh commented on #70
There is now a --log_stderr option for playgame.py. If it is "file" the bot's stderr is logged to output_dir, if it is "stderr" it is logged to the terminal stderr, otherwise it is ignored. By default the value is "stderr".

[2011-05-01 22:22] #70 closed, assigned to nobody

[2011-05-03 12:19] sigh opened #95 "Bots can't see end of game info because they are stopped"
Bots currently only run when we let them (and we can time them). This means that when the game ends, they don't get to see the end of game info.

There are a few things we can do here:
1. Ignore it. In this case there is no point sending info to the bots after the game ends, and we should remove that part of the spec.
2. Let the bots run a bit. After the game ends, we give each bot a bit of time t

[2011-05-03 17:32] Janzert opened #96 "Ability to configure available languages"
Since not all the languages that compile_anything can handle will necessarily be available there should be a way to tell the system what languages to compile and run. Probably only the worker needs this configuration?

[2011-05-04 08:03] i0cus commented on #36
Leiningen requires network to build uberjars (fetching POM files for everything in lib/) and compiling is done offline. The best I can come up with now is doing `lein compile` and then running with:

[code]

which takes over four seconds on my system to print "hello world" from `main-`. Argh.

[2011-05-04 12:45] levand commented on #36
What about having users submit an "uberjar", a large binary which contains their code along with all dependencies? Or is user submission of binaries discouraged?

[2011-05-04 13:13] i0cus commented on #36
As in the main issue: https://github.com/aichallenge/aichallenge/issues/16 :)

It would be awesome to just submit uberjar and have `java -jar mybot.jar`, but it has not been agreed upon. I would certainly prefer that way, because right now we will most likely timeout before the bot is even started.

[2011-05-05 18:18] McLeopold commented on #95
A flag should be passed to the engine that allows the bots to be started up at the end of the game and sent ending information.  This would be used for local testing/training only.  The official workers would not pass this flag, therefore the bots would just be killed.  I currently have severe changes in progress on the engine in the epsilon-io branch, so I will add the flag in the next day or so

[2011-05-06 17:27] McLeopold opened #98 "Visualizer Links"
The visualizer needs to make player names clickable from the replay metadata.  The recent changes as of Cinco de Mayo now add the appropriate data to make this possible.

[2011-05-06 17:33] McLeopold opened #99 "Visualizer Score"
The visualizer score graph does not include the food bonus at the end in the graph.  There isn't an obvious way of declaring the winner either.  Perhaps an asterisk by the name, or underlined?  Or, dare I say it, double-underlined?

This may be because there are to location in the replay for scores that might not be consistent:

[code]

[2011-05-06 17:53] McLeopold opened #100 "Worker map cache"
Make api_get_task pass a url instead of a path to the worker.  Setup the worker to pull and cache map files.

[2011-05-06 18:11] McLeopold opened #101 "Visualizer Wish List"
This is list of things I think would be nice for the visualizer.  Feel free to add comments to this issue and we can discuss what is important/feasible.
- The contrast between land and water is very high.  This makes watching the ant battle hard because you can really only see the landscape and not the ants moving around.  I think the land/water contrast should be very slight so it fades away comp

[2011-05-06 22:44] #19 closed, assigned to McLeopold

[2011-05-08 19:10] mleise commented on #99
Double underline sounds good, but is not supported by the HTML canvas as far as I know. (It has to be something you can put on a CSS font property line.) Doing it manually doesn't work well either, because browsers tend to have differing interpretations of the y-offset. So an underline may appear too close or too far away from the text. I will most probably use the asterisk if I cannot get underli

[2011-05-08 19:18] mleise commented on #101
Ok, I'll just add my own whish list here.
- info button showing a message box with game meta data not visible otherwise (attack radius, timers, ...)
- zoom in to 20x20 squares with animated ants like it used to be in the early days
- functionality to set cpu usage to something different than 50%
- keep a minimum size to allow the controls to render
- show when a bot crashed, timed out, was defeate

[2011-05-08 19:26] mleise commented on #101
I had the scores/ant section animated. I found the font rendering to be rather slow and since I implemented antimatroid's idea of animated half-steps using the buttons below the map area it looks pretty confusing if the values change mid-turn. The animation looked great otherwise.

[2011-05-11 15:14] #13 closed, assigned to Janzert

[2011-05-11 15:16] Janzert commented on #57
This was recently completed

[2011-05-11 15:16] #57 closed, assigned to Janzert

[2011-05-13 00:31] Janzert opened #104 "Sandbox should timestamp lines received"
The sandbox uses a separate thread to receive input from a bot. It should also record and give the engine a timestamp of when each line is received. This would remove the latency of a line waiting to be handled by engine from being charged to the bot's time.

[2011-05-13 23:23] McLeopold opened #105 "submission directory structure incorrect"
submission directory structure incorrect

[2011-05-13 23:38] McLeopold opened #106 "compiler.py ExternalCompiler broken"
using log var

[2011-05-14 00:03] McLeopold opened #107 "setup script should add worker user to jailkeeper group"
setup script should add worker user to jailkeeper group

[2011-05-14 00:09] McLeopold opened #108 "worker should clean up temp dirs on startup"
worker should clean up temp dirs on startup

[2011-05-14 01:48] Janzert commented on #107
It already should be, line 181 of worker_setup.py:

run_cmd("usermod -a -G jailkeeper %s" % (options.username,))

[2011-05-14 14:18] McLeopold opened #109 "api_game_result should add submission rank & mu for visualizer"
api_game_result should add submission rank & mu for visualizer

[2011-05-14 21:04] #106 closed, assigned to nobody

[2011-05-14 21:23] McLeopold opened #110 "Create admin submission status page."
It would be nice for an admin to search for a username and get info from the database about the status of a submission, including errors.  It should include nice shiny buttons to reset submissions or clear them out.

[2011-05-14 21:28] #105 closed, assigned to nobody

[2011-05-16 14:29] sir-macelon opened #111 "Bug in game engine - missing info about own dead ant"
The game engine is not sending info about player's own dead ants if this player loses visibility over the tile where his ant died.

[2011-05-17 15:45] McLeopold commented on #111
This has been discussed on IRC and we agree it should be implemented.  The vision for a turn should be based on what you could see before the attack phase plus what you can see after the birth/spawn phase.

[2011-05-17 23:11] McLeopold opened #112 "common_lisp starter bot does not conform to standard"
The starter bots should not have tools. Starter bots need to have at least a MyBot.ext file in the root dir; For lisp this would be MyBot.lisp. Makefiles will not be used for official compilation, although they can be included.  Currently the zipped archive of the common_lisp folder does not compile when uploaded to a test server.

[2011-05-17 23:17] McLeopold opened #113 "d bot compiler dmd doesn't install"
and we are sad

[2011-05-18 09:19] #112 closed, assigned to aerique

[2011-05-18 11:03] aerique commented on #112
https://github.com/aichallenge/aichallenge/commit/cf2ad19e55dd0a81ff10c96332da5439159e17a1

[2011-05-19 05:25] jwkvam commented on #66
Hello, I wrote up a Haskell starter bot, https://github.com/qacek/ants-haskell. It mostly follows the current starter bot guide in the wiki plus some input I received from McLeopold on upcoming changes in the engine like dead ants' vision for 1 turn. The starter bot implements the basic N,E,S,W path finding algorithm. For better or worse I wrote it from scratch since I didn't see this issue until

[2011-05-19 13:34] Janzert commented on #25
These are both these tasks now have automated ways to do them (Makefile for the starter bots and ant deploy for the visualizer) and are integrated with the server setup script.

[2011-05-19 13:34] #25 closed, assigned to amstan

[2011-05-19 14:00] Janzert commented on #107
Verified working.

[2011-05-19 14:00] #107 closed, assigned to nobody

[2011-05-19 21:00] McLeopold commented on #100
Fixed a few days ago.

[2011-05-19 21:00] #100 closed, assigned to McLeopold

[2011-05-19 21:00] McLeopold commented on #95
Fixed in the last week or so.

[2011-05-19 21:00] #95 closed, assigned to nobody

[2011-05-20 08:39] aerique commented on #98
I can't really test this but going through the source I wonder whether this might already have been fixed?

If you check `visualizer/js/Application.js` lines 544 to 564 there's this function:

[code]

which seems to make the player name clickable when `user_url` and `user_ids` is available in the replay file.

[2011-05-20 08:48] McLeopold commented on #98
Frontier mentioned on IRC that this had always been working, so I don't think it needs attention.  But, let's leave this open until when hit beta, as the json may still change up until that point.

[2011-05-21 03:30] amstan commented on #62
I think this is done

[2011-05-21 03:30] #62 closed, assigned to McLeopold

[2011-05-21 03:31] amstan commented on #15
Is this done? @Mcleopold @Janzert

[2011-05-21 03:33] amstan commented on #111
Isn't this done? @Mcleopold

[2011-05-21 03:34] amstan commented on #113
@Janzert: dmd crashed my sandbox install(i have 32bit on my server) if that matters.

[2011-05-21 03:36] amstan commented on #66
Well, this is included now. Please let me know of updates

[2011-05-21 03:36] #66 closed, assigned to nobody

[2011-05-21 03:37] #6 closed, assigned to nobody

[2011-05-21 03:37] amstan commented on #12
Is this still in progress?

[2011-05-21 03:41] amstan opened #114 "No food on some games"
Example:
http://hypertriangle.com:13080/visualizer.php?game=2838

Worker(with --debug) on another game:
http://pastebin.com/PHaESuQs

[2011-05-21 03:56] amstan opened #115 "Having the starter package inside a folder will cause compile errors"
So far you need to include all your starter bot files directly in the zip, if you have it in a folder first, it will cause the compile to fail:

[code]

[2011-05-21 04:01] amstan opened #116 "Bad status for submission while functional testing"
The status for a submission after uploading goes something like this:
- ready to be compiled
- **error receiving submission file**
- successfully entered into contest

[2011-05-21 05:37] aerique commented on #115
If MyBot.ext is directly in a zip but the rest of the sourcefiles are in a subdir, does that work?  This is at least the case for the CL starter pack.

[2011-05-22 05:01] McLeopold commented on #115
Starter bots should not be so complicated as to have subfolders.  This functionality is by design and starter bots should meet the spec.

[2011-05-22 05:02] #114 closed, assigned to McLeopold

[2011-05-22 09:03] aerique commented on #115
This issue is bigger than just starter bots.  When the contest has started and people's code bases are growing they will want to organize those code bases to make them less complicated.  It is only natural to put files into subdirectories then.

Also, could you point me to the spec you're talking about?  The only one I know if is: https://github.com/aichallenge/aichallenge/wiki/Ants-Starter-Pack-G

[2011-05-22 13:54] Janzert commented on #115
I think what Aerique and McLeopold are discussing is different from what Amstan was originally referring too. In regards to having a bot laid out such that there are subdirectories with source files in directories below the MyBot.ext source file. This should already work, and in fact the current common lisp starter bot does compile fine currently. With regards to whether or not starter bots should

[2011-05-22 16:08] Janzert commented on #113
Yes, dmd is now setup for 64 bit

[2011-05-22 19:10] #113 closed, assigned to Janzert

[2011-05-22 21:45] amstan opened #117 "server_setup.py expects python-mysqldb to be already installed"
server_setup.py installs python-mysqldb at some point, but it immediately tries to use it. This is no possible, since the script has to be reloaded for that import to work.

[2011-05-23 00:24] amstan opened #118 "Worker install: fuse: failed to open /dev/fuse: Permission denied"
This is my attempt to install a sandboxed worker on a host(aichallengebeta.hypertriangle.com), hosted at sshvm.com:

[code]

I will proceed reinstalling without a sandbox.

[2011-05-23 02:28] amstan opened #119 "worker.py: server_info["game_options"][:] TypeError: unhashable type"
I was peacefully trying to get worker.py running, and then suddenly a wild error appears:

[code]

[2011-05-23 03:07] amstan commented on #119
I tried using .copy() or removing [:] entirely, but i just get a lot of these:

[code]

[2011-05-23 03:13] #32 closed, assigned to n-ham

[2011-05-23 03:13] #35 closed, assigned to n-ham

[2011-05-24 07:41] aerique commented on #15
_edit: I should have used the compiler arguments from compile.py :-(  Anyway, I'm at work currently so I can't rerun the tests right now._

The following starter bots compiled and handled the [sample bot input and output from the wiki](https://github.com/aichallenge/aichallenge/wiki/Ant-bot-input-output).  I did not use the `-j` option, since it would take too much configuration on my work machine

[2011-05-24 11:36] aerique opened #120 "Incorrect paths when running visualize_locally.py from the commandline"
visualize_locally.py fills in incorrect paths in the replay template when running it from the command line.  The culprit seems to be line 21 (`mod_path = ...`), since it works if I replace that line with: `mod_path = common`

but in that case visualize_locally doesn't work anymore when run from `play_one_game.sh`.

Simple test case: `visualizer/visualize_locally.py < game_logs/0.replay`

[2011-05-24 11:56] amstan commented on #15
Yes, but is it actually in effect in worker.py?

[2011-05-24 13:02] aerique commented on #15
Not by the looks of it.

[2011-05-24 23:24] rhadoo32 opened #121 "Cannot get playgame.py to work"
Hi, I am getting this error when running the script playgame,py. Specifying -R or not, makes no difference.

Creating canvas...
Parsing the replay...
Parsing the replay...

Error message:
replaydata.revision should be 2, but was found to be undefined!

Error fileName:
file:///home/radu/workspace/aichallenge/ants/visualizer/js/Replay.js

Error lineNumber:
172

Error stack:
([object Object],"revisio

[2011-05-25 02:48] amstan commented on #121
Seems like it's trying to use the sandbox, hmm.

[2011-05-25 06:02] McLeopold commented on #115
I think the starter bots should be geared toward someone that is new to the language.  It should provide enough framework that they can immediately dive into the logic of the bot without having to worry about parsing input, displaying output, updating state and timing code.  The python and java bots do this by creating a class that has a do_turn function.  They clearly mark sections where variable

[2011-05-25 06:36] #120 closed, assigned to McLeopold

[2011-05-25 06:37] McLeopold commented on #119
This should be fixed with the latest worker updates today.

[2011-05-25 06:37] #119 closed, assigned to McLeopold

[2011-05-25 06:46] #116 closed, assigned to McLeopold

[2011-05-25 07:42] rhadoo32 commented on #121
I don't know....I will try more when I get back from work, but, I really found the install.md hard to follow (but I'm not a Linux expert).
And, after install.md, there is no getting started guide, there is just some code comment in Python.
So, I may have done some wrong...

[2011-05-25 08:08] #98 closed, assigned to McLeopold

[2011-05-25 08:26] McLeopold commented on #52
Fixed in latest changes.

[2011-05-25 08:26] #52 closed, assigned to McLeopold

[2011-05-25 08:39] #53 closed, assigned to McLeopold

[2011-05-25 09:00] McLeopold opened #122 "api_game_result should invalidate the proper memcache keys"
api_game_result should invalidate the proper memcache keys

[2011-05-25 09:03] McLeopold opened #123 "ranking pages show old bots"
they should sometimes show the second to oldest bot for an entry if there has been a new submission, but that's it.  It should not have a rank.  The global rank when on a second page of results, and withing the filtered ranking pages needs to be added back in.

[2011-05-25 09:06] McLeopold commented on #111
No, and I think sigh is unavailable for awhile.  This can be done after beta.  It's not a show stopper.

[2011-05-25 17:16] McLeopold commented on #121
The visualizer will not work because a game is not actually being played.  Pass the "--nolaunch" flag to playgame until this works so it doesn't get in your way.

The engine can't start one of the bots correctly.  Which OS?  Are you running play_one_game.*?  Are you trying to run a custom bot?  Can you give us a list of file permissions for the bots that are being run?

[2011-05-25 18:23] McLeopold commented on #123
It appears the latest flag is not being cleared after compilation.

[2011-05-25 19:11] rhadoo32 commented on #121
Sorry, I cannot replicate behavior after reinstall....for some reason. Closing..
OS: Ubuntu 11.04, script is playgame.py, bots are the ones provided here.

[2011-05-25 19:11] #121 closed, assigned to McLeopold

[2011-05-25 21:42] amstan commented on #115
As janzert said. This bug is not about detecting code in subfolders for compiling. It's about a regression.

Code used to work(in tron/pw) when submitted these ways:
1. submission.zip > submission/ > MyBot.py
2. submission.zip > MyBot.py

Now, 1 is broken, so only 2 works.

This is important because most users right click on a folder, and press compress; this yields an archive similar to #1.

[2011-05-25 21:46] amstan commented on #121
Just a note.. Install.md is intended to install the contest framework(as in.. start your own contest website), it's not intended for testing your bot in games, you don't need install for that.

[2011-05-25 22:39] flagcapper opened #124 "visualizer.php vulnerable to XSS"
http://aichallengebeta.hypertriangle.com/visualizer.php?game=127');%20alert('XSS

[2011-05-25 22:50] McLeopold commented on #121
but we do need a tools download...

[2011-05-25 22:51] #123 closed, assigned to McLeopold

[2011-05-25 22:57] #124 closed, assigned to nobody

[2011-05-26 00:04] #115 closed, assigned to nobody

[2011-05-26 10:57] sigh commented on #111
I've added a special case for dead ants. Being able to see _everything_ from before the attack phase complicates the code a bit (and slows it down), so if there is significant support for it then it would be good if the rationale for that was documented here. (I know at least antimatroid disagrees with it).

Anyway, I don't quite know the status of all this and I'm a bit out of the loop on this st

[2011-05-26 16:40] McLeopold commented on #111
The rational is that if you send a scout somewhere, you should be able to see what the scout saw.  If the scout died in a battle, you should be able to see the results of that battle.  A bot should always be able to see the outcome if its own actions.

The code should calculate vision based on live and dead ants after move and attack phases.  This would only involve splitting the update vision fun

[2011-05-26 21:29] sigh commented on #111
What about ants which die _during_ the move (ie collisions)?

[2011-05-28 16:49] smiley1983 opened #126 "Can't change bio or affiliation"
When I try to change my bio or affiliation, I get "Invalid organization id: 0" in either case.
The profile is named "solifugid", but I get the same errors when I try to edit those things on my test server inside a virtual machine.

[2011-05-30 14:52] amstan commented on #126
Seems to work for my profile on aichallengebeta.
Where is this error showing?

[2011-05-30 15:08] smiley1983 commented on #126
on aichallengebeta, url /save_profile.php
When I try to change the bio, I get a blank white page with "Invalid organization id: 0" at the top left, no other info.
Should I try making another profile to see if it's just that one?

[2011-05-30 15:11] smiley1983 commented on #126
sorry, didn't mean to close.
I made a profile named "test11", started with blank bio, and then tried to change it - same error

[2011-05-30 17:30] amstan commented on #126
This is done right?

[2011-05-30 17:30] #126 closed, assigned to nobody

[2011-05-30 17:31] amstan commented on #118
This is something funny with sshvm, it's not capable of doing fuse without a special kernel.

[2011-05-30 17:31] #118 closed, assigned to Janzert

[2011-05-30 17:31] amstan commented on #80
@Frontier: Is it all good now?

[2011-05-30 17:36] amstan opened #128 "Website pruning"
Now that we have the tools ready I can go and delete whatever's left from planet wars. Maybe make some docs for the tools.

After this, the website content should be complete.

[2011-05-30 17:41] McLeopold opened #129 "support coffee script"
add install of npm and coffee script to worker_setup.py

[2011-05-30 23:46] #79 closed, assigned to amstan

[2011-05-31 02:12] smiley1983 commented on #126
Yes, it's done.

[2011-05-31 04:52] McLeopold opened #130 "pass game options to worker in api_get_task"
pass game options to worker in api_get_task.  right now each worker could have its own set of options

[2011-05-31 05:33] mleise commented on #80
Java: check
IE9 + canvas: check (the shadow effect on the big title text "google ai challenge" is not displayed)
older IEs: ???

[2011-05-31 06:51] McLeopold opened #131 "add submission ranking for user in profile"
Add submission ranking for user in profile that only includes their submissions.  This will give a user an indication of which submission has done the best.

[2011-05-31 07:03] McLeopold commented on #104
What if it was smart and just recorded the timestamp of the 'go' lines?

[2011-05-31 07:05] McLeopold commented on #54
After watching beta for awhile, I'm thinking only symmetric maps should be used.

[2011-05-31 08:00] sir-macelon opened #132 "Bug in game engine - 'None' instead of player ID"
When a new ant is spawned and gets vision over a tile where an enemy ant died this turn, then the game engine sends something like this: "d <row> <col> None". This line shouldn't be sent at all as the spawned ant wasn't supposed to see this battle resolution anyway, because spawning phase is after battle resolution phase.

[2011-05-31 08:08] sir-macelon commented on #132
See game http://aichallengebeta.hypertriangle.com/visualizer.php?game=7779&turn=45&row=96&col=7 as example, bot aerique-test.

[2011-05-31 08:35] DanielCollins commented on #12
Not as far as I know. Although I was the one who opened this issue it has been some time since I held any interest in your competition. If you are asking about server side support then I can't help you. I see that antimatroid is assigned to it, maybe you can ask him. As for my "starter pack", it never got tested on a real server but I thought that it was probably protocol-correct if slow when I la

[2011-05-31 14:57] McLeopold commented on #132
Now that I think about it, it is probably a dead ant of an ilk the player hasn't seen before.  This would be the switch matrix that sets the player numbers for a bots perspective.

[2011-05-31 16:18] amstan commented on #128
Pages that need to be rewritten:
- http://aichallengebeta.hypertriangle.com/using_the_tools.php - [moved to wiki page](https://github.com/aichallenge/aichallenge/wiki/Using-the-Tools)
- http://aichallengebeta.hypertriangle.com/starting_your_own.php
- http://aichallengebeta.hypertriangle.com/resources.php
- http://aichallengebeta.hypertriangle.com/simple_strategy_guide.php
- http://aichallengebeta.

[2011-05-31 17:09] #132 closed, assigned to nobody

[2011-05-31 17:10] McLeopold commented on #132
The newly spawned ant will still get to see the dead ant.  This is because I don't want to code for this edge case.  If it is important, convince sigh.

[2011-05-31 17:16] McLeopold commented on #111
I would say they still get to see what was seen before the collision.  Could we start with a vision matrix at the beginning of a turn and update it for every ant move, even if it was to a collision?  The first ant to the same spot should be enough to update it.

[2011-05-31 20:06] Hjax opened #136 "Testing of starter packages"
Place holder for testing of starter packages

Python -  the bot works fine, runs exactly as it should with a good description

[2011-05-31 20:34] McLeopold commented on #130
done

[2011-05-31 20:34] #130 closed, assigned to nobody

[2011-05-31 20:34] McLeopold commented on #129
janzert did it

[2011-05-31 20:34] #129 closed, assigned to Janzert

[2011-05-31 20:48] McLeopold commented on #47
This is done.  Try http://aichallengebeta.hypertriangle.com/game_list_json.php?page=1

[2011-05-31 20:48] #47 closed, assigned to nobody

[2011-05-31 21:34] Synesso commented on #47
Exciting news! (but I got a 404)
On 1 Jun 2011 06:48, "McLeopold" <
reply@reply.github.com>
wrote:

[2011-06-01 00:37] McLeopold commented on #47
I modified the links, try again

[2011-06-01 01:08] Synesso commented on #47
Confirmed, cheers.

[2011-06-01 08:32] aerique commented on #136
What does your testing process look like?  I might have some time to test some of the starter packages as well.

[2011-06-01 10:59] sir-macelon commented on #132
It is not important for me. Moreover I don't think anyone would use this information, yet it is a bug and if you want to make it a feature, then you'd better change the game spec for people to be aware of it.

[2011-06-01 14:55] olexs opened #139 "Display version number in user submission list"
Version numbers are seen in the rankings and in the game list, but one cannot match the submission times with the versions.

[2011-06-01 18:40] #139 closed, assigned to nobody

[2011-06-02 14:25] amstan commented on #136
I want them uploaded on the site, check their behavior against the python bot (they shouldn't be too smart).

If they error, test them locally with a test_bot.sh, note the error somewhere. Have a go at fixing it, if it's too complicated use `git blame`(on github: button on top right) to find the guy who wrote it and contact him (tell him about the test server). An issue wouldn't hurt either.

[2011-06-02 23:34] McLeopold opened #141 "workers should gzip results"
communication between workers and manager should be gzipped

[2011-06-02 23:37] McLeopold opened #142 "store raw bot input/output for debugging?"
As an aid to the contestants, store bot input/output and make available as a zip file.  Right now they can only see the replay format, which would need to be processed into bot input/output.  This would increase storage and bandwidth needs of the server.  If not implemented, someone needs to write a replay to stream converter.

Thoughts?

[2011-06-02 23:38] McLeopold opened #143 "Finalize all basic game/ranking lists"
The submission pages are not done yet.

[2011-06-02 23:40] McLeopold opened #144 "Redo starter pack page"
I think a simple table would be better, since the "description" is just a copy paste.  Also, we should include the advanced language packs, such as the common-lisp original starter.

[2011-06-02 23:44] McLeopold opened #145 "Invalid replays because ant length is 1 short"
When a bot crashes or times out, all its ants have the incorrect length for moves.  There are various quick fixes, such as ignore it, append a no move (dash) to the list, subtract 1 from the length.  I'd like someone to think of a good solution that isn't a hack that makes sense.

[2011-06-02 23:46] McLeopold opened #146 "Capture head *and* tail of stderr"
Right now we are only capturing the first 1024 characters of stderr.  We should capture the first 512 plus the last 512, or everything if it is smaller.

[2011-06-02 23:47] McLeopold opened #147 "Speed up jails"
Jails slow you down.  Janzert's got some ideas.

[2011-06-02 23:51] McLeopold opened #148 "Create maps on the fly."
The manager should do this on the server at regular intervals.  Maybe once a day generate 20 new maps.  Low enough that people can compare individual bot performance on the same map with different opponents.  High enough that we get some variety.

[2011-06-02 23:52] McLeopold opened #149 "Update map generator."
The current map generator only has one symmetry.  It also can create maps that block easily.  Toss in a few more map types.

[2011-06-02 23:53] McLeopold opened #150 "Symmetric food is best, but limited."
Symmetric food only works with the symmetric map types.  If we have different types of symmetry, it will break.  It will also break if we have more than one starting ant per player.  This should be improved.

[2011-06-03 01:02] Janzert commented on #142
I would be mildly opposed to storing a game in two different formats. A tools to convert the existing replay format and run a bot through the game seems much better.

[2011-06-03 02:42] McLeopold opened #151 "bot game stats"
ant turns (kinda like man-hours, large gaps indicate bots unwilling to kill their victims)
ants spawned
ants died
kill ratio per player combo
ant wins per player combo
ant fails per player combo
invalid order count
ground covered
miles traveled
average distance to starting enemy ants weighted by final rank (unfairness factor)

[2011-06-03 02:44] McLeopold commented on #142
This would be 2 files per bot, not exactly a replay, but still derivable from the actual replay.  (Whoops, wrong button)

[2011-06-03 02:50] McLeopold opened #152 "allow for selecting active version, or no version"
Give some control to the players over their current submission that is active.  Only 1.  Also, altruistic players can take a crappy bot out of rotation (and get to be first in line when they resubmit)

[2011-06-03 02:51] McLeopold opened #153 "redo favicon"
to match the actual logo

[2011-06-03 02:52] McLeopold opened #154 "provide rss feeds for players"
so their phone can ding when they get a match

[2011-06-03 03:17] McLeopold opened #155 "timeout/crash bots shouldn't get points"
but they do http://aichallengebeta.hypertriangle.com/visualizer.php?game=12047

[2011-06-03 03:18] #155 closed, assigned to nobody

[2011-06-03 03:18] McLeopold commented on #155
oops, looking at wrong number

[2011-06-03 08:34] sir-macelon opened #158 "End game status column in latest games page"
Could we have a new column with end game status information (survived/eliminated/crashed/timeout/etc)?
Furthermore it would useful to filter the latest games page with this status to quickly see in which games my bot crashed/timeout.

[2011-06-03 15:44] McLeopold commented on #158
Yes, I will do this.

[2011-06-03 15:46] McLeopold opened #159 "Possible bug in engine/replay"
http://aichallengebeta.hypertriangle.com/visualizer.php?game=12534&turn=589&row=1&col=42
2 ants die in turn 590, but look like the incorrect ones
2 ants die in turn 591, but are not near the enemy

[2011-06-03 18:05] amstan commented on #153
Yes, see ants/website-source/logo.svg

[2011-06-03 18:08] amstan commented on #150
@antimatroid's map generator/food algorithm shouldn't be called symmetric. It's a very limited example of symmetry. It's the same as using `shape` to name a `circle`.
I would like to see ants/mapgen/SymmetricMapgen.java used as well

[2011-06-03 18:13] amstan commented on #142
I agree with janzert. A tool to convert the replay files to stdin and stdout would be best.
We're already at 700MB/12000 games.

[2011-06-03 18:36] #99 closed, assigned to mleise

[2011-06-04 06:10] McLeopold commented on #142
We all agree not to do this in favor of a converter.

[2011-06-04 06:10] #142 closed, assigned to nobody

[2011-06-04 06:13] McLeopold opened #160 "Write replay converter."
Preferable it will produce the same output as the engine produces when logging the stream format and the bot io.  Replay files can contain stderr if run locally, but will not when run on the official server.

[2011-06-04 11:50] Janzert opened #161 "Engine Seeding"
The engine needs to set a known seed for itself if one is not provided. Since the python random module will securely seed itself with whatever resources the OS provides the known seed value can be easily derived from that initial state (e.g. seed = random.randint(); random.seed(seed)). This should always be recorded in the replay so that at least theoretically the engine can be checked to reproduc

[2011-06-04 14:08] aerique commented on #144
Added simple table.  Could use some CSS love from someone.

[2011-06-04 20:30] aerique commented on #145
Both adding a "no move" and subtracting 1 from the length sound reasonable.  My preference would be the latter since the bot's turn is illegal and should not be counted.

_edit:_ from my limited test set (one local game and one on the test server) I don't see what you mention happening.  For a crashed player I see all its ants outputting "no moves" until the game's end.

Have you got a link to a s

[2011-06-05 04:26] amstan commented on #80
According to browsershots IE8 seems to handle the my css alright, but it seems to not like your visualizer.

[2011-06-05 04:26] #80 closed, assigned to nobody

[2011-06-05 06:10] amstan opened #162 "Iak artwork"
I got in touch with a graphics designer (geartrooper) who could cooperate with us in adding artwork through the site and to promotional materials(i'm thinking youtube and posters).

Examples of his ants artwork can be found at http://home.hypertriangle.com/~alex/aichallenge/ants/iak-artwork/. I tried integrating Iak on the [homepage](http://home.hypertriangle.com/~alex/aichallenge/website), seems

[2011-06-05 08:54] Synesso opened #163 "Scala - fails to start"
Scala starter pack, when deployed, reports:

[code]

I assume this means the worker did not wait long enough for the Scala runtime?

[2011-06-05 09:03] Synesso commented on #163
I suspect https://github.com/aichallenge/aichallenge/blob/epsilon/worker/compiler.py#L360 should read

[code]

[2011-06-05 11:28] #163 closed, assigned to nobody

[2011-06-06 00:54] Janzert commented on #163
Not sure why you closed the issue already, but I have now added a scala start command to the language definition.

[2011-06-06 00:56] Synesso commented on #163
Thanks. I closed the issue because I had built a patch. Then I realised my
patch was bad and I spent a few hours in github newbie hell before I ran out
of time. Thanks for the fix. I'll try it out.

On 6 June 2011 10:54, Janzert <
reply@reply.github.com>wrote:

[2011-06-06 00:57] Janzert commented on #162
I'm not at all a graphics designer so am rather the last one that should be asked about this; to me though the feel of this doesn't seem to fit with the rest of the design. But I don't really have a strong feel against it either.

[2011-06-06 01:10] aarossig commented on #162
I agree with Janzert. I like the artwork and the illustrations are nice. I just don't think that they fit in with our design.

[2011-06-06 03:10] McLeopold commented on #162
I like it.  Our design right now is html+css only, which is colors and borders.  There is one graphic that could be switched out and one favicon that should be replaced anyway.

The weird dinosaur that is supposed to be a horse doesn't fit.

[2011-06-06 03:51] McLeopold opened #165 "Add pairing cutoff to matchup generator for finals."
Add pairing cutoff to matchup generator for finals.  This should be added to the stored procedure to limit pool of available submissions to a mu.

[2011-06-06 10:37] n-ham commented on #159
Looks to me like the ants are colliding.

[2011-06-07 00:51] zaphus commented on #159
Maybe it would help if the visualizer could show a different animation for colliding deaths, or even just draw an X through any location with more than one ant in it, so that when playing back you can spot them

[2011-06-07 07:47] aerique opened #166 ""Bad submission key found""
Since making an additional account "lispstarterbot" I can no longer submit bots with either that account or "aerique-test".  I always get a "Bad submission key found" message.

The major problem is that there are no further error messages or explanations on how to solve this issue: neither on the page with the error message nor in my profile page.

[2011-06-07 08:31] Janzert commented on #166
Tracked this down a little more with aerique. Something about the common list starter package zip from the beta server is causing line 52 of check_submit.php to trip. This was tested with multiple browsers by myself and aerique with all of them displaying the problem so it seems like it is something server side that is going wrong. At the same time I'm not sure how the data being uploaded is causi

[2011-06-07 14:20] McLeopold commented on #166
The max_post_size of 8M is being exceeded and the $_POST array is then empty.  I'm checking on the best way to handle this.  I've increased the limit to 12M and gotten a correct message.

The lisp file is too large because I was testing the compile in the starter pack dir and left it there, so it probably got picked up by the starter pack make file.  I've cleaned this up.

[2011-06-07 14:21] McLeopold commented on #159
There are still line in the replay that indicate ants were within fighting range for the first fight.  Whatever the bug is, the visualizer is showing incorrect information as well.

[2011-06-07 18:24] #166 closed, assigned to nobody

[2011-06-07 21:27] mynameisgeorge opened #167 "game 16756 - that isn't my bot ... are you mixing bots up?"
hi, i am 99% sure that the bot 'george' in game 16756 is not mine  (i have played the map on my machine, though it seems with different seed, and it does not play like that, ever).
i have seen this in 1 or 2 other cases, previously (also in the early days of the previous contest).

if someone could take a look, or maybe be on the lookout for other people reporting the same thing, that would be gre

[2011-06-07 22:09] zaphus opened #168 "Website issues/improvements"
A list of issues and improvements I'd suggest for the website:
All seen under IE9

Issues:
- Under 'Recent Submissions' the "more" button takes you to a blank page without your name on it and no submissions shown
- On the My Profile page the right hand table of shortcuts (the green section) are not available, so uploading code cannot be done from My Profile
- On the My Profile page, Current Rank i

[2011-06-08 00:12] zaphus opened #169 "Replay viewer - cannot select fog of war for bots 9 & 10"
The replay viewer has icons down the right hand side to select fog of war viewing, however it only shows the clear option, plus 7 more icons, plus a bit of the 8th icon.  There are no icons for bots 9 and 10.

Reduce the size of the icons so that 11 icons fit into the space provided (assuming 10 is the max number of bots allowed)

[2011-06-08 04:51] Janzert commented on #109
Also the worker # that the game was played on should be added at the same time.

[2011-06-08 04:54] zaphus opened #170 "Website: Game history shows skill as 0.00 for many games"
Approximately 1 in 3 games is currently showing a skill of 0.00 on the game history in the player profile page

Taken from bot 'Zaphus'

Version 15
8 Jun 8:49 0.00
8 Jun 8:38 0.00
8 Jun 8:23 55.05
8 Jun 8:16 55.45
8 Jun 8:04 0.00
8 Jun 7:49 56.36
8 Jun 6:51 55.88
8 Jun 6:36 0.00

The bot did well in these matches, e.g. the first in that list:
8 Jun 8:49 0.00 (1)Zaphus (2)davidjliu (3)hbhasker2 (4)

[2011-06-08 05:27] Janzert commented on #170
This is just another symptom of the beta server having problems running java at times. The updater is not able to start so the skill doesn't get updated or added to the game information. I have been periodically rerunning against the games missing the updates and have now created a script that can be easily run to do it.

[2011-06-08 05:27] #170 closed, assigned to nobody

[2011-06-08 10:00] mynameisgeorge commented on #167
ok, i added the:
std::cerr << "bot: george" << std::endl;
and
std::cerr << "bot: george    turn: " << turn_number << std::endl;
to my bot.

Could you check games  #17608  and  #17180   to see what the standard error output is?
thanks.

[2011-06-08 10:02] mynameisgeorge commented on #167
error, didnt mean to close.  apologies.

[2011-06-08 14:14] #161 closed, assigned to nobody

[2011-06-08 14:17] McLeopold commented on #169
I agree, I have to maximize the viewer to use these buttons.  It would be nice if the buttons looked consistent as well.  The lower section has a different theme than the right section.

[2011-06-08 14:18] McLeopold commented on #168
Can you split each of these into their own issue?

[2011-06-08 14:25] McLeopold commented on #167
Both games show your bot with your user_id and your submission_id with the correct game_rank matching to the replay.  So there is no mixup.

game 17608:

+---------+---------------+-----------+-----------+------------------+
| user_id | submission_id | game_rank | player_id | left(errors, 11) |
+---------+---------------+-----------+-----------+------------------+
|      11 |           194 |

[2011-06-08 14:25] #167 closed, assigned to nobody

[2011-06-08 15:15] #169 closed, assigned to mleise

[2011-06-08 16:08] mleise opened #171 "Food bonus doesn't show as a separate value after last turn"
This is an example with the players getting a random bonus at the end of the match:
http://marco-leise.homedns.org/antgui/stable/visualizer.php?game=8 (my laptop may not always be online)

The idea is that there is an additional:
"bonus":[100,1,2,23,0,356,347,423,4,2]
next to the "scores" and "revision" fields in the replay. There is one number per player and players without a bonus have a '0'.

[2011-06-08 16:14] #15 closed, assigned to Janzert

[2011-06-08 16:16] Janzert commented on #117
Since the import isn't attempted until after the module has been installed it should work. At least it seems to when I do a setup, including from fresh ec2 instances.

[2011-06-08 17:20] McLeopold commented on #159
Okay, in the replay, the lines indicated battle are correct.

For the first, the two ants that survived only received 1/2 damage, but the one ant that died received 2 damage.  The other 2 ants that died are a result of collisions and it is only coincidence that they appear in the same formation.

The second turn is the same, a separate battle above that is correct, and 2 locations down below that

[2011-06-08 17:20] #159 closed, assigned to nobody

[2011-06-08 19:26] #171 closed, assigned to McLeopold

[2011-06-08 21:15] #146 closed, assigned to nobody

[2011-06-08 22:52] McLeopold commented on #145
The error actually happened when a timeout or crash happened in the last turn.  Finish turn was not getting called correctly for the remaining bot.

[2011-06-08 22:52] #145 closed, assigned to nobody

[2011-06-08 23:14] #109 closed, assigned to McLeopold

[2011-06-08 23:17] zaphus opened #172 "Under 'Recent Submissions' the "more" button takes you to a blank page"
(Tested with IE9)

Under 'Recent Submissions' the "more" button takes you to a blank page without your name on it and no submissions shown

[2011-06-08 23:18] zaphus opened #173 "On the My Profile page the right hand table of shortcuts (the green section) are not available"
(tested with IE9)

On the My Profile page the right hand table of shortcuts (the green section) are not available, so uploading code cannot be done from My Profile

[2011-06-08 23:20] zaphus opened #174 "On the My Profile page, No ranking available for bots with high-water entries"
On the My Profile page, Current Rank is no longer working (it has previously worked) for the bot Zaphus

It is working for other bots (I didnt check all, but the ones I checked were good)
This may be because I currently have a ghost at the top of the leaderboard, above position 1

Edit:  Confirmed, those bots with high water entries all receive "Current Rank: N/A. No ranking available" despite hav

[2011-06-08 23:21] zaphus opened #175 "Website improvement: Add "Page refreshed at xx:xx" on the My Profile page"
Suggestion:

On My Profile, next to "Next Game should be played soon" include a "This page refreshed at XX:XX" so you have some concept of how long it has been since your last game (we're not all in the same timezone so can't use our clock to check)

[2011-06-08 23:22] zaphus opened #176 "Replay viewer: Improvements to help you see your bot"
Replay viewer: It can take some time to figure out which colour your ants are each time you view a game.

Something that lets me see my bots more clearly (e.g. lets me use green for my bots, the others get a greys or something) would help a lot.
The fog of war helps but can make it hard to watch and runs slower, and it still takes a while to figure out which of those are you.

[2011-06-08 23:31] McLeopold commented on #111
Due to a lack of interest in the feature, and that fact that we don't have time to code it, I will say the specs should indicate dead ants don't get to report vision back.

[2011-06-08 23:31] #111 closed, assigned to sigh

[2011-06-08 23:38] zaphus opened #177 "Suggestion: Allow bots to "tweet" a short char string into the replay for debugging on live servers"
On each turn, allow the bot to add
    t string
to their move (once per turn, limited to say 12 characters)

In the replay, add a button/box to show the tweet for that turn from an individual bot. (truncated to a reasonable number of characters).

this can be used to help people figure out what actually happened by adding simple debug info
e.g.
t 102 44 kill!

Downside:
people could put:
    t mot

[2011-06-08 23:39] zaphus commented on #168
All split out into separate issues.  closing this one

[2011-06-09 01:14] McLeopold commented on #177
You can already output to stderr and we will capture it.  You only get 1024 chars, the first and last 512.  And only you can see it, eventually.

[2011-06-09 01:28] zaphus commented on #177
Ah, ok - didn't realise that.   1024 chars is pretty small for a 2000 turn game, enough for 5 chars every 20 turns (including putting in the turn number) - but it's way better than nothing
e.g.

23: feed
999: hunt
1234:killm

[2011-06-09 06:27] zaphus opened #178 "Games history page: Allow sorting by Map & Position"
It would be very helpful to be able to sort your games history by:
Date (current behaviour)
Map (so you can see how you do on different maps)
Position (so you can find the matches you do best/worst in)

You would still group by submission number, but sort within that submission.

[2011-06-09 13:14] zaphus opened #179 "Match algorithm is starving some bots"
I've been watching the top few bots, and have noticed that some are not getting a game in a long long time.

Zaphus (mine) has gone 10 hours without a game
George (someone elses) has gone 15 hours without a game

others have had many many games in that time.  Same issue happened on PW and it drove contestants batty

Side note:  In the 10 hours since my bot played, my Trueskill ranking dropped from

[2011-06-09 17:12] McLeopold commented on #179
I was actually slightly concerned about this.  Right now there is some no repeat logic in place where you aren't allowed to play the same bot if you already had a match with then in the last 5 games.  This may be too restrictive with the current low number of active bots.  I suspect the matches have poor match quality right now (according to trueskill.)

As far as the bot rotation goes, the seed p

[2011-06-09 17:13] McLeopold commented on #178
I'd like this to be done with the jQuery Tablesorter 2.0 plugin.  I used in planetwars on my tcp server.

[2011-06-09 21:54] zaphus commented on #179
Yeah, I'll take a look at the dump if you get it to me.
I don't believe the seeding is working, since (if I understand it) it should play every bot once as the seed before doing any one bot gets seeded twice.  I can find gaps of over 200 games for some bots, when there are only 60 bots in the ranking (and 200 games means at least 800 bots were chosen to play in that time)

[2011-06-09 22:28] zaphus opened #180 "Trueskill - needs to be consistent between ranking and profile"
Currently the Trueskill shown on the ranking page differs from that shown on the profile.
I believe this is because the sigma is gradually decreasing after any game played in the system.

However, if I understand the algorithm correctly then we shouldnt be reducing sigma for players who are not competing in the games.  The sigma reduction should happen for the people who are in the game to be rank

[2011-06-10 04:16] McLeopold commented on #180
This is different because the ranking list is generated every 2 minutes and lags behind the actual submission data.  The idea was to not go directly against the submissions table to reduce mysql load.

[2011-06-10 04:18] McLeopold commented on #179
The seed values are indeed incorrect.  A player is seeded several times in a row.

[2011-06-10 06:09] zaphus commented on #180
I think it's more than just the delay, if it were just a delay then you would see a constant score a little behind - but it wouldnt change until you played again, we're also seeing it slowly drop over time on the ranking page (or were, I havent checked today - something changed based on the increases in rankings across the board)

[2011-06-10 06:28] smiley1983 commented on #149
update - in-development source here:
https://github.com/smiley1983/rotsym_mapgen

I've written some rotational symmetry and tiling code, which could be used to create maps for 4 or 8 players. It's in OCaml. If this is useful, let me know here or on IRC and I can clean it up so it can be used by others.
Alternatively, if someone wants to write an equivalent in Python and would like something to wor

[2011-06-10 17:58] carlopi opened #181 "removing food information after a spawn [c++ starter bot]"
Seem that there is a problem in State.cc, cause when a new ant is spawn in a certain location, food[location] remain set to 1.
A possible solution is add "state.grid[row][col].isFood = 0;" after these line:
else if(inputType == "a") //live ant square
            {
                is >> row >> col >> player;
                state.grid[row][col].ant = player;
  state.grid[row][col].isFood = 0; <----

[2011-06-10 22:19] zaphus opened #182 ""game" links to wrong match, does not contain the same bots"
The first game played by the test bot "Zaphus_BlockTest" has an incorrect game link

Go to Version 1, Game 1 for this bot:
http://aichallengebeta.hypertriangle.com/profile_games.php?user=133&page=1

Note the result of the match:
(1)sir_macelon(2)Zaphus_BlockTest(3)locutus2(4)cs_testbot(4)V3rG1L(5)Gauge_II(5)cpp-starterbot(6)aerique-test(7)GreenTea(7)imagine

Now click on the game link, it is a com

[2011-06-10 22:22] carlopi opened #183 "broken link on "view more submission""
On the personal competitor page, if one have submitted more than 10 version of his bot, there is a button named "view more" (bottom left of the page) that redirect to a broken page.
Eg: current leader "view more" page: http://aichallengebeta.hypertriangle.com/profile_submissions.php?user=27

[2011-06-10 22:26] carlopi commented on #183
this issue already been noted here:https://github.com/aichallenge/aichallenge/issues/172
i'm sorry, next time i look to past issue doing more attention

[2011-06-10 22:26] #183 closed, assigned to nobody

[2011-06-11 05:59] zaphus opened #184 "Final placings are not properly calculated in the replay/visualiser"
This game (below) shows an example of the final placings not being correctly represented in the replay
The winner is the highest score, Including the bonus

http://aichallengebeta.hypertriangle.com/visualizer.php?game=20074

The highest score is Zaphus_Blocktest (because Zaphus timed out, giving the bonus to Blocktest)
The replay shows
1st Zaphus
2nd Zaphus_Blocktest

scores were:
Zaphus: 4070
Zap

[2011-06-11 08:21] mynameisgeorge commented on #181
i think that more is also needed - food that was seen, but then spawned when out of sight, needs to be removed also (when its square becomes visible again).   so some more code needs adding i think - e.g. check every visible square, and if the input did not say we had food, then set food to zero?

[2011-06-11 08:55] carlopi commented on #181
So maybe a solution can be:
-at the beginning of the turn push the food location on a vector V
-when looking for visibility set food[]=0 for all visible location
-set every location on the vector V to food[]=1

[2011-06-11 12:09] zaphus commented on #181
I'm pretty sure this was already done during the last few days - the C++ starter bot has been updated , if you look at the latest version of square.h you'll see it resets isFood for every square that gets reset (which is all of them)

[2011-06-11 13:06] n-ham commented on #181
I updated this a couple of days ago guys, sorry for being so slack. The beta site still doesn't have the updated version, so you will need to download it from github directly if you want the new version.

Also, the timer has been fixed so that it should work for windows compilers now too.

[2011-06-11 13:06] #181 closed, assigned to nobody

[2011-06-11 18:11] mleise commented on #162
There is no such thing as male soldier ants and tiny dinosaurs, but illustrations could really make some pages more enjoyable to read. An armed ant could look good on the battle resolution topic for example.

[2011-06-11 19:19] mleise commented on #176
Maybe a GET parameter could be added that identifies the 'primary' user when selecting a game from this users profile. That user would switch colors with the first player (red) in the game. Would that be a solution for you?
This would mean a little change to the profile page php and the visualizer, so it is likely to be done.

[2011-06-11 19:36] mleise commented on #184
thanks for the report, zaphus. This was simply a display issue in the visualizer which is completely independent from the rank calculation on the web site.

[2011-06-11 19:36] #184 closed, assigned to mleise

[2011-06-11 19:50] mleise commented on #8
Well eventually I also wrapped the whole JavaScript execution in Java. That turned out to be faster and as a side effect produced an offline-visualizer with the same features.

[2011-06-11 22:19] zaphus commented on #176
Yes, that does sound like a good compromise.

[2011-06-12 00:14] mleise commented on #176
Don't close it yet. It has to be done first! :-)
I have added support for the GET parameter 'user' in the visualizer. I look for the value of this variable in the 'user_ids' field of the replay meta data and set the color to (currently) red for this player. I'll assign this to whoever worked most on the php files in question now.

[2011-06-12 01:12] zaphus commented on #182
Update:
I just updated my main bot, and the problem happens for it's first ever game as well
The first game of version 16 here:
http://aichallengebeta.hypertriangle.com/profile.php?user=78
links to
http://aichallengebeta.hypertriangle.com/visualizer.php?game=20905

which is a completely different game.

Note also that there is a "Player 10" in that game, which may indicate that there is something

[2011-06-12 01:20] zaphus commented on #176
I didnt mean to close it, I thought I just clicked on comment, but the buttons are close to each other :-)

[2011-06-12 01:27] zaphus commented on #182
Looking at the replay in more detail, I think it may be the correct match but that all the names are messed up.  Brykbot does not behave like that in any other game, and it is behaving like Zaphus - so I think we have the names messed up ?

(Edit)
More info:
http://aichallengebeta.hypertriangle.com/visualizer.php?game=21350
in this case I force my bot to timeout around turn #50.  Notice that 'Zaph

[2011-06-13 03:01] McLeopold commented on #176
It's in there now.

[2011-06-13 03:01] #176 closed, assigned to McLeopold

[2011-06-13 16:29] McLeopold commented on #182
When gathering the player info in api_game_result, a left outer join on the ranking table was performed to ensure a player isn't dropped from the query, but an incorrect where clause caused the new player (without a ranking) to be dropped anyway.

[2011-06-13 17:21] #182 closed, assigned to nobody

[2011-06-13 17:41] McLeopold commented on #180
There is only a problem if mu changes outside of a game report.  Right now I don't think there is any issue.

Here an explanation to give you some insight into the values being used.

The database calculates the new mu/sigma at the time a game is finished and reported.  The old values come directly from the submission table, which is where the rankings draw their values.  The submission table is t

[2011-06-13 17:50] #177 closed, assigned to nobody

[2011-06-13 17:59] McLeopold commented on #101
What about ant trails?  Is that possible?

[2011-06-13 18:06] McLeopold commented on #150
We will be adding symmetric info the the maps so they can define the type of symmetry they are.  It will look like this:

[code]

Each symmetry line should refer to a starting ant.  All starting ants should have a symmetry line.  Each line needs only 1 of 'n', 's' and only 1 of 'e', 'w', which can be in either order.  There are eight total orientations, nw, ne, sw, se, wn, en, ws, es.

For an ant,

[2011-06-13 18:18] McLeopold commented on #149
I hope to add map generator piece to the manager.  Different map generators could be registered and it would create a new set of about 20 maps each day from a random generator (or use rotation).  Each generator should have a list of variables with a range that can be changed, all integers.  This way, regardless of the generator type, we can tweek the settings for each set of generated maps to prov

[2011-06-13 23:48] mleise commented on #101
That is possible with a moderate amount of work. Maybe I'll add that on mouse over. The annoying bit is always the wrapping of parts of the graphics. Sometimes I wish I made everything graphics objects with bounding boxes so the drawing function would not contain so much wrapping and coordinate correction code.

[2011-06-14 04:06] zaphus commented on #180
Makes sense, except that the end user won't care about any of that...  they will see their rating drop while not getting any games.  This is a double whammy for them, those who happen to not get games will miss out on games which sucks, and also drop in rating which sucks even more.

Highlights the need to get the match seeder working properly, it still behaves unfairly (some bots getting multiple

[2011-06-14 10:10] zaphus commented on #160
I second this.  I want to be able to take data from a replay (on the server) and feed it to my bot.  Just from a single frame although it might be interesting to get an entire games worth of data.
This will be especially useful for finding out why a bot crashes or why it times out

[2011-06-14 12:34] aerique opened #187 "Overview of bot error since last submission"
It would be nice to have a page where all the errors since the bot's last update are displayed.  This saves having through each and every game to see whether one's bot has any errors.

[2011-06-14 15:39] amstan commented on #10
This isn't a launch issue, relabeling.

[2011-06-14 15:41] amstan commented on #136
How's this going?

[2011-06-14 20:29] McLeopold commented on #187
At some point the game list table for a submission will be sortable.  At that point you should be able to sort by result (survived, eliminated, timeout, crashed, invalid) so you can put all the crashes at the top.  Then looking at individual pages won't be so bad.

[2011-06-14 20:31] McLeopold commented on #160
Right now for local games you can capture bot input.  You can then send it back through using redirection if you want to do breakpoints or anything like that.

[2011-06-14 20:34] McLeopold opened #188 "Write debugging howto."
This will be different for every language.  I expect each language would want to detail the following
- writing log files
- setting breakpoints

Breakpoints can be troublesome.  If you capture bot input/output and run it back through the bot with redirection, you aren't dealing with sandbox code and it becomes easier.  At some point, people may want to try to debug while a game is running live, wh

[2011-06-14 20:38] McLeopold commented on #180
If we fix anything, it would be making the ranking page more dynamic.  Calculating the rank does take some effort, so I'm not keen on doing this for each incoming request.  Having the submission page show the most recent skill is nice because you can get realtime info about how the matches affect your skill.

I'll consider moving the sigma increase to just before a game result updates the skills,

[2011-06-15 10:39] smiley1983 commented on #149
After some thought and experimentation, I've determined that it will probably be necessary to manually filter any 90-degree rotation symmetric maps because of the unfortunate shapes which keep cropping up. I've trimmed the code on github a little (though it's still all there in the history) so now it's just a demonstration of the rotation logic.

The need for manual filtering may mean that this so

[2011-06-15 20:01] McLeopold commented on #149
Can you ant paste some examples of bad maps and why they are bad?  http://ants.zeroviz.us/

[2011-06-16 04:14] smiley1983 commented on #149
Um... I'd rather not paste them - they're bad because they resemble swastikas.

[2011-06-16 05:32] McLeopold commented on #149
Yikes.  I was hoping for some more technical or statistical reason.  I'm still going to try 4 player rotational with my cell maze maps.  Hopefully I won't have the same problem.  I wonder how the identicon people avoid then...

It's too bad the swastika is representative of evil. :(

[2011-06-16 07:15] aerique commented on #136
Most of the starter bots are running on the beta server by names of <language>starterbot.  So unless any have them have issues I'd say it is going well.

Issue 187 would be handy for checking the bots in this regard: https://github.com/aichallenge/aichallenge/issues/187

Might as well list them:
- C++: http://aichallengebeta.hypertriangle.com/profile.php?user=132
- C#: http://aichallengebeta.hyper

[2011-06-17 17:06] McLeopold commented on #179
You'll want to look at the 02_generate_matchup sql.  It's fairly complicated, but choosing the seed value is at the top, so you can ignore everything past step 1.  The game table contains completed games and the matchup table contains games that are in progress or will be sent to the worker.

The matchup table does not get cleaned up properly if a matchup fails.  There is an error code I believe.

[2011-06-17 21:34] McLeopold commented on #147
janzert says they are fast enough for launch

[2011-06-17 21:34] #147 closed, assigned to Janzert

[2011-06-17 21:34] Janzert commented on #147
Jails are now "fast enough"

[2011-06-17 21:37] Janzert commented on #117
I've done several install from a fresh OS without being able to reproduce this so I'm closing it for now. Feel free to reopen if someone finds a way to reproduce.

[2011-06-17 21:37] #117 closed, assigned to Janzert

[2011-06-17 21:37] McLeopold opened #190 "cleanup tools zip file"
The ants dir has a dist folder, which is removed when packaging the tools.zip.  We need to modify the folder structure or sed the relavant files (play_one_game._, test_bot._)

[2011-06-18 20:35] Janzert commented on #179
Another example, June 18 from 23:32 to 23:42 FlagCapper received 13 games. http://aichallengebeta.hypertriangle.com/profile_games.php?user=7&page=1

[2011-06-19 04:17] Janzert opened #191 "Need a stable trueskill implementation"
The current trueskill implementation (JSkills) occasionally crashes on the results of games. Previously a python implementation was tried that was giving incorrect results. We need a completely stable and accurate implementation.

[2011-06-19 22:10] zaphus commented on #179
I'm looking into this, but my SQL knowledge is low.   Will be talking to an SQL expert today to see if he agrees with what I suspect the problem is, and if he can show me the correct SQL commands to do what will be a better method

[2011-06-20 03:08] flagcapper opened #192 "Match-making SQL uses the same player as seed every game"
Currently "xtile2" is playing every single game at a rate of about one game per minute:

http://aichallengebeta.hypertriangle.com/profile.php?user=211

He also appears to have the newest account with a functioning bot (possibly the most recent upload? I had something happen to me before where I uploaded a bot and started playing games very rapidly.)

Either way, I can't access the database so it's

[2011-06-20 05:32] zaphus commented on #192
This is majorly broken, I'm trying to understand how the SQL is supposed to be working but the way I read it I figured something like this might end up happening.
This needs to be fixed ASAP, even random seeding would be better than the current system.

[2011-06-20 05:50] zaphus commented on #192
Extra info:   xtile2 (user 211) seems to be the highest numbered valid entry at the moment, with all after it being invalid - this may be part of the reason.
it's also not clear if they are the seed or if they are being picked because it (wrongly) thinks they have just uploaded

[2011-06-20 16:43] McLeopold commented on #179
Not sure why this was closed.  I haven't seen a fix yet.

[2011-06-20 16:49] McLeopold opened #193 "End the game early"
Possible metrics to end are:
- 1 bot controls 95% or greater territory for 100 turns
- Only 1 bot has spawned new ants in the last 100 turns
- 1 bot has 10 times more ants than all other opponents combined

If ended early, the bonus is split evenly.  This means bots with more ants and more territory will get less bonus than if they had ended the game earlier.  Bots with less ants and less territor

[2011-06-20 16:50] Janzert commented on #192
This is pretty certainly a duplicate of issue #179

[2011-06-20 16:56] Janzert commented on #193
My favored metric at the moment is a population based one (e.g. the last example above). Probably of the form 1 player has X% of the total living ants for Y consecutive turns. With X and Y being somewhere around 95% and 100 to 150 turns.

[2011-06-20 21:55] zaphus commented on #179
I really hate "Comment and close" because I keep clicking on it thinking it is going to add my comment and close the window, not close the issue :-)   I'll get there eventually!
Meanwhile...  I'll see if I can figure something out today - but my SQL knowledge is too small to even get the data I want out of the DB right now, trying to learn fast

[2011-06-21 01:08] zaphus opened #194 "change "next game" on player pages to indicate number of games or time until next game"
Currently the 'next game' on the player pages has a hardcoded string

With the new seeding method it will now be possible to say:
"Next game in no more than %d games time"  (or something like that)  - since we know the maximum number of games that will happen before you become the seed again (in fact it will usually be 1/4 or less of that number, but err on the high side)

Since we know approximat

[2011-06-21 01:16] amstan opened #195 "Ghost rankings are confusing"
Alternatives:
- Make it optional
- Explain it very well
- Go the whole way and make it a graph of rank over time
- Have it show only on exceptional circumstances

Chat logs:

[code]

[2011-06-21 01:26] amstan commented on #191
I'm offering to send a bugreport to the original python library. Can someone give me a test case where the python one and the microsoft one disagrees?

[2011-06-21 02:05] McLeopold commented on #195
I will make it user configurable, so users can turn it off.  The ghost emoticon will link to a nice explanation.  It will be on by default so people know it exists.

I find it very useful when comparing against other bots.  It is disorienting when the top bots disappear for no reason.

[2011-06-21 02:41] zaphus opened #196 "Duplicate games being scheduled"
There are instances of the same match being scheduled twice (different ID, but the same bots and map)
this started happening after multiple worker instances were created, but may be unrelated

Examples:
28990 and 28991
29014 and 29030

Possibly unrelated, but worth mentioning:
sir_macelon has had almost all it's current run of games on 4 & 5 maps
I realise that is probably random luck, but there c

[2011-06-21 02:57] Janzert commented on #195
I really think having them disappear once the new submission's rank (sigma drops below a certain value) has stabilized would be best. Then the user doesn't just disappear after a resubmit and the ghost also doesn't hang around forever if the new submission isn't quite as good.

[2011-06-21 02:58] Janzert commented on #194
a bit of an aside but this is the way it worked during planetwars

[2011-06-21 03:29] aerique commented on #195
The Tron challenge had awesome graphs and people liked them a lot, but they were a huge drain on server resources since they got regenerated every time someone refreshed a profile.

So keep that in mind and only refresh them every 5 minutes or so.

[2011-06-21 04:05] Janzert opened #197 "map in replay data is not the initial map"
The map as recorded in the replay data is not the initial map with ants and food setup as it is on the first turn. It appears to be the final state of the map but I'm not positive that is the case.

It would also be really nice if the replay recorded the server name for the map.

[2011-06-21 10:30] mleise commented on #197
When we first agreed on the format the only relevant data from the map, was where the water is. iirc at this point the map had some food items in addition to the player starts, both of which the visualizer ignores. In this situation we agreed on using some 'interesting' turn for the replay map, so you could use it like a jpeg thumbnail in a potential replay browser application where the initial ma

[2011-06-21 16:11] McLeopold commented on #196
The map are chosen based on the seed player, so the seed player should be seeing a new map.  I never did add in the logic to pick opponents based on map.  We could perhaps choose the map after the opponents are selected.

With the switch to choose a player based on the last time they played a game, rather than the last time they were a seed, some of our checks and balances will not work anymore.

[2011-06-21 21:58] zaphus commented on #196
Every game since midnight (server time) has been the same - the top 5 players playing on map 22, no other games have played that I can see.  Timewise this lines up with the McLeopold commit about 2 hours ago.

http://aichallengebeta.hypertriangle.com/profile_games.php?user=78&page=1

here's a sample:

22 Jun 1:56

84.21

(1)OlexandrT(2)Zaphus(3)FlagCapper(4)sir_macelon(5)antimatroid

2nd of 5

sym

[2011-06-21 23:49] McLeopold commented on #196
Recent changes should have taken care of this.

[2011-06-21 23:49] #196 closed, assigned to nobody

[2011-06-21 23:51] McLeopold commented on #192
It's a dup, and the dup is fixed.

[2011-06-21 23:51] #192 closed, assigned to nobody

[2011-06-22 11:17] aerique opened #198 "Get the correct versions of the compilers /runtimes for programming languages on the website"
The "environment" column on [the starter packages page](http://aichallengebeta.hypertriangle.com/starter_packages.php) needs to be updated.

[2011-06-22 12:19] zaphus opened #199 "Add a "last 50 games on server" page"
Add a page that lists the last 50 (or other arbitrary number) matches played on the server.
Display it like the "My Profile" page except there should be no ranking (since no one bot is the focus)

This lets people go and look at recent games for inspiration, but also helps us detect if the scheduler/matchmaker has broken.

[2011-06-22 12:22] zaphus opened #200 "Some country codes not displaying correctly"
Check out Mr Blobby, he's from
                       Saint Barth&Atilde;�&Acirc;&copy;lemy

http://aichallengebeta.hypertriangle.com/profile.php?user=225

There are other countries that display badly, you can see them from the country picker.   If it were your country you'd care

[2011-06-22 15:14] Janzert opened #201 "Games missing from profile"
Some games are not showing up on the profile page.

An example is http://aichallengebeta.hypertriangle.com/visualizer.php?game=32193 does not get listed on the stoSnake profile at http://aichallengebeta.hypertriangle.com/profile.php?user=226

[2011-06-22 16:19] McLeopold commented on #201
Fixilated.

[2011-06-22 16:19] #201 closed, assigned to nobody

[2011-06-22 16:24] McLeopold commented on #193
I'm liking the results.  This is done.

[2011-06-22 16:24] #193 closed, assigned to sigh

[2011-06-24 05:16] zaphus commented on #194
I see some progress has been made on this:

Current Rank: 4

54 players are ahead of you.
The current game rate is about 6.233333333 players per minute.
Your next game should be in about 7.246434938741342331000000000000 minutes.

My Feedback:   truncate the numbers, obviously :-)
Include  a "Next Game" header before "54 players ahead of you"

[2011-06-24 14:08] aerique opened #202 "HunterBot.py and LeftyBot.py crash when no --player_seed"
The HunterBot.py and LeftyBot.py sample bots crash when there's no --player_seed supplied to playgame.py.

[2011-06-24 17:57] #202 closed, assigned to nobody

[2011-06-29 09:46] aerique opened #204 "Possible engine bug in spawn and collision resolution"
Please see the included map, input and replay. (Also see http://pastebin.com/72gF6g97 since I suck at explaining (the numbers there are ants and all belong to the same player).)

I'm not sure if I'm looking at an engine bug here or a gap in my understanding of the game but see the moves for player B and the replay: once a new ant is spawned at 14,11 we give an order to move it north where it colli

[2011-06-29 16:27] McLeopold commented on #204
You can paste replays at http://ants.zeroviz.us/TE5xs/, which is easier to review.

This is not a bug.  The move from 14,11 north to 13,11 does not cause a collision.  13,11 is food, and it prevents the move from occurring, so the 14,11 ant stays at 14,11.  Then the 14,12 ant moves west to 14,11 and collides with the ant that couldn't move.

If you turn on the verbosity of playgame, you should see

[2011-06-29 16:27] #204 closed, assigned to McLeopold

[2011-06-29 18:33] aerique commented on #204
Alright, thanks for the clarification.

Perhaps this could be part of a FAQ on the wiki. I can see this coming up more often on the forums.

[2011-07-01 08:39] aerique commented on #200
Fixed by http://github.com/aichallenge/aichallenge/commit/815f7540624b7bb561a789514f90f45dbb2e8f38

[2011-07-01 08:39] #200 closed, assigned to McLeopold

[2011-07-01 09:42] aerique commented on #190
Fixed by http://github.com/aichallenge/aichallenge/commit/b3774a7d05d1937c944af40e17c6e4ee3b099db0

[2011-07-01 09:42] #190 closed, assigned to amstan

[2011-07-01 09:50] aerique commented on #172
This works for me on FF5 and Chrome.  Has this been fixed or is this solely an IE9 issue?

[2011-07-01 10:54] aerique commented on #128
I've updated `using_the_tools.php` on the wiki.  I'm not clear whether it's supposed to stay there (I've added explicit links to ai-contest.com in case it does).

`starting_your_own.php` and `simple_strategy_guide.php` are still about Planet Wars.

`resources.php` is fine.

`advanced_strategy_guide.php` is empty and I'm not sure it is needed.

[2011-07-01 19:26] McLeopold commented on #172
I have made changes to some web pages, so let's call this fixed and open a new issue if something goes wrong.

[2011-07-01 19:26] #172 closed, assigned to McLeopold

[2011-07-02 17:20] McLeopold opened #206 "symmetric food spawning unfair on symmetric lines"
I'm considering not letting food spawn next to another food.  This is relevant when a map has some type of mirror symmetry.  This creates a dead zone of land that doesn't spawn.  We've always wanted the amount of land controlled to be roughly linked to the amount of food spawned per turn.  This would make the ratios off, bots would not be able to calculate exactly their percentage of "live" land t

[2011-07-02 17:31] sir-macelon commented on #206
Examples:
http://aichallengebeta.hypertriangle.com/visualizer.php?game=52727&turn=42&row=61&col=36
http://aichallengebeta.hypertriangle.com/visualizer.php?game=52240
http://aichallengebeta.hypertriangle.com/visualizer.php?game=54058&turn=75&row=0&col=0
http://aichallengebeta.hypertriangle.com/visualizer.php?game=52918&turn=60&row=22&col=24

[2011-07-02 18:46] amstan opened #207 "C# Starter Bot fails the test case"
The starter bot made by @coastwise doesn't seem to pass the test case anymore.
It seems like it used to: http://aichallengebeta.hypertriangle.com/profile.php?user=184

[2011-07-03 09:13] carlopi commented on #206
For 2 near cell (eg. mirror symmetry along the mirror axis) I think that spawning only 1 food for cell in the same symmetry group of tile but near than 2 (or maybe 1.5) can be a good solution. This partialy broke symmetry, but i think small assymmetry is better that "dead land" or "randomly boost one side".

Another possibility is weight the map generator to geneate less mirror map, and more glide

[2011-07-03 16:51] VilleH commented on #207
What is version number of Mono on the server? Would it be possible to update it to latest one? At least on environment page it says that the version is 1.2.6 and current version is 2.10.2.

[2011-07-03 17:16] amstan commented on #207
[code]

Please see the Versions heading from: https://github.com/aichallenge/aichallenge/issues/3

[2011-07-04 01:22] jbrechtel opened #208 "Scala starter package fails"
The Scala starter package crashes after submission.  It works when compiled locally and used with the test_bot script though.  I suspect the server is actually failing to compile the bot and is just reporting it crashing.  I'm not really sure because the output isn't very useful in this case.

[2011-07-05 15:12] VilleH commented on #207
Seems that C# bot timeouts now constantly, I presume that it worked when it was uploaded first time:
http://aichallengebeta.hypertriangle.com/visualizer.php?game=62120

[2011-07-06 05:45] ashokae commented on #195
Yeah I too think it's nice to have (instead of removing bots completely, that's more confusing)

There is another issue : my ghost never appears. (user: eashoka 264). Whenever I submit a new version (I'm currently ranked between 15-20), I'm totally gone but I can see others having their ghosts nicely. Which is bit sad because it takes a while for you to climb back to top 20. Any idea why it happen

[2011-07-07 05:13] ashokae opened #210 "duplicated games and games with no rating calculations."
A friend of mine has 2 games listed in his profile page which are identical and played on the same time. looks like the server has duplicated that game. This will affect the accuracy of ratings for all players concerned.  games 65833 and 65834.

Also, ratings havn't been calculated for these 2 games and they are displayed as 0.0

In the 2 games played by my friends immediately after these two game

[2011-07-07 06:49] VilleH commented on #207
I did a bit of detective work and found out that csharp_starter and cs_testbot both stopped working (started timeouting) between "2 Jul 15:03" and "2 Jul 17:22" when the server was down. Seems more like a server issue as there aren't any commits done at that time.

csharp_starter games: http://aichallengebeta.hypertriangle.com/profile_games.php?user=184&page=6
cs_testbot games: http://aichallengeb

[2011-07-07 09:17] TRavary opened #211 "Games with several crashed/timeout"
Between game #65745 and #65753, more than 50% of players crashed or timeout. Many of those players never have this kind of problem.

Other games with same problem :
http://aichallengebeta.hypertriangle.com/visualizer.php?game=65813
http://aichallengebeta.hypertriangle.com/visualizer.php?game=65815
http://aichallengebeta.hypertriangle.com/visualizer.php?game=65823

[2011-07-07 15:34] SSNikolaevich opened #212 "test_bot.sh and play_one_game.sh are missing in tools.zip"
In tools.zip, which I resently download missing test_bot.sh and play_one_game.sh files. Only *.cmd presents.

[2011-07-08 09:12] TRavary commented on #179
An idea of the reason for the difference of rate between players.
In step 3 of "2_generate_matchup.sql", the next player in matchup is chosen to have the best match quality among the 100 closest players in terms of mu.
More is sigma, less is the quality. So players with high sigma (relatively with close players) will be less chosen.
Look at high rate players (margusja 93th, hbhasker2 85th, Parsley

[2011-07-08 17:48] TTrumpeTT opened #213 "Bad battle result?"
http://aichallengebeta.hypertriangle.com/visualizer.php?game=67775&user=226 move 185
Why two of red's died?
Purple ant(25,21) attacked 3 of red's ants. So there is no >=1 power to kill any red ant.

[2011-07-08 21:49] mleise commented on #212
Sorry for the inconvenience, please download http://aichallengebeta.hypertriangle.com/tools.tar.bz2
It has the .sh files instead of the .cmd files with executable bit set. If any links should be updated please reopen this issue.

[2011-07-08 21:49] #212 closed, assigned to nobody

[2011-07-08 23:26] jmcarthur commented on #213
I believe this outcome is correct. Here's the situation (A is red, B is purple):

[code]

The number of enemy ants within range of each ant:

[code]

The rule is that if an ant is within range of an enemy with an equal or lesser number, it dies.
- The leftmost red ant is in range of an enemy with the same number, so it dies.
- The second red and on the second row is in range of an enemy with the s

[2011-07-09 00:48] McLeopold commented on #213
The engine is correct.

[2011-07-09 00:48] #213 closed, assigned to nobody

[2011-07-09 08:27] TTrumpeTT commented on #213
Is this description compatibile with that http://aichallengebeta.hypertriangle.com/specification.php ?

"If there are opponent ants within the attack radius of an ant, the ants automatically engage in a battle, even over water. The attack radius is currently set at (\small \sqrt{6}). The battles are resolved with the following steps:
1. Ants with enemies in range distribute 1 point of damage, spli

[2011-07-09 13:47] jmcarthur opened #214 "Give bots their resource constraints as parameters"
In particular, give them the maximum amount of memory they are allowed to use, but I'm making the name of this issue a bit more general in case there are other ideas to add to it. We designed the "turn 0" parameters to be extensible, so this _shouldn't_ be too much of an impact. However, we apparently never mentioned this extensibility in the spec so far (I intend to add that point to it after pos

[2011-07-09 14:01] jmcarthur commented on #213
The spec on the beta site is out of date. Until the actual contest begins, the best source for you to read is the specification [here on Github](https://github.com/aichallenge/aichallenge/wiki/Ants-Game-Specification). For more details on the battle resolution method itself, see the [Focus Battle Resolution Method](https://github.com/aichallenge/aichallenge/wiki/Ants-focus-battle-resolution-method

[2011-07-09 22:40] mleise commented on #214
Additional info: Some people already made the assumption, that the parameters don't change. When the player_seed was added I heard from a participant that the bot crashes because the new keyword was unexpected. Other bots, like the C starter use only sample one or two characters from the keyword to identify the parameter.
So when this is done we need to check the source codes of starter bots for a

[2011-07-10 11:04] TRavary opened #215 "Top players dont play against each other"
[code]

In row the number of games played vs each other for the 10 first players during their 50 last games

It seems to be a matchmaking issue

[2011-07-10 23:42] DanielVF opened #216 "Starter packages on site don't contain tools/visualizer"
At least as far as I've tested (ruby, java, python) the starter pack downloads don't contain the tools/visualizer to actually play the game locally. They contain only the starting bot code and the supporting libraries for it.

[2011-07-11 08:29] TRavary commented on #216
The tools can be download separatly here :

http://aichallengebeta.hypertriangle.com/using_the_tools.php

You can reach this page bottom the "five minutes quickstart guide" page

[2011-07-11 10:39] DanielVF commented on #216
Wow. I can't read, apparently. Thanks.

[2011-07-11 10:39] #216 closed, assigned to nobody

[2011-07-11 10:49] DanielVF opened #217 "Having problems running tools on OS X"
I'm trying to run playgame.py:

Getting a syntax error

[code]

Also, ants.py uses OrderedDict, which is in python 2.7. OS X ships with 2.6.

[2011-07-11 22:36] zaphus commented on #215
That's a pretty major issue.

[2011-07-13 02:52] smiley1983 opened #218 "Website: erroneous "won at" link when leading player times out"
This game is listed as being won at turn 19:

http://aichallengebeta.hypertriangle.com/visualizer.php?game=79160&user=9&turn=19

This was the last turn on which the two players were equal. After that, the losing player was ahead until timeout.

[2011-07-13 06:46] TRavary commented on #179
I made a test with the help of Bubumiki which play twice more game than me (3h to play 10 games vs 8h for me). We uploaded the same bot at the same time. The 2 bots are climbing the rankings with similar trueskill. but Bubumiki always play twice more than me.

http://aichallengebeta.hypertriangle.com/profile.php?user=118        (version 7)
http://aichallengebeta.hypertriangle.com/profile.php?user=

[2011-07-13 22:32] McLeopold opened #219 "combination of cutoff with no bonus and 2x kill points produces odd rankings"
Issue raised by mcstar on irc

http://aichallengebeta.hypertriangle.com/visualizer.php?game=80781&user=17

[2011-07-13 23:06] Janzert commented on #219
Why is there no end game bonus for cutoff games?

[2011-07-14 09:47] medains opened #220 "OrderedDict for python 2.x before 2.7"
The ants.py code uses OrderedDict which is a Python 2.7 class.

This has been backported to Python 2.4 through 2.6 here:
http://pypi.python.org/pypi/ordereddict

After installing this from pypi I needed to change the following:

[code]

I'm not really a python programmer, or I'd work out how to sort this out in a more generic and stable fashion

[2011-07-14 09:51] medains opened #221 "Python 2.6 syntax error in ant.py"
[code]

I got this running by replacing "i:i for i in range(self.num_players)" with "0:0" but I'm not very familiar with python so I don't know what effect that will have.

[2011-07-14 09:59] sir-macelon commented on #219
I already raised a similar issue on irc: cutoff should be based on points, not on ant counts.

[2011-07-15 18:22] xarg commented on #220
Maybe this is better:

try:
    from collections import OrderedDict
except ImportError:
    from ordereddict import OrderedDict

[2011-07-15 21:47] Janzert commented on #76
Account confirmation emails are now working. We still need at least password reset emails.

[2011-07-15 21:51] Janzert opened #223 "Duplicate emails aren't rejected"
In process_registration.php duplicate emails should stop the account from being created. While the code appears to be there to do this it isn't rejecting any duplicates.

[2011-07-16 05:30] xarg opened #224 "Golang starter package debugging and testing."
I've noticed that the golang starter package contains a debugging via images option. For me this is not very useful. I would like to move all debugging functions to a debugging.go file or remove this altogether. I actually did that locally already.

Besides the above re-factoring I would like to write some tests for the bot and remove that TestMap() from main(). I think golang's testing can be use

[2011-07-16 05:44] xarg commented on #188
Attaching to the running process? You mean like strace or something? If that's the case I'm not sure how useful this will be.

By defining a clear example on how to use certain logging modules for different languages will be quite useful. For example in python the logging module can be used to debug a running bot since stdout is busy with the actual game communication. In python I would also use a

[2011-07-17 17:32] jbrechtel commented on #208
The Scala package now fails on multiple levels.  The started bot never ran on the server with 2.8.1, but it was capable of playing a game (say with playgame.py).

Now that my pull request for Scala 2.9.0-1 has been pulled in, the starter bot can not use playgame.py.  This seems to be caused by a regression in scala.io.Source in 2.9.0-1 so the bot never gets the initial 'go/ready' from the engine.

[2011-07-18 03:21] KasperHoldum commented on #207
I didn't find any changes that should break the C# bots in the compiling- or testing sections of the project. Could this be a server issue?

There was a commit in before the server restart with the following line change: 'sed -i 's/dist[/]//g' tools/util/block_test.cmd tools/util/block_test.sh tools/play_one_game.cmd tools/play_one_game.sh'. Any chance this could have caused issues?

[2011-07-18 03:40] amstan commented on #207
I compiled and ./test_bot.sh 'ed the starter bot manually:

[code]

[2011-07-18 15:24] Momotebo opened #226 "C++: Compilation timed out with command g++ ..."
Hi,

I've got this error when I try to submit my c++ bot, I don't understand why because when I compile it at home with g++ it takes 10 seconds. A friend is experiencing the same trouble (also with c++)

My nickname is DarkMomoBot and my profile is here : http://aichallengebeta.hypertriangle.com/profile.php?user=385

Thanks

[2011-07-18 17:26] TTrumpeTT commented on #226
I have the same problem.
AT LEAST what should be done immediately is: change "def compile_anything(bot_dir, timelimit=600):" to "def compile_anything(bot_dir, timelimit=6000):" (10 minutes timeout to 100 minutes).

[2011-07-18 20:34] amstan commented on #226
@TTrumpeTT: Ummm... no? So if we have 2 workers going and there's 2 entries which take 100 minutes each, you're telling me it's acceptable to be no games for 100 minutes?

[2011-07-18 20:40] TTrumpeTT commented on #226
On IRC you said that compilation is not running on game server, there is another server for it. Is it true?

[2011-07-19 08:23] medains commented on #220
That does the job very nicely (both the #220 and #221 fixes)

[2011-07-19 10:29] KasperHoldum commented on #207
The test manually done in the above answer was done on the main server, which isn't the actual server that runs the test at the moment. Could someone with access to the worker servers run the above test inside a sandbox'ed worker?

[2011-07-20 08:18] KasperHoldum commented on #207
C# is working again as per yesterday evening. I don't know if anyone actively fixed anything, but both compilation, testing and actual playing works.

[2011-07-20 12:37] sir-macelon opened #227 "Wrong order in organization/language/country rankings"
Examples:
http://aichallengebeta.hypertriangle.com/organization_profile.php?org=0
http://aichallengebeta.hypertriangle.com/language_profile.php?language=Java
http://aichallengebeta.hypertriangle.com/country_profile.php?country=180

[2011-07-20 23:05] ikhramts opened #228 "C++ starter package doesn't compile in Visual Studio 2010."
MSVC 2010 has the following problems with the C++ starter pack:
- In Time.h, for Windows case <time.h> should be used instead of <sys/time.h>
- In State.cc on line 54 function call to sqrt() is ambiguous (there are several versions that return different floating number types and none of which take ints).

Changes needed to fix the issue are specified here:
- https://github.com/ikhramts/aichallenge

[2011-07-20 23:07] ikhramts commented on #228
Er, I accidentally a sentence.

First bullet point should be:
- In Time.h, for Windows case <time.h> should be included instead of <sys/time.h>.

[2011-07-21 08:50] Garion commented on #207
It seems the problem is back, all C# bots have timeouts at their first turn. Was there any change made recently?

[2011-07-21 09:08] KasperHoldum commented on #207
I'm quite sure there was a server restart yesterday or early this morning. The problem seems to appear every time there is a server restart?

[2011-07-21 15:47] sir-macelon opened #229 "No food at game start"
http://aichallengebeta.hypertriangle.com/visualizer.php?game=99254

[2011-07-24 15:05] jmcarthur commented on #220
Fixed in 66b94de

[2011-07-24 15:05] #220 closed, assigned to nobody

[2011-07-24 15:05] jmcarthur commented on #221
Fixed in 66b94de

[2011-07-24 15:05] #221 closed, assigned to nobody

[2011-07-26 17:40] #224 closed, assigned to nobody

[2011-07-26 17:52] xarg opened #231 "Go package float64"
Since almost every function in the math package uses  float64 I would propose converting ints (for example coordinates) so that people don't need to cast every time when they want to use Fmin, Fmax, Fabs and many others.

I know that coordinates are essentially ints, but that's just not very useful if you can't use math stuff. I would really like to hear a feedback on this before starting.

[2011-07-26 18:44] mleise commented on #231
JavaScript offers only a float64 datatype for simplictity, but I wonder why they missed min, max and abs in integer versions. I would probably write integer versions and add them to the file which holds the other general functionality. The other functions in 'math' are mostly unusable for integers anyway. Generally using float64 would make large tables of coordinates bigger than necessary (x86-64

[2011-07-26 19:19] xarg commented on #231
Great. I can live with that. As long as there are Min, Max and others it should be fine. I don't know why didn't have int support in the math lib, but I guess they have reasons for doing that.

[2011-07-26 19:19] #231 closed, assigned to nobody

[2011-07-29 21:59] jbrechtel commented on #208
This was fixed some time ago when one of my pull requests was merged in.

[2011-07-29 21:59] #208 closed, assigned to nobody

[2011-08-01 11:39] TTrumpeTT opened #234 "cutoff works bad"
Look at this game: http://aichallengebeta.hypertriangle.com/visualizer.php?game=116777&user=476
bot TrumpeT totaly dominated the game. At the end it has 93 ants, enemy has 1
But it ended at the last (third) place. Cutoff 150 is too small, or cutoff alghoritm is stupid.
Cutting off the game when actual leader has lowest score?

[2011-08-02 08:17] locutus2 opened #235 "vary different game rate per player"
some bots like mine have only every 2 to 3 hours a game. Others like  jbrechtel every 10-20 minutes.
If you check the ranking its almost the submissions which have few games with have also a low game rate and therefore a high sigma.

i have looked in '2_generate_matchup.sql' file and recognized that the match_quality, which is used for player selection, depends for sigma than the mu differences. P

[2011-08-03 07:22] aerique commented on #223
Isn't this because of "donotsend" used for the test server?

[2011-08-03 16:06] Janzert commented on #223
The beta server isn't using donotsend anymore.

[2011-08-05 12:37] jennifersmith commented on #212
Hi,

The link here just points to the zipped version of the tools:

http://aichallengebeta.hypertriangle.com/using_the_tools.php

Thanks

Jen

[2011-08-05 12:49] mleise commented on #212
Am 05.08.2011, 14:37 Uhr, schrieb jennifersmith
reply@reply.github.com:

I updated the Wiki (on Github) a while ago, but I didn't know how to
update the beta server version. I expected someone else to make some
changes to the Wiki in the meantime and do this. So, shame on me.

Marco

[2011-08-06 09:27] i0cus commented on #16
Any traction on this issue? This is relevant to https://github.com/aichallenge/aichallenge/issues/36

[2011-08-10 18:10] Janzert commented on #235
For the record I disagree that that trueskills preference for low sigma matchups is the reason why players are getting varying rates. For instance currently 5th and 6th place look like this:

Rank    Username    Country     Organization    Language    Version     Skill   Games   Rate
...
5 –   UvAntsBeta  Netherlands University of Amsterdam Java    63  89.31 ↓   86  45
6 –   paratrechina    France

[2011-08-10 20:48] Janzert commented on #227
The order seems to actually be correct, but the numbering is wrong. I noticed today that the numbering seems to go by descending number of games played or possibly by current submission time (which will be roughly the same).

[2011-08-11 19:24] Janzert commented on #207
Not sure why it effect C# but after a change to the way the sandbox filesystems are handled they seem to be working fine now.

[2011-08-11 19:24] #207 closed, assigned to nobody

[2011-08-15 16:23] #223 closed, assigned to nobody

[2011-08-15 22:33] Janzert commented on #227
Fixed by moving the filtered rank numbering out of the sql query.

[2011-08-15 22:33] #227 closed, assigned to nobody

[2011-08-17 14:51] rbrune opened #237 "C++: error while compiling submission - but empty error message"
I'm deepblue:
http://aichallengebeta.hypertriangle.com/profile.php?user=685

my code compiles fine without any warnings on latest Ubuntu and Mac OS X 10.6 but I get a compile error and an empty error messages when I try to submit the code to the ants beta.
I don't know what the issue is and the empty message is not really helpful :)

[2011-08-17 19:00] mleise commented on #237
Someone familiar with the backend will have to look into why you see no error message when you are logged into your account, but for now remove the hidden MACOSX meta-data directories from your upload.

[2011-08-17 20:54] rbrune commented on #237
Ok, did that and now I got a compile success. Not sure if that was the issue or if other changes led to it.
With PlanetWars the metadata folder certainly was not a problem.

[2011-08-19 03:27] mleise commented on #237
Mr. Spock does not approve of your comment. It was a problem in PlanetWars, too. See http://ai-contest.com/forums/viewtopic.php?f=18&t=1157#p7700 for details. ;)

[2011-08-20 22:00] obeleh commented on #194
The "Your next game should be within X minutes" is off. I think this is because the game rate is based upon the participating players per match  (since there is a join with game_player:

select @players_per_minute := (select count(*)/30
                from game
                inner join game_player
                    on game.game_id = game_player.game_id
                where timestamp > timest

[2011-08-20 22:04] obeleh opened #238 "There is no login link in the menu"
Afaik the only  quickstart.php has a sign-in link. It would be nice to have a login link in the menu.

[2011-08-20 22:19] obeleh commented on #238
Whoops. Accidently closed the issue when all I wanted to do is mention that I've sent a pull request

[2011-08-20 22:19] #238 closed, assigned to nobody

[2011-08-24 15:23] obeleh commented on #195
I currently have a Ghost ranking but my ranking (based on skill) should be higher than my Ghost ranking. Shouldn't it be updated?

http://aichallengebeta.hypertriangle.com/profile.php?user=595

From the rankings:

155 ↓ PositivaPatrik      Royal Institute of Technology of Stockholm  C++ 8   47.20 ↓   3286    20
(>")>   Obeleh      University of Amsterdam C#  5   47.13 ↑   7   191
156 – DojoBot

[2011-08-24 18:01] jennifersmith opened #240 "Not appearing in rankings for my organisation or language or global"
Hello,

I seem to have disappeared from the global/organisation/language rankings although I have a (rather low!) ranking appearing on my profile page:

http://aichallengebeta.hypertriangle.com/profile.php?user=618

I believe the ranking is correct based on the skill points I have but I don't seem to find my name anywhere.

thanks

Jen

[2011-08-26 01:27] jennifersmith commented on #240
Actually - could you just delete that account please?

[2011-08-26 08:02] mleise opened #241 "The CSS is misbehaving"
In Opera I have some strange CSS formatting errors that can be seen here: http://img831.imageshack.us/img831/8656/cssbug.png . This happens when I close/open the browser. Sometimes when I just switch to another tab the result is more ugly.
I also noticed that I have to explicitly set "display:table", "display:table-row" and "display:table-cell" for elements of a table that I generate in the visual

[2011-08-27 17:44] Janzert commented on #240
The reason the account wasn't showing up in the leaderboards was becase the script to update the leaderboards had crashed.

Probably the best way to disable an account at least for now during beta is to simply submit a broken bot that doesn't build.

[2011-08-27 17:44] #240 closed, assigned to nobody

[2011-08-29 05:16] submitteddenied commented on #217
I resolved this by throwing the code from [here](http://code.activestate.com/recipes/576693/) into a file called `ordereddict.py` in the ants folder.

You can also try `pip install ordereddict`

Otherwise, I think the best bet is to upgrade Python :)

[2011-09-03 06:22] fabrice-decreau opened #243 "My bot is not being tested"
I have uploaded a new version of my bot twice in the last 24 hours, and neither have been tested, although they compile fine.
http://aichallengebeta.hypertriangle.com/profile.php?user=299

It always says that there is 1 player ahead of me, it looks quite buggy.

[2011-09-03 14:17] ashokae commented on #215
This prblem has worsened now. Of the current first 13 bots, 10 are no longer playing against each other! (revolt, sir_macelon, Kadiyaa, GreenTea, DarkMomo, eashoka, traveray, paratrechina, ThisIsNotaBug, Hammerock)  So the ranking among them is calculated simply using their performance against mathis, UVAnts and Trumpet.

This problem seem worsening. Until recently DarkMomo and revolt was availabl

[2011-09-03 14:23] ashokae commented on #195
Now that ghost rankings are no longer there, (for most bots) I kind of miss them.

Since a new version of a bot takes several days to reach it's previous ranking, ghost rankings were useful actually to give someone a more correct ranking list.

How about just explaining their functionality well and keeping them ?

[2011-09-03 14:27] ashokae opened #244 "Some bots get restricted in availalable maps to play over time."
For instance, see the recent games of sir_macelon or kadiyaa.

They are playing height_map_7 and height_map_8 over and over for the last week or so.  This also means they get only 1-1 player matches all the time, no multi player games anymore.

Even the other bots are reaching that stage. I see a pattern that bots get first restricted to 6 maps, then 4 and finally 2. Currently there are many other

[2011-09-05 07:14] ashokae opened #245 "ratings get decreased after winning a game"
2 Sep 11:03 96.89 –   1st-FlagCapper2nd-phillc    1st of 2    height_map_8    226 turns » Won at 32 »
2 Sep 4:30  96.90 –   1st-FlagCapper2nd-deepblue  1st of 2    height_map_7    90 turns » Won at 12 »

In above, FlagCapper has lost in skill level (0.01 of a point to be exact) after winning a game (with phillic) no matter how low rank the opponent is, one should not be loosing skill points after

[2011-09-05 07:37] ashokae opened #246 "some maps (with the placing of food spawns) encourage random results."
Some maps have spots of high food spawn concentrations at the start. for example height_map_8. At the start ,bots are blind due to fog of war, so if some bot blindly moves in the direction of such a spot, that bot would have a higher chance of winning the game on a stroke of luck.

Ideally food should be placed evenly distributed across the map at the start. During the play, food spawns should be

[2011-09-05 07:59] ashokae opened #247 "Better scoring system than 2 bonuses on every kill."
Current scoring system of 2 points for any kill seem bit naive. Simply because one get 2 points even when ones own ant get dies. that is even when a collision of ants (which doesn't require much skill or strategy).

Ideally what we should measure is how good and effective, efficient a bot is in battle. So it's better to measure the kill-loss ratio instead. say, +1 for a kill and -1 for a loss. The

[2011-09-05 16:26] McLeopold commented on #247
The scoring needs to encourage a steady improvement in bot strength.  There are 2 things to consider: growth and fighting.  Currently you get 1 point per ant to reward efficient growth.  The -1 point per loss would counteract this and effectively be a bonus for the number of ants left at the end of the game.  Currently fighting well get's you 2 points per kill (shared among attackers.)  It is 2 po

[2011-09-05 16:30] McLeopold commented on #245
Can you provide links to the 2 games?  We can look at the before and after numbers and run them through various trueskill implementations to see if there is a bug.

[2011-09-05 17:45] ashokae commented on #245
http://aichallengebeta.hypertriangle.com/visualizer.php?game=160606&user=7

another one,

4 Sep 16:55 95.46 –   1st-revolt2nd-phillc    1st of 2    height_map_7    186 turns » Won at 39 »
link : http://aichallengebeta.hypertriangle.com/visualizer.php?game=161667&user=407

[2011-09-06 06:29] ashokae commented on #247
Your arguments make sense and the example I have given may be not suitable to describe the issue I tried to convey. Will try to dig up those games I have seen which produced those odd results. Meanwhile the issue I tried to raise was :

We are giving bonuses only for kills but a kill can happen in many ways.
1) a simple one on one exchange. (this is no indication that a bot is good at battle or wi

[2011-09-06 07:16] ashokae opened #248 "skill level changes look inconsistant"
Please ignore this issue if it is a case of incorrect understanding of the Trueskill behavior from my part. I'm not 100% sure whether this is a issue but it sure looks suspicious.

6 Sep 2:38  94.52 –   1st-GreenTea2nd-apertu3rd-phillc4th-matteo_solstice5th-TrumpeT  1st of 5    symmetric_32    451 turns » Won at 404 »

5 Sep 19:55 94.48 ↑   1st-GreenTea2nd-Speedy_Consoles3rd-zounds4th-UvAntsBeta5t

[2011-09-06 16:48] McLeopold commented on #248
GreenTea is near the top of the maximum skill points.  He is expected to win almost everything and can't really gain much from any match, only hold a high skill.

Using the following sql I can get the before and after numbers:

[code]

Acording to the microsoft online calculator at http://atom.research.microsoft.com/trueskill/rankcalculator.aspx we should have gotten this:

[code]

These numbers a

[2011-09-06 17:21] McLeopold commented on #247
I believe this is your argument: In general, a bot that participates in more battles will have a higher score, regardless of skill.  This means a less sophisticated bot may earn more points than a more sophisticated bot due to position on the board.

Hopefully the games are long enough that the differences in bots become apparent.  If a bot is truly more sophisticated, it shouldn't be in a positio

[2011-09-06 17:24] McLeopold commented on #245
In both of those games, the mu went up, but the uncertainty went up as well.  Both winners are very close to 100.

[2011-09-06 17:27] McLeopold commented on #246
That cluster of three was placed on the map twice.  Both bots had the same opportunity.  Part of a good bot should be quick exploration of the area.

We aren't going to bias food placement by anything on the map, especially other food.

[2011-09-06 17:27] #246 closed, assigned to nobody

[2011-09-06 17:33] McLeopold opened #249 "link to .map file"
On the profile page, there are links to the recently played maps, for instance http://aichallengebeta.hypertriangle.co ... _map_8.map.

On the map page, the name of the map is shown at the top. In case the particular map is not included in the start package, it's nice to be able to download the map. Please make the name of the map a link, so it can be downloaded.

After consulting your IRC channel

[2011-09-06 17:34] McLeopold opened #250 "unicode support and html entities"
I "About me" I wrote:
test æøå
<b>html</b>
line 3

When viewing it, the text became:
test Ã¦Ã¸Ã¥ <b>html</b> line 3
1. You ought to properly support unicode.
2. You ought to replace \n with <br/> and \r with nothing.

< and > is seen as < and > when viewing - thumbs up for that. No reason to allow html there.

[2011-09-06 23:33] McLeopold commented on #243
Ouch, sorry about that.

You got stuck in the system for quite some time.  It should be back to normal now.

[2011-09-06 23:33] #243 closed, assigned to nobody

[2011-09-07 21:42] fabrice-decreau commented on #243
Thanks for getting me unstuck, but it seems I got stuck again, because my bot has been tested three times in a row, and then it stopped again.

-----Message d'origine-----
De : Scott Hamilton [mailto:reply@reply.github.com]
Envoyé : mercredi 7 septembre 2011 01:33
À : fabrice-decreau
Objet : Re: [aichallenge] My bot is not being tested (#243)

Ouch, sorry about that.

You got stuck in the system f

[2011-09-08 00:16] McLeopold commented on #243
This time, everyone is stopped because the workers are down.

[2011-09-09 23:42] #250 closed, assigned to nobody

[2011-09-10 00:18] #248 closed, assigned to nobody

[2011-09-10 00:18] #249 closed, assigned to nobody

[2011-09-10 00:19] #245 closed, assigned to nobody

[2011-09-10 00:21] McLeopold commented on #235
Recent changes should have fixed this issue.  The matchmaking sql was limiting potential matches to 100 submissions to prevent calculating too much.  The ordering was not correct, so the 100 selected were database order, or probably lower submission numbers.  This has been fixed.  Watch for the numbers to stabilize some.  Submissions that got cheated will still look bad because the game rate is ca

[2011-09-10 00:23] McLeopold commented on #234
Yes, this is bad.  This issue is a duplicate of issue #219.

[2011-09-10 00:23] #234 closed, assigned to nobody

[2011-09-11 05:25] #235 closed, assigned to nobody

[2011-09-11 06:14] #244 closed, assigned to nobody

[2011-09-11 06:47] #219 closed, assigned to nobody

[2011-09-11 06:48] McLeopold commented on #215
Latest changes should have fixed this.

[2011-09-11 06:48] #215 closed, assigned to nobody

[2011-09-11 15:46] ashokae commented on #215
great job! working beautifully now. tx.

[2011-09-12 02:27] McLeopold commented on #143
Done...awhile ago.

[2011-09-12 02:27] #143 closed, assigned to McLeopold

[2011-09-12 02:35] McLeopold commented on #180
Okay, I think this issue is obsolete.  Rankings are now calculated per game and results in the rankings list should match the submissions pages.  Bots will still drop in rank due to other games they don't participate in, but this would happen no matter what system we used.

[2011-09-12 02:35] #180 closed, assigned to McLeopold

[2011-09-12 02:39] McLeopold commented on #195
They are removed, they may come back later.

[2011-09-12 02:39] #195 closed, assigned to McLeopold

[2011-09-12 02:41] #179 closed, assigned to McLeopold

[2011-09-12 02:41] McLeopold commented on #179
Recent changes to the matchmaker should have fixed this issue.

[2011-09-12 03:08] #175 closed, assigned to McLeopold

[2011-09-12 03:23] McLeopold commented on #217
code looks different now, works with 2.6

[2011-09-12 03:23] #217 closed, assigned to nobody

[2011-09-12 03:25] McLeopold commented on #174
ghosts are gone, rankings table not used

[2011-09-12 03:25] #174 closed, assigned to McLeopold

[2011-09-12 19:08] #168 closed, assigned to nobody

[2011-09-12 19:09] #173 closed, assigned to McLeopold

[2011-09-12 19:12] McLeopold commented on #194
It works good enough.

[2011-09-12 19:12] #194 closed, assigned to McLeopold

[2011-09-14 15:57] McLeopold commented on #191
We've switched to the moserware/PHPSkills project.  This also has the benefit of streamlining the calculations into the api_game_result page so the database isn't in a state of flux for a second.

[2011-09-14 15:57] #191 closed, assigned to nobody

[2011-09-14 23:30] McLeopold commented on #197
The replay contains this for a server name:

"location":"aichallengebeta.hypertriangle.com"

The map is not supposed to be the starting state.  It will be either the final or the most significant turn as defined by the "won at" code.  This is so that a thumbnail could be created that would represent the game, not just the map.

[2011-09-14 23:30] #197 closed, assigned to McLeopold

[2011-09-14 23:32] McLeopold commented on #187
This has been done.  I might still create a query of last bot error or something.

[2011-09-14 23:32] #187 closed, assigned to nobody

[2011-09-14 23:32] McLeopold commented on #178
Done.

[2011-09-14 23:32] #178 closed, assigned to McLeopold

[2011-09-14 23:34] McLeopold commented on #158
Done

[2011-09-14 23:34] #158 closed, assigned to nobody

[2011-09-14 23:35] McLeopold commented on #150
Symmetry is now auto-detected, as of like 3 months ago.

[2011-09-14 23:35] #150 closed, assigned to McLeopold

[2011-09-14 23:36] McLeopold commented on #144
Done.

[2011-09-14 23:36] #144 closed, assigned to nobody

[2011-09-14 23:37] McLeopold commented on #136
Mostly done and mostly good enough.  Individual starter package problems should now be reported as separate issues.

[2011-09-14 23:37] #136 closed, assigned to n-ham

[2011-09-14 23:38] McLeopold commented on #10
OMG! JEFF! WHERE ARE YOU!

[2011-09-14 23:38] McLeopold commented on #101
We've made mleise do enough for now.  He can be free to have a snack.

[2011-09-14 23:38] #101 closed, assigned to mleise

[2011-09-14 23:39] McLeopold commented on #54
Symmetric only.  This awesome feature will have to wait for another game.

[2011-09-14 23:39] #54 closed, assigned to n-ham

[2011-09-14 23:40] McLeopold commented on #237
It might be the compiler puts errors on stdout.  If you can verify this is the case, then the fix will be to provide a list of output files for each step to verify that things are working.  Then we can spam you with stdout if the files are missing.

[2011-09-14 23:41] McLeopold commented on #206
I think the deadzones are in.  Anyway, the game spec is going to stay and not be changed at this point.

[2011-09-14 23:41] #206 closed, assigned to nobody

[2011-09-14 23:45] McLeopold commented on #210
In the second case, this was caused by the poor matchmaking algo at the time.  Each replay file has a different matchup number.  The algo has since been fixed.  This is not a case of 2 workers grabbing the same matchup data.

[2011-09-14 23:45] #210 closed, assigned to nobody

[2011-09-14 23:46] McLeopold commented on #247
No further ideas, so I'm closing this.

[2011-09-14 23:46] #247 closed, assigned to nobody

[2011-09-14 23:49] McLeopold commented on #241
Your input function has the potential to load resources from the first js linked file's domain.  The google font api is a javascript file, so maybe Opera pulled in some funky font that matches the name of one of the visualizer js files?  The input function has since been fixed.  Maybe so more stress testing to see if it goes away.

P.S.

That is the most awesome error screen shot I have ever seen

[2011-09-14 23:52] McLeopold commented on #229
According to the replay, food_start was 148, with the food_rate at 2 and food_turn at 13.  Can you try setting up a game with those values with that map to see if it happens again?

[2011-09-15 03:02] amstan commented on #10
Sent him a text, He might appear sometime.

[2011-09-15 04:02] mleise commented on #241
The minified version in use on the server doesn't use the import function. It must be something else. The situation may have changed now that the page loads much faster. I'll keep an eye on it.

[2011-09-15 07:26] sir-macelon commented on #229
How can I easily check what was the map name?
There's no such info in the replay.
There could be some link to the map on the game page to download it.
And maybe the "Game #XXX" link (on the game page) could be used for easier replay downloading instead of redirecting back to the same page?

[2011-09-15 07:55] sir-macelon commented on #229
I've already found it is symmetric_38 map.
As I've checked it locally, after downloading latest source code from git, the problem is still there.
There is a food_visible parameter, which is specified in playgame.py, but it is not stored in replay.
If you set the food_visible to 3, then you get no food, otherwise you get 1 starting food per ant if you set food_visible to 2, and 2 starting food for

[2011-09-18 09:47] mleise opened #252 "Eclipse projects?"
First of all, let me say that I know that a source code repository is supposed to be environment and IDE agnostic. I don't want to change that.
I use Eclipse for projects in D, JavaScript and Java and from our .gitignore file I read that at least on other developer uses Eclipse PyDev. So probably this extends to many of us on Windows/Linux/MacOS X.
I propose that we add a directory 'eclipse_projec

[2011-09-18 15:01] McLeopold opened #253 "bot compilation should allow temporary files"
The golang is failing because temporary compilation files are deleted between commands.

[2011-09-20 22:42] amstan commented on #128
`faq.php` contains info about the planet wars.

The pages you mentioned @aerique should also be linked from the wiki.

[2011-09-21 10:35] sir-macelon commented on #247
I have a proposal for an algorithm: https://gist.github.com/1231764

[2011-09-21 11:12] ashokae commented on #247
I too have some further comments :

What about having the following as the scoring algorithm :

score = (no_of_ants_killed - number_of_ants_lost) \* battle_weight + Remaining_ants_at_the_end

Here, battle_weight is a number (say, 2 or 3). First part of the score will determine how good a bot is in battle and it will take both attack and defence skills. We could use the weight to increase/decrease

[2011-09-21 13:05] sir-macelon opened #255 "Let bots get to know if they are leading the game or not"
Currently it is almost impossible for a bot to know what are the actual ranks in a game.
Even if it is able to see every tile on the map, it will never get to know what are the opponents scores.
So when approaching the game turn limit the bot doesn't know how it is performing and cannot plan its strategy accordingly.
This leads to more guessing game, which increases the luck factor about the final

[2011-09-21 15:58] McLeopold commented on #247
With a inconclusive score difference of 20%

[code]

690 is within 20% of 855 and 520 is within 20% of 690, but 520 is much lower than 855 yet they have the same rank.  We could find an example of this for any percentage.

Maybe if 2 bots are given the same rank, average the scores for the next check?

[2011-09-21 16:27] ashokae commented on #247
Ok, if we average :

855 ->1
690 -> 1   (average of first 2 is 772)
620 ->1    (within 20% of 772)

still, the difference between 620 and 850 is well above 20% but we are giving them same rank. If there is a 4 th bot
as well......

If the scores are inconclusive may be we can let the game run for few more turns ? If it is still too close after an extended turn limit, may be it's better to let what

[2011-09-22 13:12] sir-macelon commented on #247
What example would be for 10%? Basically this percentage shouldn't be as high as 20% in my opinion.

[2011-09-22 17:28] McLeopold commented on #247
You'd probably need a nice clustering algo http://en.wikipedia.org/wiki/Cluster_analysis

[2011-09-23 19:47] ChrisHines opened #257 "User profile page next game prediction time (very) innaccurate."
The next game prediction time on the user profile page is (very) innaccurate.

Not only does it frequently show negative times, but it consistently underestimates the time. My account (http://aichallengebeta.hypertriangle.com/profile.php?user=815) is currently getting in a game about once an hour, yet just after a game the predicted next game is typically about 30 minutes.

[2011-09-25 13:07] ashokae opened #259 "A head to head count section for the profile page (a feature request)"
It would be very cool if we can a simple table at the end of the profile page listing head to head counts against nearby bots.

Say it can have 10 bots immediately higher and 10 bots immediately lower than the given bot.

Against each of those opponent, the table will show the win-loss counts in lets say last 10 games the profile had with that particular opponent. This table will have to be refres

[2011-09-25 14:20] ChrisHines opened #260 "Game rate on profile page and standings page don't match."
The game rate displayed in the recent submissions section of user profiles does not match the game rate displayed for the same user on the current rankings page.

[2011-09-25 16:40] McLeopold commented on #257
dup of issue #194

[2011-09-25 16:40] #257 closed, assigned to nobody

[2011-09-25 16:40] McLeopold commented on #260
Game rates will be removed after beta.

[2011-09-25 16:40] #260 closed, assigned to nobody

[2011-09-26 02:30] ChrisHines opened #262 "A blank game appears after uploading first submission."
After creating a new account and uploading a code submission, a blank game is displayed on the user's profile page.

[2011-09-26 03:32] ChrisHines opened #263 "Extinct bots are not marked as dead in the visualizer until the game ends."

[2011-09-26 13:56] olexs opened #264 "Hill bonus is not counted in 1-on-1 games"
For example, see http://aichallengebeta.hypertriangle.com/visualizer.php?game=323&user=4

My bot (leviathan) takes out all the other's ants, but not yet the hill. Game ends with 1 point for every player, my bot gets a "bonus" of 2 points displayed (since he would have taken out the hill if the game continued), but it does not count for the final standings - both players are displayed as "1st" in p

[2011-09-26 16:32] #264 closed, assigned to nobody

[2011-09-27 04:56] Janzert commented on #263
mleise fixed earlier

[2011-09-27 04:56] #263 closed, assigned to nobody

[2011-09-27 04:59] Janzert opened #265 "Hills destroyed after owner is dead do not change owner's score."
Currently the owner of a hill loses a point when one of their hills are destroyed. At the very least this is not being displayed in the visualizer if the owner is already dead (lost all ants, crashed, etc.)

[2011-09-27 05:11] Janzert commented on #265
Looks like one hill is subtracted at the moment of death, but not the any extra hills in the case of multi-hill maps.

[2011-09-27 07:58] gattschardo opened #266 "Erlang starter package"
I've written a starter package for erlang which implements all the must have and a couple of the optional helper functions. It passes the test_bot.sh script successfully on my machine. It doesn't run properly on the beta server though because the options I suggested for compile.py are broken. The best way to fix it would be to switch to using the ExternalCompiler, that is

[code]

should be change

[2011-09-27 10:25] Momotebo opened #267 "Hill in water"
As you can see in this game a hill has spawn inside water, so it is unreachable:

http://aichallengebeta.hypertriangle.com/visualizer.php?game=784&user=26

[2011-09-27 14:43] olexs commented on #199
The page is there now: http://antsbeta.janzert.com/games.php, but not linked anywhere.

[2011-09-27 17:55] Janzert commented on #265
This seems to be fixed now.

[2011-09-27 17:55] #265 closed, assigned to nobody

[2011-09-27 17:56] Janzert commented on #267
Thanks, the map has been disabled. The generator was already previously fixed to prevent it as well.

[2011-09-27 17:56] #267 closed, assigned to nobody

[2011-09-28 02:34] ChrisHines opened #269 "Game results on user profiles do not match the visualizer."
In this game:  http://aichallengebeta.hypertriangle.com/visualizer.php?game=1152&user=5 the visualizer shows the game ending with InsaneMalkavian ranked #1 with 35 points (23 + 12 bonus), and ChrisH ranked #2 with 27 points ranked #2.

But on the user profiles pages and the game list page, that game displays ChrisH as getting rank 1 and InsaneMalkavian as rank 2.

[2011-09-28 03:03] McLeopold commented on #269
This is a visualizer issue.  The last score in the score history displays the the scores with the bonus.  The visualizer is adding the bonus in.  The ranks part of the replay is being ignored.

[2011-09-28 06:05] flagcapper opened #270 "Some maps generate with trapped hives"
http://aichallengebeta.hypertriangle.com/map.php?map=multi_hill_maze/multi_maze_06.map

The hives in the top left area of the map are useless.

[2011-09-28 06:27] n-ham commented on #270
This was my bad when I added multiple hives per ant to the maze map generator but it's since been fixed. Eventually all such maps wont be used on the server any more, sorry in the meantime.

[2011-09-28 06:27] #270 closed, assigned to nobody

[2011-09-28 17:35] #269 closed, assigned to mleise

[2011-09-29 17:27] RVeerdonk opened #271 "Ants.py crashes when two ants collect same food"
Two enemy ants collecting the same food crash play_one_game.cmd locally. The cause is a call to "do_spawn" without an owner specified in "remove_food". Draft patch from a non-proficient python user:

diff --git a/ants/ants.py b/ants/ants.py
index f6373d8..494f89f 100644
--- a/ants/ants.py
+++ b/ants/ants.py
@@ -645,7 +645,7 @@ class Ants(Game):
                 self.remove_food(f_loc, owner)

[2011-09-29 17:44] RVeerdonk opened #272 "Food spawning on hills"
Not sure if this is intentional, but I have seen one instance of food spawning on an available ant-hill.

If only I could remember where I saw it ...

[2011-09-29 18:46] McLeopold commented on #272
It should not be happening.  If you can find a link to a game, that would be helpful.  I will double check the code to make sure it doesn't happen.

[2011-09-29 19:54] RVeerdonk commented on #272
The function "get_symmetric_food_sets" creates the symmetrically equivalent food-sets (L1217). There is a check that skips "initial_ant_list" locations (L1252). Those in turn are initialized with all the hill locations during initialization (L129). So, I agree with you that this should not happen. If I see it happen again, I'' post a link here.

[2011-09-29 20:07] Janzert commented on #253
was a different problem that is now fixed

[2011-09-29 20:07] #253 closed, assigned to Janzert

[2011-09-29 20:11] #211 closed, assigned to nobody

[2011-09-29 20:13] Janzert commented on #252
These were added

[2011-09-29 20:13] #252 closed, assigned to nobody

[2011-09-29 20:14] Janzert commented on #199
game list has been added and linked in sidebar

[2011-09-29 20:14] #199 closed, assigned to McLeopold

[2011-09-29 22:23] Momotebo opened #273 "One remaining map with trapped hives"
multi_maze_17

http://aichallengebeta.hypertriangle.com/visualizer.php?game=3696&user=26

[2011-09-29 22:35] #271 closed, assigned to nobody

[2011-09-29 23:32] RVeerdonk commented on #272
Here are a few examples (there are multiple equivalent positions on each map for each link):
http://aichallengebeta.hypertriangle.com/visualizer.php?game=2550&user=49&turn=15&row=15&col=67
http://aichallengebeta.hypertriangle.com/visualizer.php?game=2550&user=49&turn=323&row=22&col=59
http://aichallengebeta.hypertriangle.com/visualizer.php?game=2651&user=49&turn=832&row=32&col=72  http://aichallen

[2011-09-30 00:07] RVeerdonk commented on #272
more examples:
http://aichallengebeta.hypertriangle.com/visualizer.php?game=1049&turn=622&row=21&col=6
http://aichallengebeta.hypertriangle.com/visualizer.php?game=409&turn=797&row=9&col=121
http://aichallengebeta.hypertriangle.com/visualizer.php?game=423&turn=543&row=109&col=77
http://aichallengebeta.hypertriangle.com/visualizer.php?game=445&turn=173&row=32&col=22
http://aichallengebeta.hypertria

[2011-09-30 00:31] RVeerdonk opened #274 "Save current state as map-file from visualizer"
It would be extremely useful for bot-debugging purposes if one could stop a game-replay in the visualizer at some interesting turn and save the state in map-format.

[2011-09-30 06:08] #272 closed, assigned to nobody

[2011-09-30 19:53] olexs opened #275 "Change "Spring 2011" in website header to something more appropriate"
I think every beta participant is so used to seeing it there we're not noticing it anymore... but regular users will be like WTF.

[2011-09-30 21:05] teuneboon commented on #275
So it's not in spring, the release will still be in winter? _confused already_

[2011-09-30 22:10] Janzert commented on #273
Thanks, disabled.

[2011-09-30 22:10] #273 closed, assigned to nobody

[2011-09-30 22:11] Janzert commented on #266
This should be fixed. If you could test it and maybe post your starter bot would be great.

[2011-10-01 08:05] gattschardo commented on #266
It is partly working, now... when I submit code consisting of just one file (this being called `my_bot.erl'), it compiles and runs just fine. Whenever I submit something with more than one .erl file (including my_bot.erl, of course), I get a compile error though, and it says

[code]

If you know how to fix compilation of multiple files, that would be great. By looking at compile.py I think it shou

[2011-10-01 18:10] mleise commented on #274
This is in deed useful. I don't want to add more buttons to the visualizer though. Menus would be one way to hide the complexity away. I'll keep the issue open. Maybe we will come back to it again or I get a flood of people requesting this feature.

[2011-10-02 11:03] Janzert commented on #266
Could you post the exact command as you would run it to compile a multi-file submission? Basically after reading the erlc documentation it looked like it just needed all .erl files given as arguments to one erlc command (e.g. "erlc my_bot.erl extra_file1.erl extra_file2.erl") so that's what I have the compiler script doing now. Having access to the actual starter bot would also make it a little ea

[2011-10-02 15:37] gattschardo commented on #266
The example you give should work fine (and does indeed on my machine). The option we were going for before, which would have been calling "erlc file.erl" for all files in the current dir ending in .erl will also work. Both don't seem to work on the server though, for whatever reason. I just tried the new way, it still says my_bot.beam was not created (and still works fine for a single file).

I've

[2011-10-03 00:48] Janzert commented on #266
I don't think it is the cause of the problem above, but I'm getting an error when I try and compile the bot manually:
$ erlc my_bot.erl map.erl ants.erl
./ants.erl:144: function min/2 undefined
./ants.erl:145: function min/2 undefined

Not sure how to check the erlc version but erl startup looks like this:
$ erl
Erlang R13B03 (erts-5.7.4) [source] [64-bit] [rq:1] [async-threads:0] [hipe] [kernel-p

[2011-10-03 20:40] gattschardo commented on #266
Okay, thanks for that information! It is just a minor incompatability between ubuntus erlang version (R13B, as reported by you) and mine (R14B). I totally expected to see compiler error messages, which is why I did not even think about that. The fixed starter package is available here:

[code]

It still prints debug info to stderr, but I guess that won't be a problem (and anybody knowing erlang sh

[2011-10-03 20:40] #266 closed, assigned to nobody

[2011-10-04 06:14] Janzert commented on #275
Thanks, got it.

[2011-10-04 06:14] #275 closed, assigned to nobody

[2011-10-04 06:14] Janzert commented on #262
Fixed, thanks.

[2011-10-04 06:14] #262 closed, assigned to nobody

[2011-10-04 06:16] Janzert commented on #255
Closing since the game has changed since it was filed and I think it could very possibly provide bad incentives now.

[2011-10-04 06:16] #255 closed, assigned to nobody

[2011-10-04 06:21] Janzert commented on #226
compilation is done on the workers, i.e. the same servers that games are played, not the main server. Anyway closing this since it seems nobody is having problems with it recently.

[2011-10-04 06:21] #226 closed, assigned to nobody

[2011-10-04 06:22] Janzert commented on #218
closing as this seems to be working correctly now.

[2011-10-04 06:22] #218 closed, assigned to nobody

[2011-10-04 11:23] aerique opened #276 "License the whole repository properly"
The CoffeeScript, OCaml and Scala starter bots (at least) mention the Apache license in their "Google AI Challenge Blurb".  This is a copy from the Planet Wars README that came with the bots for that challenge.

Is this license info correct and is this the proper place to store that information?  (Since none of the other bots do this.)

[2011-10-05 10:29] stepanpalamarchuk opened #277 ""Battle resolution" section in specifications is not shown"
The error is in line 34 of "aichallenge/website/specification.php"

34: <code></code>
Should be
34: <code></code>

[2011-10-05 20:00] #277 closed, assigned to nobody

[2011-10-07 12:15] orian opened #280 "bot input specification"
Hi,

I think that would be very helpful to add more specific bot input:
e.g.:
    "loadtime"       # in milliseconds, int, 0 < loadtime < 2^31-1
    "turntime"       # in milliseconds, int, 0 < loadtime < 2^31-1
    "rows"           # number of rows in the map, int, 0 < loadtime < 500
    "cols"           # number of columns in the map, int, 0 < loadtime < 500
    "turns"          # maximum number

[2011-10-07 15:52] McLeopold commented on #280
Added note that all numbers will be 32bit signed integers.  I'm not willing to specify lower limits, even though it is 99% probably they will be correct.

[2011-10-07 15:52] #280 closed, assigned to nobody

[2011-10-07 23:14] McLeopold commented on #122
done!

[2011-10-07 23:14] #122 closed, assigned to McLeopold

[2011-10-09 14:45] Momotebo opened #282 "map with trapped hills"
multi_maze_03

http://aichallengebeta.hypertriangle.com/map.php?map=multi_hill_maze/multi_maze_03.map

[2011-10-09 20:48] Janzert commented on #282
Thanks, disabled.

[2011-10-09 20:48] #282 closed, assigned to nobody

[2011-10-12 12:45] aarossig opened #285 "Revert the Header Size"
I created the original design of the site. I am not happy with the new header.

The height is far too short in proportion to the size of the navigation bar on the left. I tested the original design on varying screen resolutions. The vertical space that is used for the title doesn't interfere with the content. It looked good right down to my 1024*600 Netbook.

[2011-10-12 12:54] amstan commented on #285
I don't like the new change either.
A few other people on irc agree with me too.
- Maybe make it 150px if you really want to shorten the header.
- Sign in should stay in the header, it keeps things balanced.
- Do not have overlapping things, it looks weird
- What's with the white shadow?

[2011-10-12 15:35] McLeopold commented on #285
The front page content isn't really set yet.  I think we should put in some effort to make a great landing page first.  After that, we can decide what should be above the fold and define the height from that.

If the large header looks best on the front page, I suggest making a smaller header for all the other pages.  It was shrunk because too much space was being used up, causing constant scrolli

[2011-10-12 18:20] Janzert commented on #285
As of a few minutes ago the header height is now 50% of the sidebar width. I really don't like the idea of expanding the header back to almost the same height as the sidebar is wide (although it never was quite the same that I see). I'd much rather keep as much useful content space above the fold as we can, even for the front page.

[2011-10-13 02:59] aarossig commented on #285
@McLeopold -- Yeah, I understand where you are coming from in regards to the scrolling issue. In the end, most of our traffic will be return visits and for those guys, HTML with no styles would probably suffice, but it is about making it aesthetically pleasing. I merely feel that it looked very eye-catching with the large header. I have far more experience with print design, but if I can use the t

[2011-10-13 05:02] McLeopold commented on #285
The large header _did_ look nicer.  A splash page would be awesome.  I'll get a login cookie working, so it can work well for the regulars.

[2011-10-13 12:30] aerique commented on #285
It's not just the size that was changed but someone tarted it up with lighting effects that makes it look cheap instead of professional.

[2011-10-13 19:03] Janzert commented on #285
The only extra "lighting effect" that wasn't there before is the glow behind the word Ants. The rest of it has been there for the last few months at least.

[2011-10-17 00:12] mleise commented on #10
This issue is closed, I've heard!

[2011-10-17 00:12] #10 closed, assigned to j3camero

[2011-10-17 00:19] mleise commented on #149
http://en.wikipedia.org/wiki/Swastika

[2011-10-17 18:20] mleise opened #286 "NodeJS upgrade required?"
http://ai-contest.com/forums/viewtopic.php?f=25&t=1484

Seems like with the version listed as supported, bots can not be developed on Windows.

[2011-10-17 19:59] Janzert commented on #286
I'm not terribly familiar with nodejs but I'd rather stick with their stable version. If someone that _is_ familiar with it can say that unstable isn't really that unstable then I could probably be persuaded otherwise.

[2011-10-17 22:23] McLeopold commented on #286
On win7-64, node v0.5.8 and v0.5.9 are unstable within the sandbox framework.  v0.5.7 and below works good.  All versions work when just redirecting a bot input file to the program.

I would recommend keeping the nodejs version on the workers at stable, and letting windows users know to avoid the higher unstable versions.

[2011-10-17 22:28] mleise commented on #286
Can you post this in the forum thread above as well? It may be the first place that Windows users look for help.

[2011-10-18 14:43] mleise opened #287 "Web site inconsistencies"
http://aichallenge.org/starting_your_own.php
There is still PlanetWars content up on the website, that needs to replaced as reported here: http://ai-contest.com/forums/viewtopic.php?f=25&p=9390

http://aichallenge.org/ants_tutorial.php
Needs to embed the visualizer. It jumps right into full-screen mode for me.

http://aichallenge.org/specification.php
This page has no navigation menu in Opera and

[2011-10-18 15:13] mleise commented on #128
I tried to assemble an up-to-date list.

http://aichallenge.org/starting_your_own.php
Contains PlanetWars content as mentioned above and reported here: http://ai-contest.com/forums/viewtopic.php?f=25&p=9390

http://aichallenge.org/specification.php
This page has no navigation menu in Opera and Chrome.

http://aichallenge.org/strategy_guide.php
Is still incomplete.

http://ai-contest.com/forum/
Cou

[2011-10-18 15:14] mleise commented on #287
Closed, used the 'website pruning' issue instead

[2011-10-18 15:14] #287 closed, assigned to nobody

[2011-10-18 18:34] amstan opened #288 "Setup google analytics"
Include google api code in server_info.php

[2011-10-18 18:35] amstan opened #289 "Redirect ai-contest.com to new server"
When the time comes.

I either need Jeff to do this when the time comes.
Or he needs to give me access by pointing it to dnsexit's dns servers.

[2011-10-18 18:35] amstan opened #290 "Move forums to new server"

[2011-10-18 18:39] amstan opened #291 "Change worker urls to aichallenge.org"
As opposed to antsbeta.janzert.com.

Then add antsbeta.janzert.com into the redirect vhost.

[2011-10-18 18:40] amstan commented on #285
aarossig told me that he likes the header look now. So I'll close this.

[2011-10-18 18:40] #285 closed, assigned to nobody

[2011-10-18 22:13] amstan commented on #288
Done as described.

However server_info.php is now included in header.php

[2011-10-18 22:13] #288 closed, assigned to nobody

[2011-10-18 22:16] amstan opened #292 "specification.php crashes rendering"
http://aichallenge.org/specification.php

Using chromium.

I can't see the side bar menu either.

[2011-10-18 22:50] amstan commented on #128
I tried to assemble an up-to-date list.

http://aichallenge.org/faq.php
**Done**

http://aichallenge.org/specification.php
See https://github.com/aichallenge/aichallenge/issues/292

http://ai-contest.com/forum/
See https://github.com/aichallenge/aichallenge/issues/290

http://aichallenge.org/strategy_guide.php
http://aichallenge.org/starting_your_own.php
http://aichallenge.org/resources.php
I see

[2011-10-18 23:12] amstan opened #293 "Migrate forums to django"
I'm tired of running phpbb, django forum would be nicer, and easier to integrate with the main site.

[2011-10-18 23:32] Janzert opened #294 "Add password reset mechanism"
Best way to do this is probably to send an email with a new 'confirmation' coded link to a page that would then allow the password to be changed.

[2011-10-18 23:33] Janzert commented on #76
Created a new issue for the password reset.

[2011-10-18 23:33] #76 closed, assigned to Janzert

[2011-10-19 03:18] amstan opened #295 "Google Apps for aichallenge.org"
Set up email lists too.

It would be nice if we could merge the 2 domains google apps wise.

[2011-10-19 03:29] mleise commented on #274
This feature is now implemented in the visualizer. It can also be used on the command-line via a switch to visualizer.jar.

[2011-10-19 03:29] #274 closed, assigned to mleise

[2011-10-19 14:19] amstan commented on #295
@Janzert we need this for launch? Or can i do features rollout?
Maybe i should ask @j3camero.

[2011-10-19 18:53] amstan opened #297 "Compile emails"
Are we still doing these?

[code]

[2011-10-19 18:54] amstan opened #298 "Python required on windows for tools"
A bunch of people came on IRC confused on if and what version of Python they need.

Perhaps this should be mentioned in the tutorial.

[2011-10-19 19:16] Janzert commented on #295
Not strictly necessary for launch. But until it is in place all contest emails will be sent with a from address of janzert@janzert.com. So it would be good to get it as soon as we can.

[2011-10-19 19:42] Janzert commented on #297
No, we simply give the information that was sent in the email directly on the profile page.

[2011-10-19 20:28] syst3mw0rm commented on #294
So we will ask user to fill his email id and then send the 'confirmation' coded link..
I would like to work on this one.

[2011-10-19 21:11] Janzert commented on #292
For some reason the angle bracket escaping using a \ around the word object in:

map <object> This object contains the map.

In the replay format spec was inserting actual < > characters in the html source thus opening an <object> tag and breaking the page.

I changed it to html entity escaping directly and it is working ok now.

[2011-10-19 21:11] #292 closed, assigned to McLeopold

[2011-10-19 22:51] amstan commented on #128
http://aichallenge.org/strategy_guide.php
Is incomplete

http://aichallenge.org/resources.php
Is orphan

http://aichallenge.org/starting_your_own.php
Got deleted

[2011-10-19 22:52] #153 closed, assigned to nobody

[2011-10-20 02:20] mleise opened #300 "C++ Starter Package bug"
http://ai-contest.com/forums/viewtopic.php?f=25&t=1503

[2011-10-20 02:53] Janzert commented on #294
Pretty much. Basically two pages need to be created.

The first should be linked from the login page with a password reset link. It should ask for the username, generate and store a new confirmation code in the database and then send an email to the address in the user's profile with a link back to the second page that also contains the confirmation code in the link. Generating a confirmation code

[2011-10-20 04:54] McLeopold commented on #298
It's mentioned on using the tools, starter packs and the tutorial.

[2011-10-20 04:54] #298 closed, assigned to McLeopold

[2011-10-20 09:46] n-ham commented on #300
Silly error is fixed.

[2011-10-20 09:46] #300 closed, assigned to n-ham

[2011-10-20 14:24] j3camero commented on #295
I can set this up right now. Let me know what we need.

Is the plan to send contest email from Google Apps? We tried that last time
and we got blocked fairly quickly. If we want to send contest mail through
Gmail's servers, do we have a plan for not getting blocked?

On Wed, Oct 19, 2011 at 3:16 PM, Janzert <
reply@reply.github.com>wrote:

[2011-10-20 14:35] MaximeCheramy commented on #295
Why not using a dedicated SMTP server ? You can configure any gmail account to say that your dedicated server is allowed to send email using your account (if you don't configure it, your email might be considered as spam).

[2011-10-20 16:26] amstan opened #301 "Point ai-contest.com to the new server"

[2011-10-20 16:29] amstan commented on #295
We're still sending through amazon. But we still need an inbox to receive all the replies.

@j3camero: How do you merge the 2 domains though?
Can you also make me a domain admin on that?

[2011-10-20 19:07] Janzert commented on #295
To expand slightly on what amstan said. Amazon (wisely) requires a valid and verified from address on emails sent. For the beta and currently this has just been my personal address.
The highest volume of messages coming back are simply bounces from people that enter an invalid address, but there are some legitimate questions as well. I think the best place to end up at eventually would be to use a

[2011-10-20 19:53] j3camero commented on #301
Done. ai-contest.com now points to 107.20.156.231, the same as aichallenge.org.

[2011-10-20 20:07] j3camero opened #302 "Set up Google Analytics for aichallenge.org"
Google Analytics lets us see how much traffic we're getting in more or less real time. It is currently set up for ai-contest.com, the old domain name. I need to make sure that it also works for the new domain name, aichallenge.org.

[2011-10-20 20:08] Janzert commented on #302
It almost certainly is. It seemed to correctly record the hacker news surge yesterday

[2011-10-20 20:18] amstan commented on #301
Problem is that we're not going to use that server yet, it's another server that we'll use for launching.

[2011-10-20 20:54] j3camero commented on #301
Okay, then we will have to update ai-contest.com along with
aichallenge.orgagain.

On Thu, Oct 20, 2011 at 4:18 PM, Alexandru Stan <
reply@reply.github.com>wrote:

[2011-10-20 23:53] amstan commented on #302
@j3camero: i need you to set a new key if you want aichallenge.org separately. We're currently using the key from ai-contest.com.

Also, can i have admin for that?

[2011-10-20 23:54] amstan opened #303 "Starter packages links missing"
For some reason we have a bunch of links on the starter packages inactive, even though they have zip files associated with them.

Like, C and Haskell.

[2011-10-21 03:00] aarossig opened #305 "add_user.php with no arguments returns a list of all users without pagination"
I noticed that it took a while to load. This could be dangerous when we start to get thousands of users.

user_list.php does this as well.

[2011-10-21 03:06] #290 closed, assigned to amstan

[2011-10-21 03:06] #303 closed, assigned to aarossig

[2011-10-21 03:08] j3camero commented on #302
Alex Stan is now an admin on the Google Analytics for ai-contest.com, which also seems to include the traffic for aichallenge.org.

[2011-10-21 03:08] #302 closed, assigned to j3camero

[2011-10-21 03:19] #297 closed, assigned to nobody

[2011-10-21 03:19] #301 closed, assigned to j3camero

[2011-10-21 06:41] jonathanasdf opened #309 "Add C++0x support with new file name extension"
The only difference between this and C++ is every call to g++ must have the -std=c++0x option set.

[2011-10-21 07:31] #291 closed, assigned to Janzert

[2011-10-21 08:10] VictorNicollet opened #310 "Incorrect build command for OCaml starter"
Hello,

The OCaml README.md mentions `ocamlbuild MyBot.native`, the correct build command should be `ocamlbuild -lib unix MyBot.native`. Possible solutions: fix the README.md or add an ocamlbuild configuration file to the package.

[2011-10-21 11:36] olexs opened #311 "Ant colors repeat in visualizer"
Example: http://aichallenge.org/visualizer.php?game=494&user=871

My bot (olex.s) and ornicar are the same color. Not to mention that the contrast of this color to background is virtually non-existant. Colors used in beta were much, much better.

[2011-10-21 18:02] inoryy opened #313 "Game rate not showing correctly in ranking pages"
Currently it's showing game count instead.

Here's the code that's most likely the cause:
https://github.com/aichallenge/aichallenge/blob/epsilon/website/sql.php#L152

[2011-10-21 18:25] mleise commented on #241
It looks like I have the same bug on other websites now and even in the email list. So even if the source was our CSS, there is clearly a serious bug in the browser.

[2011-10-21 18:25] #241 closed, assigned to nobody

[2011-10-21 18:41] McLeopold commented on #305
add_user doesn't exist, did you mean find_user.php?

[2011-10-21 19:27] McLeopold commented on #305
fixedilated

[2011-10-21 19:27] #305 closed, assigned to nobody

[2011-10-21 20:21] Janzert commented on #313
game rate is the number of games played in the last 24 hours. Since the contest has been running less than 24 hours they will be the same at this point.

[2011-10-21 20:21] #313 closed, assigned to nobody

[2011-10-21 20:29] inoryy commented on #313
But why does it state differently <a href="https://github.com/aichallenge/aichallenge/blob/epsilon/website/ranking.php#L271">in the explanation</a>?
Also why is it displayed differently in the profile page (like in the explanation)

[2011-10-21 20:34] Janzert commented on #313
The definition was changed a while back, apparently the description was never updated. Should be fixed now. The rate on the profile page is a completely different measure (i.e. it measures the number of players that play a game per minute globally in the contest).

[2011-10-21 20:57] Janzert commented on #313
and now I see you were probably referring to the submission game rate in the recent submissions table. That does appear to still use the old definition.

[2011-10-21 21:06] inoryy commented on #313
Yeah, I was referring to <a target="_blank" href="http://img14.imageshack.us/img14/5592/screenshot1ai.png">this one</a>

[2011-10-22 03:44] #295 closed, assigned to nobody

[2011-10-23 08:32] mk0x9 opened #320 "Added hill support for haskell starter package"
Update link to repo's HEAD, zip archive on site and package description, please :-)

Here is [pull request with comments](https://github.com/qacek/ants-haskell/pull/1).

[2011-10-23 09:51] mk0x9 commented on #320
More changes are coming, don't mind this issue at this moment.

[2011-10-23 10:41] AlvinMinring opened #321 "Ignore warnings when compiling C++"
gcc warnings are considered to be compilation errors by the server - presumably, they are output on stderr and that's what the compiler worker reads.

But we don't need warnings on the server, so the quick fix would be to compile with the -w option.

[2011-10-23 12:24] Toxaris opened #322 "Signup page rejects valid email addresses"
The signup page for the contest website rejects my email address with the following error

[code]

I double-checked my email address, and it is valid. Looking at the code, I believe the problem is in `process_registration.php`, where the email address is checked as follows:

[code]

I'm not a DNS expert, but I guess that the results of `getHostByName` are not relevant for sending email, because em

[2011-10-23 20:51] #322 closed, assigned to nobody

[2011-10-23 23:11] #289 closed, assigned to j3camero

[2011-10-23 23:12] amstan commented on #188
A lot of people seem to have good results with attaching debuggers to their bots. Languages like C,C# and so on.

In order to do this, they must raise the timeout limit for the engine, so the bot doesn't crash when it breaks at a breakpoint.

[2011-10-24 06:33] Janzert commented on #321
The downside would be, how many of those warnings _are_ actually catching things that would cause the submission to occasionally crash?

As a side note, we've treated warnings as compilation failures in previous contests this isn't anything new.

[2011-10-24 06:46] AlvinMinring commented on #321
It depends a whole lot on how much testing was performed locally before the submission was uploaded.
If the submission has not been correctly tested, the user will probably just fix the warnings until the submission compiles alright, and crashes nonetheless.
If the submission has been correctly tested (as should be the case), I'd say none of them.

For instance, using hash_map raises a backward co

[2011-10-24 06:48] AlvinMinring commented on #309
Seconded - this would be nice to have.

[2011-10-24 07:46] bhargav opened #326 "Incomplete sentence in Ants Tutorial Step 5"
In the "The Code" section at the Step 5 of Ants Tutorial (http://aichallenge.org/ants_tutorial_step_5.php), just before the second piece of code, the sentence is incomplete. It says "Put the following code after the food gathering section and before the".

It is ambiguous where to insert the code and thus possibly affects the tutorial bot.

[2011-10-24 07:46] bhargav opened #327 "Incomplete sentence in Ants Tutorial Step 5"
In the "The Code" section at the Step 5 of Ants Tutorial (http://aichallenge.org/ants_tutorial_step_5.php), just before the second piece of code, the sentence is incomplete. It says "Put the following code after the food gathering section and before the".

It is ambiguous where to insert the code and thus possibly affects the tutorial bot.

[2011-10-24 07:50] #327 closed, assigned to nobody

[2011-10-24 18:38] mk0x9 commented on #311
+1 for beta colors. Need more ACID and VIVID colors.

[2011-10-25 05:37] Janzert commented on #326
I think it's suppose to finish with "exploring code". But I'll let McLeopold say for sure.

[2011-10-26 11:39] ghost commented on #309
I think thay do not know that this issue exist.

[2011-10-26 11:42] ghost commented on #309
The problem is that thay are using gcc 4.5. So c++11 will be of little use.

[2011-10-27 04:58] amstan commented on #276
We eventually need to make a `LICENSE` file in the root folder which applies to the whole repo.

Ideally there should be no other licensing info within (unless it's a submodule); it looks ugly IMHO.

@janzert said that it would require contacting all contributors.

[2011-10-27 04:58] amstan commented on #198
@Mcleopold any ideas on how to do this automatically?

[2011-10-27 05:44] amstan opened #336 "Add debugging features to the visualizer"
The contestants want a way to make the visualizer display lines, circles, shade blocks and a bunch of other things. I think using the visualizer would be much helpful than each contestant inventing some makeshift map output functions to debug their bots(ex: testing how the bot remembers terrain).

[Forums Post](http://aichallenge.org/forums/viewtopic.php?f=25&t=1633&p=9995)

[2011-10-27 19:02] AlvinMinring commented on #309
It'd still give access to things like unordered_map, which would be nice.

[2011-10-28 01:03] kostikvento commented on #266
Sorry for my intervenience, but could you please tell me what command should one pass to playgame.py script in order to use the erlang bot, instead of pythonic "python MyBot.py"?